body {
  font-family: $body-font-family;
  font-size: $global-font-size;
  line-height: $body-line-height;

  & *:focus:not(:focus-visible) {
    outline: 0;
  }

  & *:focus-visible {
    outline: rgba(20, 115, 230, 1) auto 2px;
    outline-offset: -2px;
  }

  & *.neo-set-keyboard-focus {
    outline: rgba(20, 115, 230, 1) auto 2px;
    outline-offset: -2px;
  }

  * {
    margin: 0;
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.neo-global-colors {
  background-color: $global-background;
  color: $global-text-color;
}
