.app {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper__component-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.wrapper__component-group--fixed-width {
  width: 30%;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: medium;
  justify-content: space-evenly;
  padding: 1rem;
}
