---
import NeoLayout from "../layouts/NeoLayout.astro";
---

<NeoLayout title="Avatar">
  <h3>Avatars with borders</h3>
  <div class="avatar-wrapper">
    <figure
      class="neo-avatar neo-avatar--large neo-avatar--default"
      data-initials="MD"
    >
      <img
        class="neo-img"
        src="/assets/images/avatar.svg"
        alt="Middle avatar"
      />
    </figure>
    <figure
      class="neo-avatar neo-avatar--large neo-avatar--success"
      data-initials="MD"
    >
      <img
        class="neo-img"
        src="/assets/images/avatar.svg"
        alt="Middle avatar"
      />
    </figure>
    <figure
      class="neo-avatar neo-avatar--large neo-avatar--warning"
      data-initials="MD"
    >
      <img
        class="neo-img"
        src="/assets/images/avatar.svg"
        alt="Middle avatar"
      />
    </figure>
    <figure
      class="neo-avatar neo-avatar--large neo-avatar--alert"
      data-initials="MD"
    >
      <img
        class="neo-img"
        src="/assets/images/avatar.svg"
        alt="Middle avatar"
      />
    </figure>
    <figure
      class="neo-avatar neo-avatar--large neo-avatar--info"
      data-initials="MD"
    >
      <img
        class="neo-img"
        src="/assets/images/avatar.svg"
        alt="Middle avatar"
      />
    </figure>
  </div>

  <h3>Avatars with Status Icons</h3>
  <div class="avatar-wrapper">
    <figure
      class="neo-avatar neo-avatar--small"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--do-not-disturb"></div>
    </figure>
    <figure class="neo-avatar" data-initials="SM" title="Steven Murray">
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--do-not-disturb"></div>
    </figure>
    <figure
      class="neo-avatar neo-avatar--large"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--do-not-disturb"></div>
    </figure>
  </div>

  <div class="avatar-wrapper">
    <figure
      class="neo-avatar neo-avatar--small"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--busy"></div>
    </figure>
    <figure class="neo-avatar" data-initials="SM" title="Steven Murray">
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--busy"></div>
    </figure>
    <figure
      class="neo-avatar neo-avatar--large"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--busy"></div>
    </figure>
  </div>

  <div class="avatar-wrapper">
    <figure
      class="neo-avatar neo-avatar--small"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--available"></div>
    </figure>
    <figure class="neo-avatar" data-initials="SM" title="Steven Murray">
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--available"></div>
    </figure>
    <figure
      class="neo-avatar neo-avatar--large"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--available"></div>
    </figure>
  </div>

  <div class="avatar-wrapper">
    <figure
      class="neo-avatar neo-avatar--small"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--offline"></div>
    </figure>
    <figure class="neo-avatar" data-initials="SM" title="Steven Murray">
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--offline"></div>
    </figure>
    <figure
      class="neo-avatar neo-avatar--large"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--offline"></div>
    </figure>
  </div>

  <div class="avatar-wrapper">
    <figure
      class="neo-avatar neo-avatar--small"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--away"></div>
    </figure>
    <figure class="neo-avatar" data-initials="SM" title="Steven Murray">
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--away"></div>
    </figure>
    <figure
      class="neo-avatar neo-avatar--large"
      data-initials="SM"
      title="Steven Murray"
    >
      <img class="neo-img" src="/assets/images/avatar.svg" alt="Middle" />
      <div class="neo-avatar-status neo-avatar-status--away"></div>
    </figure>
  </div>
</NeoLayout>

<style>
  .avatar-wrapper {
    display: flex;
    margin-bottom: 2rem;
  }
</style>
