---
import NeoLayout from "../layouts/NeoLayout.astro";
import { Checkbox, CheckboxWithLongLabel } from "../components";
---

<NeoLayout title="Checkbox">
  <Checkbox client:load />

  <div class="outline-200">
    <CheckboxWithLongLabel client:load />
  </div>
</NeoLayout>

<style>
  div.outline-200 {
    width: 200px;
    outline: 1px solid #ccc;
    padding: 1rem;
  }
</style>
