---
import NeoLayout from "../layouts/NeoLayout.astro";
import { DropdownWithInput } from "../components";
---

<NeoLayout title="dropdown">
  <h1>Dropdown With Input</h1>

  <DropdownWithInput />
</NeoLayout>
