---
import {
	BasicInput,
	CheckboxWithReadOnly,
	FormAlignment,
	FormInsideWidget,
	HorizontalFormNoLabels,
	InputAddons,
	InputCombinations,
	InputWithIcons,
	RadioWithReadOnly,
	ReadOnlyInput,
} from "../components";
import NeoLayout from "../layouts/NeoLayout.astro";
---

<NeoLayout title="Form">
  <h1>Form Input Examples</h1>

  <h3>Checkbox With Read Only</h3>
  <CheckboxWithReadOnly />

  <h3>Radio Input Groups With Read Only</h3>
  <RadioWithReadOnly />

  <h3>Basic Text Input</h3>
  <BasicInput />

  <h3>Read Only Text Input</h3>
  <ReadOnlyInput />

  <h3>Horizontal Form No Labels</h3>
  <HorizontalFormNoLabels/>

  <h3 class="example__header">Horizontal Form Alignment</h3>
  <div class="example__wrapper">
    <FormAlignment orientation="horizontal" client:load />
  </div>

  <h3 class="section-header">Vertical Form Alignment</h3>
  <div class="example__wrapper">
    <FormAlignment orientation="vertical" client:load />
  </div>

  <h3>Text Input w/ Addons</h3>
  <InputAddons />

  <h3>Text Input w/ Icons</h3>
  <InputWithIcons />

  <h3>Text Input w/ Combinations of addons+icons</h3>
  <InputCombinations />

  <h3>Form Inside Widget</h3>
  <FormInsideWidget />
</NeoLayout>

<style>
  .example__header {
    margin-bottom: 16px;
  }

  .example__wrapper {
    padding: 16px;
  }
</style>
