---
import { IconComponent, IconSizes, IconStates } from "../components";
import NeoLayout from "../layouts/NeoLayout.astro";
---

<style>
  .icon-page__padding {
    padding: 20px;
  }
</style>

<NeoLayout title="Icons">
  <div class="icon-page__padding">
    <IconStates/>
    <IconSizes />
    <IconComponent />
  </div>
</NeoLayout>
