---
import NeoLayout from "../layouts/NeoLayout.astro";
---

<NeoLayout title="Icon States">
  <h3>Default Size</h3>
  <div class="icon-states-wrapper">
    <span
      class="neo-icon-state neo-icon-state--available neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--acw neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--away neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--busy neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--do-not-disturb neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--offline neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--lock neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--warning neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--missed neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--connected neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--inbound neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--outbound neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
  </div>

  <h3>Large Size</h3>
  <div class="icon-states-wrapper">
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--available neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--acw neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--away neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--busy neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--do-not-disturb neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--offline neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--lock neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--warning neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--missed neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--connected neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--inbound neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
    <span
      class="neo-icon-state neo-icon-state--large neo-icon-state--outbound neo-icon-voice"
      aria-label="DESCRIPTION OF ICON/ACTION"></span>
  </div>
</NeoLayout>

<style>
  .icon-states-wrapper {
    display: flex;
    margin-bottom: 2rem;
  }
</style>
