---
import NeoLayout from "../layouts/NeoLayout.astro";
import { IconComponent } from "../components";
---

<style>
  .icon-page__padding {
    padding: 20px;
  }
</style>

<NeoLayout title="Icons">
  <div class="icon-page__padding">
    <IconComponent />
  </div>
</NeoLayout>
