---
import NeoLayout from '../layouts/NeoLayout.astro';
import Card from '../components/Card.astro';
import { LeftNavWithSimpleJS, CondensedLeftNavWithScroll } from '../components';
---

<NeoLayout title="Leftnav">

  <ul role="list" class="link-card-grid">
    <Card href="/" title="Home" body="Return home" />
  </ul>

  <div class="custom-main">

    <div class="custom-leftnav">
      <h4>LeftNav Component</h4>
      <LeftNavWithSimpleJS client:load />
    </div>

    <div class="custom-leftnav">
      <h4>Condensed LeftNav with scroll</h4>
      <CondensedLeftNavWithScroll client:load />
    </div>

  </div>

</NeoLayout>

<style>
  .custom-main {
    display: flex
  }

  .custom-leftnav {
    display: inline-block;
    margin: 2em;
    border: 1px solid #ccc;
    padding: 2em;
  }

  .custom-leftnav h4 {
    text-transform: capitalize;
    font-weight: 700;
    padding: 0 0 1em;
  }
</style>