---
import NeoLayout from "../layouts/NeoLayout.astro";

import { PaginationMultiSelect } from "../components";
---

<style>

h3 {
  margin-top: 2rem;
}

</style>

<NeoLayout title="Pagination">
  <h3>Pagination Row With Multiselect as Used in Neo Table examples</h3>

  <PaginationMultiSelect client:load />

  <h3>Pagination Row With Native Select as Used in WS/AXP </h3>

  <div class="neo-pagination__row">
    <div aria-label="show">1-10 / 41 shown</div>
    <nav role="navigation" aria-label="pagination" class="neo-pagination">
      <button
        role="button"
        aria-label="Go to previous page"
        class="neo-btn-square neo-pagination__arrow-btn neo-icon-arrow-left"
        disabled></button>
      <ul class="neo-pagination__list">
        <li>
          <button
            role="button"
            class="neo-btn-square neo-btn-square-secondary neo-btn-square-secondary--info"
            aria-current="true"
            aria-label="Go to page: 1"
          >
            1
          </button>
        </li>
        <li>
          <button
            role="button"
            class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
            aria-current="false"
            aria-label="Go to page: 2"
          >
            2
          </button>
        </li>
        <li>
          <button
            role="button"
            class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
            aria-current="false"
            aria-label="Go to page: 3"
          >
            3
          </button>
        </li>
        <li>
          <button
            role="button"
            class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
            aria-current="false"
            aria-label="Go to page: 4"
          >
            4
          </button>
        </li><li>
          <button
            role="button"
            class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
            aria-current="false"
            aria-label="Go to page: 5"
          >
            5
          </button>
        </li>
      </ul>
      <button
        role="button"
        class="neo-btn-square neo-pagination__arrow-btn neo-icon-arrow-right"
        aria-label="Go to next page"></button>
    </nav>
    <div class="neo-form--inline">
      <div class="neo-form-control">
        <div class="neo-input-group neo-input-group--inline">
          <label for="pageSize">Show:</label>
          <div class="neo-select">
            <select
              id="pageSize"
              name="size"
              class="neo-icon-chevron-down ng-pristine ng-valid ng-touched"
              aria-label="Results per page"
            >
              <option value="5"> 5</option>
              <option value="10"> 10</option>
              <option value="20"> 20</option>
              <option value="30"> 30</option>
            </select>
          </div>
        </div>
      </div>
      <div class="neo-form-control">
        <div class="neo-input-group neo-input-group--inline">
          <label for="pageSizeUp">Show:</label>
          <div class="neo-select neo-select--expanded">
            <select
              id="pageSizeUp"
              name="size"
              class="neo-icon-chevron-down ng-pristine ng-valid ng-touched"
              aria-label="Results per page"
            >
              <option value="5"> 5</option>
              <option value="10"> 10</option>
              <option value="20"> 20</option>
              <option value="30"> 30</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Other Pagination Examples</h3>

  <nav class="neo-pagination" role="navigation" aria-label="pagination">
    <button
      class="neo-btn-square neo-pagination__arrow-btn neo-icon-arrow-left"
      role="button"
      aria-label="previous"></button>
    <div
      class="neo-multiselect"
      tabindex={0}
      aria-expanded="false"
      role="combobox"
      aria-haspopup="listbox"
      aria-label="multiselect"
    >
      <div class="neo-multiselect-combo__header">
        <input class="neo-input" id="combobox" value="1" />
      </div>
      <div class="neo-multiselect__content">
        <ul role="listbox">
          <li role="option" aria-label="Page 1">
            <a href="#">1</a>
          </li>
          <li role="option" aria-label="Page 2">
            <a href="#">2</a>
          </li>
          <li role="option" aria-label="Page 3">
            <a href="#">3</a>
          </li>
          <li role="option" aria-label="Page 4">
            <a href="#">4</a>
          </li>
          <li role="option" aria-label="Page 5">
            <a href="#">5</a>
          </li>
          <li role="option" aria-label="Page 6">
            <a href="#">6</a>
          </li>
          <li role="option" aria-label="Page 7">
            <a href="#">7</a>
          </li>
          <li role="option" aria-label="Page 8">
            <a href="#">8</a>
          </li>
          <li role="option" aria-label="Page 9">
            <a href="#">9</a>
          </li>
          <li role="option" aria-label="Page 10">
            <a href="#">10</a>
          </li>
          <li role="option" aria-label="Page 11">
            <a href="#">11</a>
          </li>
        </ul>
      </div>
    </div>
    <div>/ 20 pages</div>
    <button
      class="neo-btn-square neo-pagination__arrow-btn neo-icon-arrow-right"
      role="button"
      aria-label="next"></button>
  </nav>

  <br />

  <nav class="neo-pagination" role="navigation" aria-label="pagination">
    <button
      class="neo-btn-square neo-pagination__arrow-btn neo-icon-arrow-left"
      role="button"
      aria-label="previous"></button>
    <ul class="neo-pagination__list">
      <li>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
          role="button"
          aria-label="Page 1"
        >
          1
        </button>
      </li>
      <li>
        <span class="neo-pagination__dots">&hellip;</span>
      </li>
      <li>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
          role="button"
          aria-label="Page 49"
        >
          49
        </button>
      </li>
      <li>
        <button
          class="neo-btn-square neo-btn-square-secondary neo-btn-square-secondary--info"
          role="button"
          aria-label="Page 50"
        >
          50
        </button>
      </li>
      <li>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
          role="button"
          aria-label="Page 51"
        >
          51
        </button>
      </li>
      <li>
        <span class="neo-pagination__dots">&hellip;</span>
      </li>
      <li>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
          role="button"
          aria-label="Page 99"
        >
          99
        </button>
      </li>
    </ul>
    <button
      class="neo-btn-square neo-pagination__arrow-btn neo-icon-arrow-right"
      role="button"
      aria-label="next"></button>
  </nav>

  <br />

  <nav class="neo-pagination" role="navigation" aria-label="pagination">
    <button
      class="neo-btn-square neo-pagination__arrow-btn neo-icon-arrow-left"
      role="button"
      aria-label="previous"></button>
    <ul class="neo-pagination__list">
      <li>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
          role="button"
          aria-label="Page 1"
        >
          1
        </button>
      </li>
      <li>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
          role="button"
          aria-label="Page 49"
        >
          2
        </button>
      </li>
      <li>
        <button
          class="neo-btn-square neo-btn-square-secondary neo-btn-square-secondary--info"
          role="button"
          aria-label="Page 50"
        >
          3
        </button>
      </li>
      <li>
        <span class="neo-pagination__dots">&hellip;</span>
      </li>
      <li>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info"
          role="button"
          aria-label="Page 99"
        >
          20
        </button>
      </li>
    </ul>
    <button
      class="neo-btn-square neo-pagination__arrow-btn neo-icon-arrow-right"
      role="button"
      aria-label="next"></button>
  </nav>
</NeoLayout>
