---
import { Variants } from "../components";
import NeoLayout from "../layouts/NeoLayout.astro";
---

<NeoLayout title="SplitButton">
  <h2>SplitButton</h2>

  <div class="spacer"><Variants /></div>

</NeoLayout>

<style>
  .spacer {
    min-height: 270px;
  }
</style>
