---
import NeoLayout from "../layouts/NeoLayout.astro";
---

<NeoLayout title="Switch">
  <form class="neo-form">
    <div class="neo-form-control">
      <div class="neo-input-group">
        <label class="neo-switch" for="uncheckedCheckbox">
          <input id="uncheckedCheckbox" type="checkbox" role="switch" />

          <i class="neo-switch__icon"></i>

          I'm initially unchecked
        </label>

        <label class="neo-switch" for="checkedCheckbox">
          <input id="checkedCheckbox" type="checkbox" role="switch" checked />

          <i class="neo-switch__icon"></i>

          I'm initially checked
        </label>
      </div>
    </div>
  </form>

  <form class="neo-form">
    <div class="neo-form-control">
      <div class="neo-input-group">
        <label
          class="neo-switch neo-switch--disabled"
          for="uncheckedDisabledCheckbox"
        >
          <input
            id="uncheckedDisabledCheckbox"
            type="checkbox"
            role="switch"
            disabled
          />

          <i class="neo-switch__icon"></i>

          I'm initially unchecked
        </label>

        <label
          class="neo-switch neo-switch--disabled"
          for="checkedDisabledCheckbox"
        >
          <input
            id="checkedDisabledCheckbox"
            type="checkbox"
            role="switch"
            checked
            disabled
          />

          <i class="neo-switch__icon"></i>

          <span>I'm initially checked</span>
        </label>
      </div>
    </div>
  </form>

  <form class="neo-form">
    <div class="neo-form-control">
      <div class="neo-input-group">
        <label
          class="neo-switch neo-switch--multiline"
          for="uncheckedMultilineCheckbox"
        >
          <input
            id="uncheckedMultilineCheckbox"
            type="checkbox"
            role="switch"
          />
          <i class="neo-switch__icon"></i>
          <span class="neo-switch-children"><!-- white space is important here
            -->I'm Line 1 is a bit long 
            Line 2 
            Line 3
          </span>
        </label>

        <label
          class="neo-switch neo-switch--multiline"
          for="checkedMultilineCheckbox"
        >
          <input
            id="checkedMultilineCheckbox"
            type="checkbox"
            role="switch"
            checked
          />
          <i class="neo-switch__icon"></i>
          <span class="neo-switch-children"
          >Line 1
          Line 2
          Line 3
          </span>
        </label>

        <label
          class="neo-switch neo-switch--multiline"
          for="checkedLongMultilineCheckbox"
        >
          <input
            id="checkedLongMultilineCheckbox"
            type="checkbox"
            role="switch"
            checked
          />
          <i class="neo-switch__icon"></i>
          <span class="neo-switch-children">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae numquam necessitatibus, suscipit dolorum expedita laudantium dignissimos veniam ratione blanditiis. Modi dolorem quaerat ratione pariatur sapiente commodi excepturi, explicabo recusandae est!
          </span>
        </label>
      </div>
    </div>
  </form>
  <form class="neo-form">
    <div class="neo-form-control">
      <div class="neo-input-group">
        <div class="neo-form__label-with-icon">
          <label for=":r34:" class="neo-switch"
            ><input id=":r34:" type="checkbox" role="switch" /><i
              class="neo-switch__icon"></i>With Icon</label>
          <span class="neo-form__label-with-icon__spacer"/>
          <div class="neo-tooltip neo-tooltip--up neo-tooltip--onhover">
            <span
              role="img"
              tabindex="0"
              aria-label="Info"
              aria-describedby=":r35:"
              class="neo-icon-info neo-icon--small"></span><div
              id=":r35:"
              role="tooltip"
              class="neo-tooltip__content neo-tooltip__content--multiline"
            >
              <div class="neo-arrow"></div>This is a tooltip
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <form class="neo-form">
    <div class="neo-form-control">
      <div class="neo-input-group">
        <div class="neo-form__label-with-icon">
          <label for=":rk:" class="neo-switch neo-switch--multiline"
            ><input id=":rk:" type="checkbox" role="switch" /><i
              class="neo-switch__icon"></i><span class="neo-switch-children"
              >multiline 1 text controlled by parent<br />multiline 2 <br
              />multiline 3<span class="neo-form__label-with-icon__spacer"/><div
                class="neo-tooltip neo-tooltip--up neo-tooltip--onhover"
              >
                <span
                  role="img"
                  tabindex="0"
                  aria-label="Info"
                  aria-describedby=":rl:"
                  class="neo-icon-info neo-icon--small"></span><div
                  id=":rl:"
                  role="tooltip"
                  class="neo-tooltip__content neo-tooltip__content--multiline"
                >
                  <div class="neo-arrow"></div>This is a tooltip
                </div>
              </div></span
            ></label>
        </div>
      </div>
    </div>
  </form>
</NeoLayout>
