---
import NeoLayout from "../layouts/NeoLayout.astro";
---

<NeoLayout title="Switch">
  <form class="neo-form">
    <div class="neo-form-control">
      <label class="neo-switch" for="uncheckedCheckbox">
        <input id="uncheckedCheckbox" type="checkbox" />

        <i class="neo-switch__icon" />

        I'm initially unchecked
      </label>

      <label class="neo-switch" for="checkedCheckbox">
        <input id="checkedCheckbox" type="checkbox" checked />

        <i class="neo-switch__icon" />

        I'm initially checked
      </label>
    </div>
  </form>

  <div class="neo-form-control">
    <label class="neo-switch neo-switch--disabled" for="uncheckedDisabledCheckbox">
      <input id="uncheckedDisabledCheckbox" type="checkbox" disabled />

      <i class="neo-switch__icon" />

      I'm initially unchecked
    </label>
  </div>

  <div class="neo-form-control">
    <label class="neo-switch neo-switch--disabled" for="checkedDisabledCheckbox">
      <input id="checkedDisabledCheckbox" type="checkbox" checked disabled />

      <i class="neo-switch__icon" />

      I'm initially checked
    </label>
  </div>
</NeoLayout>
