.neo-slide {
  animation-duration: $global-transition-duration;
  animation-fill-mode: both;

  &--in-left {
    animation-name: slideInLeft;
    // animation-timing-function: $token-interactivity-motion-ease-in;
    animation-timing-function: $token-interactivity-motion-ease;
  }

  &--out-left {
    animation-name: slideOutLeft;
    // animation-timing-function: $token-interactivity-motion-ease-out;
    animation-timing-function: $token-interactivity-motion-ease;
  }

  &--in-right {
    animation-name: slideInRight;
    // animation-timing-function: $token-interactivity-motion-ease-out;
    animation-timing-function: $token-interactivity-motion-ease;
  }

  &--out-right {
    animation-name: slideOutRight;
    // animation-timing-function: $token-interactivity-motion-ease-out;
    animation-timing-function: $token-interactivity-motion-ease;
  }

  &--out-top {
    animation-name: slideOutTop;
    // animation-timing-function: $token-interactivity-motion-ease-out;
    animation-timing-function: $token-interactivity-motion-ease;
  }

  &--out-bottom {
    animation-name: slideOutBottom;
    // animation-timing-function: $token-interactivity-motion-ease-out;
    animation-timing-function: $token-interactivity-motion-ease;
  }
  &--in-top {
    animation-name: slideInTop;
    // animation-timing-function: $token-interactivity-motion-ease-out;
    animation-timing-function: $token-interactivity-motion-ease;
  }

  &--in-bottom {
    animation-name: slideInBottom;
    // animation-timing-function: $token-interactivity-motion-ease-out;
    animation-timing-function: $token-interactivity-motion-ease;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-30px);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}

@keyframes slideOutTop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

@keyframes slideOutBottom {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}
