<div
  style="display: flex; justify-content: space-between; align-items: end; position: absolute; left: 100px; right: 100px; top: 500px;"
>
  <div class="neo-splitbutton neo-splitbutton--small-height">
    <button
      class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-splitbutton__button"
      data-badge=""
      aria-label="Send"
    >
      Send
    </button>
    <div
      class="neo-dropdown neo-dropdown--left neo-dropdown--active neo-splitbutton__menu"
      role="group"
    >
      <button
        class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-dropdown__link-header"
        data-badge=""
        aria-label="Split Button Menu"><span></span></button
      ><div class="neo-dropdown__content" role="menu" tabindex="-1">
        <div
          class="neo-dropdown__link neo-dropdown__link-active"
          id="18af676d-d6de-4414-bc59-b09054c68bfb"
          role="menuitem"
          tabindex="0"
        >
          Send
        </div><div
          class="neo-dropdown__link"
          id="37e2e897-f190-4d3c-93f8-5d544d92e9ea"
          role="menuitem"
          tabindex="-1"
        >
          Item1
        </div><div
          class="neo-dropdown__link"
          id="049e12ef-33f1-4aff-a833-bafad9458218"
          role="menuitem"
          tabindex="-1"
        >
          Item2
        </div>
      </div>
    </div>
  </div>
  |
  <div class="neo-splitbutton neo-splitbutton--medium-height">
    <button
      class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-icon-send neo-splitbutton__button"
      data-badge=""
      aria-label="Send"
    >
      Send
    </button>
    <div
      class="neo-dropdown neo-dropdown--left neo-dropdown--active neo-splitbutton__menu"
      role="group"
    >
      <button
        class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-dropdown__link-header"
        data-badge=""
        aria-label="Split Button Menu"><span></span></button
      ><div class="neo-dropdown__content" role="menu" tabindex="-1">
        <div
          class="neo-dropdown__link neo-dropdown__link-active"
          id="0d1cb91e-e22d-4afe-a215-aaaf85436630"
          role="menuitem"
          tabindex="0"
        >
          <span
            role="img"
            aria-label="send"
            class="neo-icon-send neo-icon--small menu-item__icon"></span>Send
        </div><div
          class="neo-dropdown__link"
          id="84f906ba-ccb5-4313-919b-7825d253d81c"
          role="menuitem"
          tabindex="-1"
        >
          Item1
        </div><div
          class="neo-dropdown__link"
          id="0a207497-c694-4a9a-b3b5-3623f1061e10"
          role="menuitem"
          tabindex="-1"
        >
          Item2
        </div>
      </div>
    </div>
  </div>
  |
  <div
    class="neo-splitbutton neo-splitbutton--small-height neo-splitbutton--secondary"
  >
    <button
      class="neo-btn neo-btn--default neo-btn-secondary neo-btn-secondary--default neo-splitbutton__button"
      data-badge=""
      aria-label="Send"
    >
      Send
    </button>
    <div
      class="neo-dropdown neo-dropdown--left neo-dropdown--active neo-splitbutton__menu"
      role="group"
    >
      <button
        class="neo-btn neo-btn--default neo-btn-secondary neo-btn-secondary--default neo-dropdown__link-header"
        data-badge=""
        aria-label="Split Button Menu"><span></span></button
      ><div class="neo-dropdown__content" role="menu" tabindex="-1">
        <div
          class="neo-dropdown__link neo-dropdown__link-active"
          id="d5212f86-cac1-4051-b4e3-fa1cbd477bdd"
          role="menuitem"
          tabindex="0"
        >
          Send
        </div><div
          class="neo-dropdown__link"
          id="5bbd71d8-26fb-48d4-a420-9bce4411e5d7"
          role="menuitem"
          tabindex="-1"
        >
          Item1
        </div><div
          class="neo-dropdown__link"
          id="b4cee7c9-4a1c-4af7-a452-74f70d54b209"
          role="menuitem"
          tabindex="-1"
        >
          Item2
        </div>
      </div>
    </div>
  </div>
  |
  <div
    class="neo-splitbutton neo-splitbutton--medium-height neo-splitbutton--secondary"
  >
    <button
      class="neo-btn neo-btn--default neo-btn-secondary neo-btn-secondary--default neo-icon-send neo-splitbutton__button"
      data-badge=""
      aria-label="Send"
    >
      Send
    </button>
    <div
      class="neo-dropdown neo-dropdown--left neo-dropdown--active neo-splitbutton__menu"
      role="group"
    >
      <button
        class="neo-btn neo-btn--default neo-btn-secondary neo-btn-secondary--default neo-dropdown__link-header"
        data-badge=""
        aria-label="Split Button Menu"><span></span></button
      ><div class="neo-dropdown__content" role="menu" tabindex="-1">
        <div
          class="neo-dropdown__link neo-dropdown__link-active"
          id="3efc4df1-da18-4bb2-8f44-8e5efb05a2b2"
          role="menuitem"
          tabindex="0"
        >
          <span
            role="img"
            aria-label="send"
            class="neo-icon-send neo-icon--small menu-item__icon"></span>Send
        </div><div
          class="neo-dropdown__link"
          id="9d7f92f1-e809-48de-8317-1d25396f79b9"
          role="menuitem"
          tabindex="-1"
        >
          Item1
        </div><div
          class="neo-dropdown__link"
          id="b76cf69f-524e-4efd-8a84-939a3be2ec31"
          role="menuitem"
          tabindex="-1"
        >
          Item2
        </div>
      </div>
    </div>
  </div>
</div>
