/*Light*/
@font-face {
  font-family: 'noto-sans-hebrew';
  src: url('https://storage.googleapis.com/test-ds-portal-db.appspot.com/fonts/noto_sans/Noto_Sans_Hebrew/notosanshebrew-light.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}
/*Regular*/
@font-face {
  font-family: 'noto-sans-hebrew';
  src: url('https://storage.googleapis.com/test-ds-portal-db.appspot.com/fonts/noto_sans/Noto_Sans_Hebrew/notosanshebrew-regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
/*Semibold*/
@font-face {
  font-family: 'noto-sans-hebrew';
  src: url('https://storage.googleapis.com/test-ds-portal-db.appspot.com/fonts/noto_sans/Noto_Sans_Hebrew/notosanshebrew-semibold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'noto-sans-hebrew';
  src: url('https://storage.googleapis.com/test-ds-portal-db.appspot.com/fonts/noto_sans/Noto_Sans_Hebrew/notosanshebrew-bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}
