// updated avatar styles

@mixin neo-avatar-img {
  .neo-img {
    border-radius: $avatar-border-radius;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 100;
  }
}

@mixin neo-avatar-initials {
  &[#{$avatar-initials-selector}]::before {
    content: attr(#{$avatar-initials-selector});
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

@mixin neo-avatar-sizes {
  // &--x-small {
  //   font-size: $avatar-font-size * 0.5;
  //   height: $avatar-size * 0.5;
  //   width: $avatar-size * 0.5;
  // }

  &--small {
    font-size: 10px;
    height: 28px;
    width: 28px;
  }

  &--large {
    font-size: 19px;
    height: 48px;
    width: 48px;
  }
}

@mixin avatar-border-color() {
  @each $name, $color in $neo-state-colors {
    &--#{$name} {
      border-color: $avatar-border-color;
      border-style: $avatar-border-style;
      border-width: $avatar-border-width;
    }
  }
}

@mixin neo-avatar-as-thumbnail {
  &.neo-thumbnail {
    background: $global-background;
  }
}

.neo-avatar {
  background: $avatar-background;
  border-radius: $avatar-border-radius;
  color: $avatar-font-color;
  display: inline-block;
  font-size: 14px;
  font-weight: $avatar-font-weight;
  height: 36px;
  line-height: $avatar-line-height;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 36px;

  @include neo-avatar-as-thumbnail;
  @include neo-avatar-img;
  @include neo-avatar-sizes;
  @include neo-avatar-initials;
  @include avatar-border-color();
}
