// updated dropdown styles

@include neo-icon-context {
  &.neo-dropdown__link {
    $color: $dropdown-color;
    &::before {
      font-size: $global-font-size;
      // margin-bottom: $dropdown-icon-margin-x;
      margin-right: $dropdown-icon-margin-x;

      @include rtl-selector {
        margin: {
          left: $dropdown-icon-margin-x;
          right: initial;
        }
      }
    }
  }
}

@mixin neo-dropdown-arrow(
  // chevron-down
    $arrow-icon: $dropdown-expand-icon,
  $color: $dropdown-color,
  $padding-left: $dropdown-padding-x
) {
  &::after {
    font-family: "updated-neo-icons";
    // color: $global-text-inverse-color;
    content: $arrow-icon;
    padding: 0 0 0 $padding-left;
    vertical-align: middle;

    @include rtl-selector {
      padding: {
        left: initial;
        right: $padding-left;
      }
    }
  }
  &:not(.neo-dropdown__link-header)::after {
    color: $global-text-color;
  }
  @include rtl-selector {
    &::after {
      // display: none;
    }
    // &::before {
    //   font-family: "updated-neo-icons";
    //   color: $global-text-inverse-color;
    //   content: $arrow-icon;
    //   // padding: 0 $padding-left 0 0;
    //   vertical-align: middle;
    // }
    // &:not(.neo-dropdown__link-header)::before {
    //   position: absolute;
    //   left: 0px;
    //   padding: 0 0 0 8px;
    //   vertical-align: middle;
    // }
  }
  &:not(.neo-dropdown__link-header)::after {
    position: absolute;
    right: 0px;
    padding: 0 8px 0 0;
    vertical-align: middle;
    @include rtl-selector {
      padding: {
        left: 8px;
        right: initial;
      }
    }
  }
}

// flip icon for right-aligned dropdowns

// @mixin neo-dropdown-arrow-left(
//   // chevron-left
//   $arrow-icon: $dropdown-expand-left-icon,
//   $color: $global-text-color,
//   $padding-right: $dropdown-padding-x
// ) {
//   &::before {
//     font-family: 'updated-neo-icons';
//     color: $color;
//     content: $arrow-icon;
//     padding: 0 $padding-right 0 0;
//     vertical-align: middle;
//     font-size: 16px;
//   }
// }

@mixin neo-dropdown-item {
  $self: &;

  &__item {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;

    > #{$self}__link {
      color: $global-text-color;

      // chevron-right
      @include neo-dropdown-arrow(
        $arrow-icon: $dropdown-expand-right-icon,
        $color: $global-text-color
      );
      &::after {
        font-size: 16px;
        // color: $global-text-color;
        vertical-align: middle;
      }
    }
  }
}

@mixin neo-dropdown-link {
  $self: &;

  & > &__link {
    display: inline-block;
    // hard-coded for now
    @include neo-dropdown-arrow();
  }

  // & > &__link-right {
  //   display: inline-block;
  //   @include neo-dropdown-arrow-left;
  // }

  &__link {
    // text-overflow: clip;
    // white-space: pre-line;
    // width: max-content;
    // word-break: keep-all;
    overflow-wrap: break-word;
    white-space: normal;
    // word-wrap: normal;
    color: $global-text-color;
    max-width: 300px;
    cursor: pointer;
    display: block;
    font-size: $dropdown-font-size;
    line-height: $dropdown-line-height;
    padding: $dropdown-padding-y $dropdown-padding-x;

    &[class*="neo-icon"] {
      text-indent: -11px;
      padding: 8px 30px 8px 30px !important;
    }

    &:not(.neo-dropdown__link-header) {
      padding: $dropdown-padding-y 30px $dropdown-padding-y $dropdown-padding-x;
      @include rtl-selector {
        padding: $dropdown-padding-y $dropdown-padding-x $dropdown-padding-y
          30px;
      }
    }

    text-decoration: none;
    // white-space: nowrap;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $dropdown-item-hover-color;
      color: $global-text-color !important;
      transition: $button-transition;
      transition-property: background-color;
    }
    &-header {
      // background: $dropdown-content-background-color;
      // color: $dropdown-item-color;
      @include neo-dropdown-arrow();
      &:hover {
        // background-color: $dropdown-item-hover-background-color;
        // color: $dropdown-item-hover-color;
      }
    }
    &-active {
      background-color: $dropdown-item-hover-background-color;
      color: $dropdown-item-hover-color;
    }

    // @include neo-icons;
  }
}

@mixin neo-dropdown-content {
  &__content,
  &__content &__content {
    transition-timing-function: $global-transition-timing;
    left: 100%;
    top: -1px;
    // overrides box-shadow parameter in below mixin
    box-shadow: $dropdown-box-shadow;

    @include rtl-selector {
      left: initial;
      right: 100%;
    }
  }

  &__content--left {
    left: auto !important;
    right: 0 !important;
    @include rtl-selector {
      left: 0 !important;
      right: auto !important;
    }
  }

  &__content--right {
    left: 0 !important;
    right: auto !important;
    @include rtl-selector {
      left: auto !important;
      right: 0 !important;
    }
  }

  // this doesn't work as we need the dropdowns to function independently of each other

  &__content--left-nested {
    left: auto !important;
    right: 100% !important;
    @include rtl-selector {
      left: 100% !important;
      right: auto !important;
    }
  }

  &__content--right-nested {
    left: 100% !important;
    right: auto !important;
    @include rtl-selector {
      left: auto !important;
      right: 100% !important;
    }
  }

  // &__content--right {
  //   // left: auto !important;
  //   right: auto !important;
  //   // top: -1px !important;
  // }

  // &__content--right > &__content--right {
  //   left: 100% !important;
  //   right: auto !important;
  //   top: -1px !important;
  // }

  // &--left &__content {
  //   left: auto;
  //   right: 100%;

  //   @include rtl-selector {
  //     left: 100%;
  //     right: auto;
  //   }
  // }

  // &--left > &__content {
  //   right: 0;

  //   @include rtl-selector {
  //     left: 0;
  //     right: auto;
  //   }
  // }
  // &--right &__content {
  //   left: 100%;
  //   right: auto;
  // }

  // &--right > &__content {
  //   left: 0;

  //   @include rtl-selector {
  //     left: auto;
  //     right: 0;
  //   }
  // }

  //hard-coded border for now
  //animation is show-element, which toggles opacity
  @include neo-popover-content(
    $dropdown-animation-duration,
    $global-background,
    $modal-border,
    $dropdown-radius,
    none,
    0px,
    $dropdown-content-z,
    200px
  );
}

@mixin neo-dropdown-separator {
  & &__separator {
    border-bottom: $dropdown-content-border;
    margin: 0;
    padding: 0;
  }
}

@mixin neo-dropdown-disabled {
  $self: &;

  &--disabled {
    cursor: not-allowed;
    // opacity: 0.5;
    color: $tab-disabled-color;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $tab-disabled-color !important;
    }

    #{$self}__link {
      background-color: transparent;
    }
  }
}

@mixin neo-dropdown-avatar {
  .neo-avatar {
    margin: 0 $dropdown-avatar-sm-margin-x 0 0; /* Custom margin-right for avatar within dropdown items */
    // display: inline-block;
    display: inline-flex;
    @include rtl-selector {
      margin: {
        left: $dropdown-avatar-sm-margin-x;
        right: 0;
      }
    }
  }
}

@mixin neo-dropdown-position {
  &--left &__content {
    left: auto;
    right: 100%;

    @include rtl-selector {
      left: 100%;
      right: auto;
    }
  }

  &--left > &__content {
    right: 0;

    @include rtl-selector {
      left: 0;
      right: auto;
    }
  }
  &--right &__content {
    left: 100%;
    right: auto;
  }

  &--right > &__content {
    left: 0;

    @include rtl-selector {
      left: auto;
      right: 0;
    }
  }
  // &--right &__content {
  //   left: auto;
  //   right: 100%;

  //   @include rtl-selector {
  //     left: 100%;
  //     right: auto;
  //   }
  // }

  // &--right > &__content {
  //   right: 0;

  //   @include rtl-selector {
  //     left: 0;
  //     right: auto;
  //   }
  // }
  // &--left &__content {
  //   left: 100%;
  //   right: auto;
  // }

  // &--left > &__content {
  //   left: 0;

  //   @include rtl-selector {
  //     left: auto;
  //     right: 0;
  //   }
  // }

  // &--right &__link,
  // &--right &__link-right {
  //   text-align: right;
  // }
}

@mixin neo-dropdown-input {
  &--input {
    display: flex;
    align-items: center;
    padding: $dropdown-padding-y 0px $dropdown-padding-y $dropdown-padding-x;
    width: 100%;
    &:hover {
      background-color: $dropdown-item-hover-color;
    }
    .neo-btn-square {
      margin-left: 8px;
      margin-right: 8px;
      // @include rtl-selector {
      //   margin-left: 0px;
      //   margin-right: 8px;
      // }
    }
    .neo-form-control {
      // padding: 0px 0px 0px 16px;
      margin: 0;
      &:only-child {
        flex-grow: 1;
        margin-right: 8px;
      }
    }
  }

  // .neo-input {
  //   border: $dropdown-input-border;
  //   margin: $dropdown-input-offset;
  //   width: calc(100% - #{$dropdown-input-offset} * 2);
  // }

  // .neo-input-icon {
  //   margin: $dropdown-input-offset;

  //   .neo-input {
  //     margin: 0;
  //     width: 100%;
  //   }
  // }
}

@mixin neo-dropdown-readonly-text {
  .neo-dropdown__readonly-separator {
    border-top: $dropdown-content-border;
  }
  .neo-dropdown__readonly-text {
    font-size: $dropdown-readonly-font-size;
    line-height: $dropdown-readonly-line-height;
    letter-spacing: $dropdown-readonly-letter-spacing;
    font-weight: $dropdown-readonly-font-weight;
    padding: $dropdown-padding-y $dropdown-padding-x;
    color: $dropdown-readonly-font-color;
    margin-block-end: 0px;
  }
}

.neo-dropdown {
  box-sizing: border-box;
  display: inline-block;
  position: relative;

  @include neo-dropdown-item;
  @include neo-dropdown-link;
  // @include neo-dropdown-link-right;
  @include neo-dropdown-content;
  @include neo-dropdown-separator;
  @include neo-dropdown-disabled;
  @include neo-dropdown-avatar;
  @include neo-dropdown-position;
  @include neo-dropdown-input;
  @include neo-dropdown-readonly-text;
  @include neo-popover-states;
}
