// updated dropdown styles

@include neo-icon-context {
  &.neo-dropdown__link {
    $color: white;
    &::before {
      font-size: $global-font-size;
      margin-bottom: $dropdown-icon-margin-y;
      margin-right: $dropdown-icon-margin-x;

      @include rtl-selector {
        margin: {
          left: $dropdown-icon-margin-x;
          right: initial;
        }
      }
    }
  }
}

@mixin neo-dropdown-arrow(
  $arrow-icon: '\f23f',
  $color: white,
  $padding-left: $dropdown-padding-x
) {
  &::after {
    font-family: 'updated-neo-icons';
    color: $color;
    content: $arrow-icon;
    padding: 0 0 0 $padding-left;
    vertical-align: middle;

    @include rtl-selector {
      padding: {
        left: initial;
        right: $padding-left;
      }
    }
  }
}

// flip icon for right-aligned dropdowns

@mixin neo-dropdown-arrow-left(
  $arrow-icon: '\f241',
  $color: $global-text-color,
  $padding-right: $dropdown-padding-x
) {
  &::before {
    font-family: 'updated-neo-icons';
    color: $color;
    content: $arrow-icon;
    padding: 0 $padding-right 0 0;
    vertical-align: middle;
    font-size: 16px;
  }
}

@mixin neo-dropdown-item {
  $self: &;

  &__item {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;

    > #{$self}__link {
      color: $global-text-color;

      @include neo-dropdown-arrow($arrow-icon: '\f241');
      &::after {
        font-size: 16px;
        color: $global-text-color;
        vertical-align: middle;
      }
    }
  }
}

@mixin neo-dropdown-link-right {
  $self: &;

  & > &__link-right,
  & &__link-right {
    // display: inline-block;

    @include neo-dropdown-arrow-left;
  }

  &__link-right {
    color: $global-text-color;
    cursor: pointer;
    display: block;
    font-size: $dropdown-font-size;
    line-height: $dropdown-line-height;
    padding: $dropdown-padding-y $dropdown-padding-x;
    text-decoration: none;
    white-space: nowrap;
    transition: $button-transition;
    transition-property: background-color;

    &:hover {
      background-color: $dropdown-item-hover-color;
      color: $global-text-color;
    }
    &-header {
      background: $dropdown-content-background-color;
      color: $dropdown-item-color;
      &:hover {
        background-color: $dropdown-item-hover-background-color;
        color: $dropdown-item-hover-color;
      }
    }
    &-active {
      background-color: $dropdown-item-hover-background-color;
      color: $dropdown-item-hover-color;
    }

    // @include neo-icons;
  }
}

@mixin neo-dropdown-link {
  $self: &;

  & > &__link {
    display: inline-block;

    @include neo-dropdown-arrow;
  }

  // & > &__link-right {
  //   display: inline-block;
  //   @include neo-dropdown-arrow-left;
  // }

  &__link {
    color: $global-text-color;
    cursor: pointer;
    display: block;
    font-size: $dropdown-font-size;
    line-height: $dropdown-line-height;
    padding: $dropdown-padding-y $dropdown-padding-x;
    text-decoration: none;
    white-space: nowrap;
    transition: $button-transition;
    transition-property: background-color;

    &:hover {
      background-color: $dropdown-item-hover-color;
      color: $global-text-color;
    }
    &-header {
      background: $dropdown-content-background-color;
      color: $dropdown-item-color;
      &:hover {
        background-color: $dropdown-item-hover-background-color;
        color: $dropdown-item-hover-color;
      }
    }
    &-active {
      background-color: $dropdown-item-hover-background-color;
      color: $dropdown-item-hover-color;
    }

    // @include neo-icons;
  }
}

@mixin neo-dropdown-content {
  &__content,
  &__content &__content {
    left: 100%;
    top: -1px;
    // overrides box-shadow parameter in below mixin
    box-shadow: $token-menu-box-shadow-x-offset $token-menu-box-shadow-y-offset
      $token-menu-box-shadow-radius $token-menu-box-shadow-color;

    @include rtl-selector {
      left: initial;
      right: 100%;
    }
  }

  @include neo-popover-content(
    $dropdown-animation-duration,
    white,
    none,
    $dropdown-radius,
    none,
    $dropdown-content-padding,
    $dropdown-content-z,
    $dropdown-min-width
  );
}

@mixin neo-dropdown-separator {
  & &__separator {
    border-bottom: $dropdown-content-border;
    margin: 0;
    padding: 0;
  }
}

@mixin neo-dropdown-disabled {
  $self: &;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: transparent;
    }

    #{$self}__link {
      background-color: transparent;
    }
  }
}

@mixin neo-dropdown-avatar {
  .neo-avatar {
    margin: 0 $dropdown-avatar-sm-margin-x 0 0; /* Custom margin-right for avatar within dropdown items */

    @include rtl-selector {
      margin: {
        left: $dropdown-avatar-sm-margin-x;
        right: 0;
      }
    }
  }
}

@mixin neo-dropdown-position {
  &--right &__content {
    left: auto;
    right: 100%;
  }

  &--right > &__content {
    right: 0;

    @include rtl-selector {
      left: 0;
      right: auto;
    }
  }
  // &--right &__link,
  // &--right &__link-right {
  //   text-align: right;
  // }
}

@mixin neo-dropdown-input {
  .neo-input {
    border: $dropdown-input-border;
    margin: $dropdown-input-offset;
    width: calc(100% - #{$dropdown-input-offset} * 2);
  }

  .neo-input-icon {
    margin: $dropdown-input-offset;

    .neo-input {
      margin: 0;
      width: 100%;
    }
  }
}

.neo-dropdown {
  box-sizing: border-box;
  display: inline-block;
  position: relative;

  @include neo-dropdown-item;
  @include neo-dropdown-link;
  // @include neo-dropdown-link-right;
  @include neo-dropdown-content;
  @include neo-dropdown-separator;
  @include neo-dropdown-disabled;
  @include neo-dropdown-avatar;
  @include neo-dropdown-position;
  @include neo-dropdown-input;
  @include neo-popover-states;
}
