// updated modal classes

@mixin modal-element($value, $border-position: false) {
  background-color: $modal-background;
  padding: $value;
}

.neo-modal {
  @include NeoLinkStyles;
  display: none;
  position: absolute;
  border-radius: $modal-radius;

  &--active {
    animation: $modal-animation-time;
    animation-timing-function: $global-transition-timing;
    display: flex;

    .neo-modal__background {
      animation: show-element $modal-animation-time;
      animation-timing-function: $global-transition-timing;
      background-color: $modal-scrim-color;
      height: 100%;
      width: 100%;
      z-index: $modal-z;

      @include position(fixed, 0, 0, 0, 0);
    }
  }
}

.neo-modal__content {
  animation: slideInBottom $modal-animation-time;
  animation-timing-function: $global-transition-timing;
  animation-fill-mode: forwards;
  color: $modal-color;
  background-color: $modal-background;
  border-radius: $modal-radius;
  border: $modal-border;
  box-shadow: $modal-shadow;
  display: flex;
  flex-direction: column;
  // max-width: $modal-width;
  overflow: auto;
  padding: $token-modal-padding-y;
  position: relative;
  // width: $modal-width;
  z-index: $modal-content-z;

  .neo-modal__header {
    // @include modal-element($modal-header-padding);

    text-align: center;
    vertical-align: center;
    & h2 {
      color: $modal-color !important;
      font-size: $token-modal-header-font-size !important;
    }
  }

  .neo-modal__body {
    // min-height: $modal-body-height;

    @include modal-element(0, "top");
  }

  .neo-modal__message {
    font-size: $global-font-size;
    margin-bottom: $modal-message-margin-bottom;
    margin-top: $modal-message-margin-bottom;
  }

  .neo-modal__footer {
    // hard-coded for now
    // $footer-padding: $modal-message-margin-bottom 0px 0px 0px;
    $footer-padding: 0px;
    display: flex;
    justify-content: flex-end;

    .neo-btn {
      margin-bottom: 0;

      /* stylelint-disable max-nesting-depth */
      &:not(:last-child) {
        // hard-coded for now
        margin-right: $modal-margin;

        @include rtl-selector {
          margin: {
            left: $modal-margin;
            right: initial;
          }
        }
      }
    }

    @include modal-element($footer-padding, "top");
  }
}

// new menu modal class - all hard-coded for now and not meant to be used

// filter button styles

// .neo-modal-menu {
//   box-shadow: $modal-shadow;
//   border-radius: 4px;
//   // width: $modal-menu-width;
//   display: grid;
//   grid-template-areas:
//     'header header header'
//     'menu   content content'
//     'menu   content content'
//     'menu footer footer';
// }

// .neo-modal-menu-header {
//   grid-area: header;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   border-bottom: $modal-border;
//   padding: 11px 0;
//   .neo-modal__header {
//     // @include modal-element($modal-header-padding);
//     // text-align: center;
//     // vertical-align: center;
//     padding-left: 24px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
//   & > .neo-input-group {
//     padding-right: 17px;
//     width: auto;
//     & .neo-filter {
//       width: 116px;

//       padding-left: $select-padding-left;
//       & ~ button {
//         color: $global-text-color;
//         background-color: #c9c9c9;
//         // hard-coded padding and height for now
//         padding: 12px 0;
//         height: 100%;
//         &:hover {
//           box-shadow: none;
//         }
//       }

//       // may not work on all browsers

//       &::-webkit-input-placeholder {
//         font-style: $input-placeholder-font-style;
//       }
//       &::-moz-placeholder {
//         font-style: $input-placeholder-font-style;
//       }
//       &:-ms-input-placeholder {
//         font-style: $input-placeholder-font-style;
//       }
//       &::placeholder {
//         font-style: $input-placeholder-font-style;
//       }
//     }
//   }
// }

// .neo-modal-menu-side {
//   grid-area: menu;
//   display: flex;
//   flex-direction: column;
//   border-right: $modal-border;
//   & .neo-group-list__item {
//     height: 48px;
//     padding-left: 0;
//     border: none;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     &-active {
//       background: $token-color-base-100;
//     }
//     // vertical-align: center;
//     & .neo-modal-menu-side-item {
//       // background: tomato;
//       position: relative;
//       // margin: 0 auto;

//       &-active {
//         &:before {
//           content: '';
//           height: 100%;
//           width: 50%;
//           position: absolute;
//           background: $modal-menu-active-border-color;
//           // border-radius: 50%;
//           clip-path: ellipse(3% 35% at 0% 52%);

//           left: 0;
//           // transition: all 0.8s;
//         }
//       }

//       padding-left: 12px;
//     }
//   }
// }

.neo-modal__info-close {
  display: flex;
  justify-content: flex-end;
  & .neo-close {
    background-color: transparent;
    &::before {
      background-color: $global-text-color;
    }
    &::after {
      background-color: $global-text-color;
    }
  }
}

// .neo-modal-menu-footer {
//   grid-area: footer;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-end;
//   border-top: $modal-border;
//   .neo-modal__footer {
//     display: flex;
//     justify-content: flex-end;

//     .neo-btn {
//       margin-bottom: 0;

//       /* stylelint-disable max-nesting-depth */
//       &:not(:last-child) {
//         margin-right: $modal-margin;

//         @include rtl-selector {
//           margin: {
//             left: $modal-margin;
//             right: initial;
//           }
//         }
//       }
//     }

//     @include modal-element($modal-padding, 'top');
//   }
// }
