.neo-skipnav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: $skipNav-background-color;
  border-radius: $skipNav-border-radius;
  height: max-content;
  width: max-content;
  margin: $skipNav-margin;
  position: absolute;
  /* TODO z-index value needs to revisted */
  z-index: 32;
  padding: $skipNav-padding;
  line-height: $skipNav-line-height;
  font-weight: $skipNav-font-weight;
  color: $skipNav-font-color;
  font-size: $skipNav-font-size;

  &:focus {
    outline: $global-outline-color auto 2px;
  }
  &:active {
    outline: $global-outline-color auto 2px;
  }
  &:hover {
    color: $skipNav-font-color !important;
  }
}
