.neo-stepper {
  display: flex;
  list-style: none;
  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    &[role="button"] {
      &::before {
        cursor: pointer;
      }
    }
    p:first-child {
      color: $stepper-main-font-color;
      font-size: $stepper-main-text-font-size;
      font-weight: 600;
      letter-spacing: $stepper-main-text-letter-spacing;
      line-height: $stepper-main-text-line-height;
      margin-top: $stepper-text-spacing;
    }
    p:last-child {
      color: $stepper-optional-font-color;
      font-size: $stepper-optional-text-font-size;
      font-weight: $stepper-optional-text-font-weight;
      letter-spacing: $stepper-optional-text-letter-spacing;
      line-height: $stepper-optional-text-line-height;
    }
    &::before {
      content: "";
      display: block;
      width: $stepper-indicator-size;
      height: $stepper-indicator-size;
      background-color: white;
      border: 5px solid $stepper-background-color;
      border-radius: $stepper-indicator-border-radius;
      position: relative;
      margin: 1rem auto 0;
      z-index: 1;
    }
    &.neo-stepper__item--complete {
      p:first-child {
        font-weight: $stepper-main-text-font-weight;
      }
      &::before {
        font-family: "updated-neo-icons";
        content: $token-icons-neo-icon-check;
        color: white;
        width: $stepper-indicator-size;
        height: $stepper-indicator-size;
        background-color: $stepper-background-color;
        border: unset;
        border-radius: $stepper-indicator-border-radius;
        position: relative;
        margin: 1rem auto 0;
        z-index: 1;
        align-items: center;
        justify-content: center;
        display: flex;
      }
    }
    &.neo-stepper__item--disabled {
      p:first-child {
        color: $stepper-disabled-main-text-font-color;
        font-size: $stepper-main-text-font-size;
        font-weight: $stepper-main-text-font-weight;
        letter-spacing: $stepper-main-text-letter-spacing;
        line-height: $stepper-main-text-line-height;
        margin-top: $stepper-text-spacing;
      }
      p:last-child {
        color: $stepper-optional-font-color;
        font-size: $stepper-optional-text-font-size;
        font-weight: $stepper-optional-text-font-weight;
        letter-spacing: $stepper-optional-text-letter-spacing;
        line-height: $stepper-optional-text-line-height;
      }
      &::before {
        color: white;
        width: $stepper-indicator-size;
        height: $stepper-indicator-size;
        background-color: transparent;
        border: $stepper-disabled-indicator-border-width
          $stepper-dash-border-style $stepper-disabled-indicator-color;
        border-radius: $stepper-indicator-border-radius;
        position: relative;
        margin: 1rem auto 0;
        z-index: 1;
        cursor: not-allowed;
      }
    }
    &:not(:last-child):after {
      content: "";
      height: $stepper-dash-border-width;
      background-color: $stepper-background-color;
      position: relative;
      top: 30%;
      // subtract half the width of the circle and add desired spacing
      left: calc(50% + 12px + 8px);
      order: -1;
      // subtract full width of circle and twice the desired spacing
      width: calc(100% - 24px - 8px - 8px);
    }
    &.neo-stepper__item--disabled-next:not(:last-child):after {
      content: "";
      height: $stepper-disabled-dash-border-width;
      background-color: $stepper-disabled-dash-color;
      position: relative;
      top: 30%;
      // subtract half the width of the circle and add desired spacing
      left: calc(50% + 12px + 8px);
      order: -1;
      // subtract full width of circle and twice the desired spacing
      width: calc(100% - 24px - 8px - 8px);
    }
  }
}

.neo-stepper--vertical {
    display: flex;
    list-style: none;
    flex-direction: column;
    &__item {
      display: flex;
      position: relative;
      padding-bottom: $stepper-dash-width;
      &[role="button"] {
        &::before {
          cursor: pointer;
        }
      }
      p:first-child {
        color: $stepper-main-font-color;
        font-size: $stepper-main-text-font-size;
        font-weight: 600;
        letter-spacing: $stepper-main-text-letter-spacing;
        line-height: $stepper-main-text-line-height;
      }
      p:last-child {
        color: $stepper-optional-font-color;
        font-size: $stepper-optional-text-font-size;
        font-weight: $stepper-optional-text-font-weight;
        letter-spacing: $stepper-optional-text-letter-spacing;
        line-height: $stepper-optional-text-line-height;
      }
      &::before {
        content: "";
        display: block;
        width: $stepper-indicator-size;
        height: $stepper-indicator-size;
        background-color: white;
        border: 5px solid $stepper-background-color;
        border-radius: $stepper-indicator-border-radius;
        position: relative;
        // margin: 1rem auto 0;
        z-index: 1;
        flex: 0 0 $stepper-indicator-size;
        top: $stepper-dash-spacing;
      }
      &.neo-stepper--vertical__item--complete {
        p:first-child {
          font-weight: $stepper-main-text-font-weight;
        }
        &::before {
          font-family: "updated-neo-icons";
          content: $token-icons-neo-icon-check;
          color: white;
          width: $stepper-indicator-size;
          height: $stepper-indicator-size;
          background-color: $stepper-background-color;
          border: unset;
          border-radius: $stepper-indicator-border-radius;
          position: relative;
        //   margin: 1rem auto 0;
          z-index: 1;
          align-items: center;
          justify-content: center;
          display: flex;
        }
      }
      &.neo-stepper--vertical__item--disabled {
        p:first-child {
          color: $stepper-disabled-main-text-font-color;
          font-size: $stepper-main-text-font-size;
          font-weight: $stepper-main-text-font-weight;
          letter-spacing: $stepper-main-text-letter-spacing;
          line-height: $stepper-main-text-line-height;
        }
        p:last-child {
          color: $stepper-optional-font-color;
          font-size: $stepper-optional-text-font-size;
          font-weight: $stepper-optional-text-font-weight;
          letter-spacing: $stepper-optional-text-letter-spacing;
          line-height: $stepper-optional-text-line-height;
        }
        &::before {
          color: white;
          width: $stepper-indicator-size;
          height: $stepper-indicator-size;
          background-color: transparent;
          border: $stepper-disabled-indicator-border-width
            $stepper-dash-border-style $stepper-disabled-indicator-color;
          border-radius: $stepper-indicator-border-radius;
          position: relative;
        //   margin: 1rem auto 0;
          z-index: 1;
          cursor: not-allowed;
        }
      }
      &:not(:last-child):after {
        content: "";
        width: $stepper-dash-border-width;
        background-color: $stepper-background-color;
        position: absolute;
        left: 0;
        top: calc(#{$stepper-indicator-size} + 16px);
        bottom: 0;
        transform: translateX(11px);
      }
      &.neo-stepper--vertical__item--disabled-next:not(:last-child):after {
        content: "";
        width: $stepper-disabled-dash-border-width;
        background-color: $stepper-disabled-dash-color;
        position: absolute;
        left: 0;
        top: calc(#{$stepper-indicator-size} + 16px);
        bottom: 0;
        transform: translateX(11px);
      }
    }
    &__content {
        margin-left: $stepper-text-spacing;
    }
  }
