// update tab styles

%tab-nav {
  align-items: flex-end;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  transition: $tab-transition;
  @include rtl-selector {
    margin: {
      left: initial;
      right: 0;
    }
  }
}

@mixin tab-nav {
  &__nav {
    @extend %tab-nav;
    &--vertical {
      align-items: flex-start;
      flex-direction: column;
    }
  }
}

// vertical tab styles

@mixin tab-item-vertical {
  &__item--vertical {
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: $tab-item-max-height;
    padding: $tab-padding-default;
    border-left: $tab-action-border-bottom-width solid transparent;
    background-color: white;
    display: flex;

    // @include rtl-selector {
    //   margin: {
    //     left: $tab-offset;
    //     right: initial;
    //   }
    // }

    // &:last-child {
    //   margin-right: 0;

    //   @include rtl-selector {
    //     margin-left: 0;
    //   }
    // }
    &:focus {
      outline: none;
    }
    a {
      &:not(:last-child) {
        margin-right: 5px;
        @include rtl-selector {
          margin-left: 5px;
          margin-right: 0px;
        }
      }
      color: $tab-default-color;
      cursor: pointer;
      display: block;
      margin: 0;
      padding-bottom: 8px;
      text-decoration: none;
      text-transform: capitalize;

      &:focus {
        outline: none;
      }

      &:before {
        margin-right: 5px;
        color: $tab-default-color;
        @include rtl-selector {
          margin-left: 5px;
          margin-right: 0;
        }
      }
    }
    // hover states that affect whole Component
    &:hover {
      a {
        &:before {
          color: $tab-item-hover-color;
        }
        color: $tab-item-hover-color;
      }
      span {
        cursor: pointer;
        &:before {
          color: $tab-item-hover-color;
        }
        color: $tab-item-hover-color;
      }
    }

    @include tab--active-vertical;
    @include tab--disabled;
  }
}
@mixin tab--active-vertical {
  &--active {
    background-color: white;
    border-width: 2px;
    border-left-color: $tab-action-active-border-color;
    &:hover {
      border-left-color: $tab-item-hover-color;
      cursor: pointer;
      a {
        color: $tab-item-hover-color;
        font-weight: $tab-hover-font-weight;
        &:before {
          color: $tab-item-hover-color;
          font-weight: $tab-hover-font-weight;
        }
      }
      span {
        cursor: pointer;
        color: $tab-item-hover-color;
      }
    }
    @include rtl-selector {
      border-left: none;
      border-right: 2px solid $tab-action-active-border-color;
      &:hover {
        border-right: 2px solid $tab-item-hover-color;
      }
    }
    a {
      color: $tab-action-active-color;
      font-weight: $tab-hover-font-weight;
      &:before {
        color: $tab-action-active-color;
        font-weight: $tab-hover-font-weight;
      }
    }
    span {
      color: $tab-action-active-color;
    }
  }
}

@mixin tab-item {
  &__item {
    background-color: white;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: $tab-item-max-height;
    padding: 8px 16px 0px 16px;
    display: flex;

    // &:last-child {
    //   margin-right: 0;

    //   @include rtl-selector {
    //     margin-left: 0;
    //     margin-right: 16px;
    //   }
    // }

    // rtl style to space a from close button
    @include rtl-selector {
      a:not(:last-child) {
        padding-left: 5px;
        padding-right: 0px;
      }
    }

    a {
      color: $tab-default-color;
      cursor: pointer;
      display: block;
      margin: 0;
      // padding-top of tab item minus 2px for border
      padding-bottom: 6px;
      text-decoration: none;
      text-transform: capitalize;
      border-bottom: $tab-action-border-bottom-width solid transparent;
      &:not(:last-child) {
        padding-right: 5px;
      }
      &:focus {
        outline: none;
      }
      &:before {
        margin-right: 5px;
        color: $tab-default-color;
        @include rtl-selector {
          margin: {
            left: 5px;
            right: 0;
          }
        }
      }

      // &[dir='rtl']:before {
      //   margin-left: 5px;
      //   color: $tab-default-color;
      // }

      // &::after {
      //   display: block;
      //   content: attr(title);
      //   font-weight: bold;
      //   height: 0;
      //   overflow: hidden;
      //   visibility: hidden;
      // }
    }

    span {
      border-bottom: $tab-action-border-bottom-width solid transparent;
      // &:hover {
      //   cursor: pointer;
      //   color: $tab-item-hover-color;
      //   // color: $input-hover-color;
      // }
    }

    &:hover {
      a {
        &:before {
          color: $tab-item-hover-color;
        }
        // border-width: 2px;
        // border-bottom-color: $tab-item-hover-color;
        color: $tab-item-hover-color;
        // text-shadow: 1px 0 0 $tab-item-hover-color;
      }
      span {
        cursor: pointer;
        color: $tab-item-hover-color;
        // color: $input-hover-color;
      }
    }

    @include tab--active;
    @include tab--disabled;
  }

  // @include tab--bordered;
}

@mixin tab--active {
  &--active {
    // property related to carousel
    opacity: 1;
    background-color: white;
    a {
      color: $tab-action-active-color;
      font-weight: $tab-hover-font-weight;
      border-bottom-color: $tab-action-active-border-color;
      &:before {
        color: $tab-action-active-color;
        font-weight: $tab-hover-font-weight;
      }
      &:focus {
        box-shadow: none;
      }
    }
    span {
      border-bottom-color: $tab-action-active-border-color;
      color: $tab-action-active-color;
    }
    &:hover {
      a {
        color: $tab-item-hover-color;
        // text-shadow: 0.5px 0 0 $tab-item-hover-color;
        font-weight: $tab-hover-font-weight;
        border-bottom-color: $tab-item-hover-color;
        &:before {
          color: $tab-item-hover-color;
          // text-shadow: 0.5px 0 0 $tab-item-hover-color;
          font-weight: $tab-hover-font-weight;
        }
      }
      span {
        cursor: pointer;
        color: $tab-item-hover-color;
        border-bottom-color: $tab-item-hover-color;
      }
    }
  }
}

@mixin tab--disabled {
  &--disabled {
    background-color: white;
    box-shadow: none;
    color: $token-color-base-400;
    cursor: not-allowed;
    a {
      color: $token-color-base-400;
      &:before {
        color: $token-color-base-400;
      }
      &:focus {
        box-shadow: none;
        color: $token-color-base-400;
        background-color: $token-color-base-0;
      }
    }
    span {
      color: $token-color-base-400;
    }
    &:hover {
      cursor: not-allowed;
      a {
        cursor: not-allowed;
        color: $token-color-base-400;
        font-weight: normal;
        &:before {
          color: $token-color-base-400;
          font-weight: normal;
        }
      }
      span {
        cursor: not-allowed;
        color: $token-color-base-400;
        &:before {
          color: $token-color-base-400;
        }
      }
    }
  }

  &--active-disabled {
    background-color: white;
    box-shadow: none;
    color: $token-color-blue-200;
    font-weight: $tab-hover-font-weight;
    cursor: not-allowed;
    a {
      cursor: not-allowed;
      color: $token-color-blue-200;
      border-width: 2px;
      border-bottom-color: $token-color-blue-200;
      &:before {
        color: $token-color-blue-200;
        font-weight: $tab-hover-font-weight;
      }
    }
    &:focus {
      box-shadow: none;
      color: $token-color-blue-200;
      background-color: $token-color-base-0;
    }
    span {
      color: $token-color-blue-200;
      border-bottom-color: $token-color-blue-200;
      &:before {
        color: $token-color-blue-200;
      }
    }
    &:hover {
      a {
        cursor: not-allowed;
        color: $token-color-blue-200;
        font-weight: $tab-hover-font-weight;
        border-width: 2px;
        border-bottom-color: $token-color-blue-200;
        &:before {
          color: $token-color-blue-200;
          font-weight: $tab-hover-font-weight;
        }
      }
      span {
        cursor: not-allowed;
        &:hover {
          cursor: not-allowed;
          color: $token-color-blue-200;
        }
      }
    }
  }

  &--vertical-active-disabled {
    background-color: white;
    box-shadow: none;
    font-weight: $tab-hover-font-weight;
    color: $token-color-blue-200 !important;
    cursor: not-allowed !important;
    border-left: 2px solid $token-color-blue-200 !important;
    @include rtl-selector {
      border-left: none !important;
      border-right: 2px solid $token-color-blue-200 !important;
      &:hover {
        border-right: 2px solid $token-color-blue-200 !important;
      }
    }
    &:focus {
      box-shadow: none;
      color: $token-color-base-400;
      background-color: $token-color-base-0;
    }
    a {
      cursor: not-allowed !important;
      color: $token-color-blue-200 !important;
      &:before {
        color: $token-color-blue-200;
        font-weight: $tab-hover-font-weight;
      }
    }
    span {
      cursor: not-allowed !important;
      color: $token-color-blue-200;
      &:before {
        color: $token-color-blue-200 !important;
      }
    }
    &:hover {
      cursor: not-allowed !important;
      a {
        cursor: not-allowed !important;
        color: $token-color-blue-200;
        font-weight: $tab-hover-font-weight;
        border-width: 2px;
        border-left-color: $token-color-blue-200;

        &:before {
          color: $token-color-blue-200;
          font-weight: $tab-hover-font-weight;
        }
      }
      span {
        cursor: not-allowed !important;
        color: $token-color-blue-200;
      }
    }
  }
}

@mixin tab-container {
  &__container {
    display: none;
    padding-top: $global-spacer-large;

    &--active {
      display: flex;
      flex-direction: column;
    }
  }
}

@mixin tab-slider() {
  .neo-tabs__nav-scroll {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }
}

@mixin tab-carousel() {
  &__carousel {
    display: flex;
  }
  &__carousel--scroll {
    display: flex;
    overflow: hidden;
  }
  &__carousel--button {
    border: 0;
    background-color: $tab-background-color;
    &:before {
      color: $tab-carousel-button-color;
    }
    &:hover {
      cursor: pointer;
      &:before {
        color: $tab-item-hover-color;
      }
    }
  }
  &__carousel--more {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
}

@mixin tab-close-btn {
  /* stylelint-disable-next-line selector-class-pattern */
  & .neo-icon-end {
    background: none;
    &:before {
      font-size: $notification-close-icon-size;
    }
  }
}

@mixin extra-content {
  &__extra-content {
    align-items: center;
    display: flex;

    .neo-dropdown {
      .neo-btn {
        border: 0;
        margin-bottom: 0;
      }
    }
  }
}

.neo-tabs {
  &--wrapper {
    height: inherit;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  @include tab-container;
  @include tab-nav;
  @include tab-close-btn;
  @include extra-content;
  @include tab-item;
  @include tab-item-vertical;
  @include tab-carousel;
}
