// new widget styles

// experimental shimmer style -- credit to https://webdevtrick.com/pure-css-shimmer-text-effect/

@mixin neo-shimmer {
  &--loading > * {
    text-align: center;
    color: transparent;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#f1f1f1),
      to(#f1f1f1),
      color-stop(0.5, #fff)
    );
    background: -moz-gradient(
      linear,
      left top,
      right top,
      from(#f1f1f1),
      to(#f1f1f1),
      color-stop(0.5, #fff)
    );
    background: gradient(
      linear,
      left top,
      right top,
      from(#f1f1f1),
      to(#f1f1f1),
      color-stop(0.5, #fff)
    );
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #f1f1f1;
    // height: 50px;
  }
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@mixin widget-element($value, $border-position: false) {
  background-color: white;
  padding: $value;

  // @if ($border-position) {
  //   border-#{$border-position}: $modal-divider;
  // }
}

.neo-widget__content {
  // animation: animation-modal-content $modal-animation-time;
  background-color: white;
  border: 1px solid $token-color-base-200;
  border-radius: 4px;
  // box-shadow: $modal-shadow;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  // padding: 0 $modal-padding-y;
  position: relative;
  width: auto;
  // z-index: $modal-content-z;

  .neo-widget__header {
    @include widget-element(16px);
    // text-align: center;
    width: 100%;
    // vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &::before {
      margin-right: 10px;
    }
    & .neo-widget__header-left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & [class^='neo-icon-']:before,
      & [class*='neo-icon-']:before {
        font-size: 24px;
      }
      & h4 {
        align-self: center;
        margin-left: 8px;
        color: black;
      }
    }

    & .neo-widget__header-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex: auto;
      & [class^='neo-icon-']:before,
      & [class*='neo-icon-']:before {
        font-size: 24px;
      }
    }

    &-disabled {
      background-color: $global-disabled-bg;
      color: $global-disabled-color;

      & h4 {
        color: $global-disabled-color !important;
      }

      & > * {
        color: $global-disabled-color;
      }
    }
  }

  .neo-widget__body {
    min-height: $modal-body-height;

    @include widget-element(16px, top);
    @include neo-shimmer;
    &-disabled {
      background-color: $global-disabled-bg;
      color: $global-disabled-color;
    }
  }

  .neo-widget__message {
    font-size: $modal-message-font-size;
    margin-bottom: $modal-message-margin-bottom;
    &-disabled {
      background-color: $global-disabled-bg;
      color: $global-disabled-color;
    }
  }

  .neo-widget__footer {
    display: flex;
    justify-content: flex-end;
    &-disabled {
      background-color: $global-disabled-bg;
      color: $global-disabled-color;
    }

    .neo-btn {
      margin-bottom: 0;
      &-secondary[disabled] {
        border: none;
      }

      /* stylelint-disable max-nesting-depth */
      &:not(:last-child) {
        margin-right: $modal-margin;

        @include rtl-selector {
          margin: {
            left: $modal-margin;
            right: initial;
          }
        }
      }
    }

    @include widget-element(16px, top);
  }
}
