@mixin neo-widget-header {
  &__header {
    align-items: center;
    border-bottom: 1px solid $widget-border-color;
    box-sizing: border-box;
    color: $widget-heading-color;
    display: inline-flex;
    font-size: $widget-heading-font-size;
    font-weight: $widget-heading-font-weight;
    height: $widget-heading-height;
    justify-content: flex-start;
    margin: 0;
    overflow: hidden;
    padding: $widget-heading-padding;
    text-overflow: ellipsis;

    @include neo-icons;
  }
}

@mixin neo-widget-content--loading {
  .neo-widget--loading > & {
    color: transparent;
    font-size: 0;
    overflow: hidden;
    padding: $widget-heading-padding;
    text-shadow: none;

    > * {
      display: none;
    }

    &::before {
      animation: widgetLoadingContent 2s infinite linear;
      background: linear-gradient(
        to right,
        $neo-mid-grey 50%,
        $neo-blue-grey-dark
      );
      background-size: 100vw;
      content: '';
      display: flex;
      height: 160px;
      opacity: 0.2;
    }

    &::after {
      background: $neo-white;
      background-clip: content-box;
      box-shadow: 0 20px $neo-white, 0 60px $neo-white, 0 80px $neo-white,
        350px 100px $neo-white, 0 120px $neo-white, 450px 140px $neo-white;
      content: '';
      height: 20px;
      left: 0;
      padding-left: 50%;
      position: absolute;
      top: $widget-heading-padding;
      width: 100%;
    }
  }
}

@mixin neo-widget-content {
  &__content {
    flex: 1;
    min-height: $widget-content-min-height;
    overflow: auto;
    padding: 0;
    position: relative;

    &--indented {
      padding: $widget-content-padding;
    }

    &--no-scroll {
      overflow: hidden;
    }

    @include neo-widget-content--loading;
  }
}

@mixin neo-widget-footer {
  &__footer {
    border-top: 1px solid $widget-border-color;
    padding: $widget-footer-padding;
    text-align: right;

    @include rtl-selector {
      text-align: left;
    }
  }
}

@mixin neo-widget--disabled {
  &--disabled {
    cursor: not-allowed;
    opacity: $widget-disabled-opacity;
  }
}

.neo-widget {
  background: $neo-white;
  border: 1px solid $widget-border-color;
  border-radius: $widget-border-radius;
  box-shadow: $widget-box-shadow;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;

  @include neo-widget-header;
  @include neo-widget-content;
  @include neo-widget-footer;
  @include neo-widget--disabled;
  @include neo-flat;
}

// new widget styles

// experimental shimmer style -- credit to https://webdevtrick.com/pure-css-shimmer-text-effect/

@mixin neo-shimmer-update {
  &--loading > * {
    text-align: center;
    color: transparent;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#c0c0cc),
      to(#c0c0cc),
      color-stop(0.5, #fff)
    );
    background: -moz-gradient(
      linear,
      left top,
      right top,
      from(#c0c0cc),
      to(#c0c0cc),
      color-stop(0.5, #fff)
    );
    background: gradient(
      linear,
      left top,
      right top,
      from(#c0c0cc),
      to(#c0c0cc),
      color-stop(0.5, #fff)
    );
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #c0c0cc;
    // height: 50px;
  }
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@mixin widget-element-update($value, $border-position: false) {
  background-color: white;
  padding: $value;

  // @if ($border-position) {
  //   border-#{$border-position}: $modal-divider;
  // }
}

.neo-widget-update__content {
  // animation: animation-modal-content $modal-animation-time;
  background-color: white;
  border: $modal-border-update;
  // border-radius: $modal-radius;
  // box-shadow: $modal-shadow-update;
  display: flex;
  flex-direction: column;
  max-width: $modal-width;
  overflow: auto;
  // padding: 0 $modal-padding-y;
  position: relative;
  width: $modal-width;
  // z-index: $modal-content-z;

  .neo-widget-update__header {
    @include widget-element-update(16px);
    // text-align: center;
    vertical-align: center;
    display: flex;
    flex-direction: row;
    & h4 {
      margin-left: 8px;
      color: black !important;
    }
    &-disabled {
      background-color: $global-disabled-background-update;
      color: $global-disabled-text-color-update;
      & > * {
        color: $global-disabled-text-color-update;
      }
    }
  }

  .neo-widget-update__body {
    min-height: $modal-body-height;

    @include widget-element-update(16px, top);
    @include neo-shimmer-update;
    &-disabled {
      background-color: $global-disabled-background-update;
      color: $global-disabled-text-color-update;
    }
  }

  .neo-widget-update__message {
    font-size: $modal-message-font-size;
    margin-bottom: $modal-message-margin-bottom;
    &-disabled {
      background-color: $global-disabled-background-update;
      color: $global-disabled-text-color-update;
    }
  }

  .neo-widget-update__footer {
    display: flex;
    justify-content: flex-end;
    &-disabled {
      background-color: $global-disabled-background-update;
      color: $global-disabled-text-color-update;
    }

    .neo-btn-update {
      margin-bottom: 0;
      &-secondary[disabled] {
        border: none;
      }

      /* stylelint-disable max-nesting-depth */
      &:not(:last-child) {
        margin-right: $modal-margin;

        @include rtl-selector {
          margin: {
            left: $modal-margin;
            right: initial;
          }
        }
      }
    }

    @include widget-element-update(16px, top);
  }
}
