// new widget styles

// experimental shimmer style -- credit to https://webdevtrick.com/pure-css-shimmer-text-effect/

@mixin neo-shimmer {
  &--loading > * {
    text-align: center;
    color: transparent;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#c0c0cc),
      to(#c0c0cc),
      color-stop(0.5, #fff)
    );
    background: -moz-gradient(
      linear,
      left top,
      right top,
      from(#c0c0cc),
      to(#c0c0cc),
      color-stop(0.5, #fff)
    );
    background: gradient(
      linear,
      left top,
      right top,
      from(#c0c0cc),
      to(#c0c0cc),
      color-stop(0.5, #fff)
    );
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #c0c0cc;
    // height: 50px;
  }
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@mixin widget-element($value, $border-position: false) {
  background-color: white;
  padding: $value;

  // @if ($border-position) {
  //   border-#{$border-position}: $modal-divider;
  // }
}

.neo-widget__content {
  // animation: animation-modal-content $modal-animation-time;
  background-color: white;
  border: $modal-border;
  // border-radius: $modal-radius;
  // box-shadow: $modal-shadow;
  display: flex;
  flex-direction: column;
  max-width: $modal-width;
  overflow: auto;
  // padding: 0 $modal-padding-y;
  position: relative;
  width: $modal-width;
  // z-index: $modal-content-z;

  .neo-widget__header {
    @include widget-element(16px);
    // text-align: center;
    vertical-align: center;
    display: flex;
    flex-direction: row;
    & h4 {
      margin-left: 8px;
      color: black !important;
    }
    &-disabled {
      background-color: $global-disabled-bg;
      color: $global-disabled-color;
      & > * {
        color: $global-disabled-color;
      }
    }
  }

  .neo-widget__body {
    min-height: $modal-body-height;

    @include widget-element(16px, top);
    @include neo-shimmer;
    &-disabled {
      background-color: $global-disabled-bg;
      color: $global-disabled-color;
    }
  }

  .neo-widget__message {
    font-size: $modal-message-font-size;
    margin-bottom: $modal-message-margin-bottom;
    &-disabled {
      background-color: $global-disabled-bg;
      color: $global-disabled-color;
    }
  }

  .neo-widget__footer {
    display: flex;
    justify-content: flex-end;
    &-disabled {
      background-color: $global-disabled-bg;
      color: $global-disabled-color;
    }

    .neo-btn {
      margin-bottom: 0;
      &-secondary[disabled] {
        border: none;
      }

      /* stylelint-disable max-nesting-depth */
      &:not(:last-child) {
        margin-right: $modal-margin;

        @include rtl-selector {
          margin: {
            left: $modal-margin;
            right: initial;
          }
        }
      }
    }

    @include widget-element(16px, top);
  }
}
