<section
  style="display: flex; justify-content: center; width: 50%; margin-bottom: 10rem; height: 150px; padding-top:130px"
>
  <div
    class="neo-dropdown neo-dropdown--right neo-dropdown--active"
    role="group"
  >
    <button
      class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-dropdown__link-header"
      data-badge="">Open Menu</button
    ><div
      class="neo-dropdown__content neo-dropdown__content--below-upwards"
      role="menu"
      tabindex="-1"
    >
      <div
        class="neo-dropdown__link neo-dropdown__link-active"
        id="202052dd-4cc2-40b2-bf71-0f141473bcc2"
        role="menuitem"
        tabindex="0"
      >
        Menu Item 1
      </div><div
        class="neo-dropdown__link"
        id="442d6c78-984c-4f41-b330-69e1ae40b16e"
        role="menuitem"
        tabindex="-1"
      >
        Menu Item 2
      </div><div
        class="neo-dropdown__link"
        id="8b873535-dc07-427c-b4a5-7ecfcd7a72bc"
        role="menuitem"
        tabindex="-1"
      >
        Menu Item 3
      </div>
    </div>
  </div>
</section>
