<section
  style="display: flex; justify-content: center; width: 50%; margin-bottom: 10rem; height: 150px; padding-top:130px"
>
  <div
    class="neo-dropdown neo-dropdown--right neo-dropdown--active"
    role="group"
  >
    <button
      class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-dropdown__link-header"
      data-badge="">To the right of Toggle</button
    ><div
      class="neo-dropdown__content neo-dropdown__content--toggle-right neo-dropdown__content--aside-upwards"
      role="menu"
      tabindex="-1"
    >
      <div
        class="neo-dropdown__link neo-dropdown__link-active"
        id="df11be61-19dc-4a1e-975e-46271ddd0799"
        role="menuitem"
        tabindex="0"
      >
        Menu Item 1
      </div><div
        class="neo-dropdown__link"
        id="d6a9265b-fde2-4bfd-8509-729f5d72cd18"
        role="menuitem"
        tabindex="-1"
      >
        Menu Item 2
      </div><div
        class="neo-dropdown__link"
        id="5817abd1-5f65-4d05-b1de-a10f3453e275"
        role="menuitem"
        tabindex="-1"
      >
        Menu Item 3
      </div>
    </div>
  </div>
</section>
