<section style="display: flex; justify-content: center; width: 50%; margin-bottom: 10rem;">
  <div class="neo-dropdown neo-dropdown--right neo-dropdown--active" role="group">
  <button
    class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-dropdown__link-header"
    data-badge="">To the right of Toggle</button
  ><div
    class="neo-dropdown__content neo-dropdown__content--toggle-right"
    role="menu"
    tabindex="-1"
  >
    <div
      class="neo-dropdown__link"
      id="2658b075-d0cb-4563-97b0-1c786f7ac20d"
      role="menuitem"
      tabindex="-1"
    >
      Menu Item 1
    </div><div
      class="neo-dropdown__link"
      id="d9442226-fdb3-44a9-a6ad-31f52fe9fe9b"
      role="menuitem"
      tabindex="-1"
    >
      Menu Item 2
    </div><div
      class="neo-dropdown__link neo-dropdown__link-active"
      id="af176f9f-cc00-44a6-bfdd-3107e244fd71"
      role="menuitem"
      tabindex="0"
    >
      Menu Item 3
    </div>
  </div>
</div>
</section>
