<section style="display: flex; justify-content: center; width: 50%; margin-bottom: 10rem;">
  <div
    class="neo-dropdown neo-dropdown--right neo-dropdown--active"
    role="group"
  >
    <button
      class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-dropdown__link-header"
      data-badge="">To the left of Toggle</button
    ><div
      class="neo-dropdown__content neo-dropdown__content--toggle-left"
      role="menu"
      tabindex="-1"
    >
      <div
        class="neo-dropdown__link neo-dropdown__link-active"
        id="30315137-9f6e-4659-9f5b-0cd85176388c"
        role="menuitem"
        tabindex="0"
      >
        Menu Item 1
      </div><div
        class="neo-dropdown__link"
        id="d488889a-a65c-420d-ab7e-b8ce523609fe"
        role="menuitem"
        tabindex="-1"
      >
        Menu Item 2
      </div><div
        class="neo-dropdown__link"
        id="3b559ef1-14ea-46ee-8ff0-384b265b9303"
        role="menuitem"
        tabindex="-1"
      >
        Menu Item 3
      </div>
    </div>
  </div>
</section>
