<section
  style="display: flex; justify-content: center; width: 50%; margin-bottom: 10rem; height: 150px; padding-top:130px"
>
  <div
    class="neo-dropdown neo-dropdown--right neo-dropdown--active"
    role="group"
  >
    <button
      class="neo-btn neo-btn--default neo-btn-primary neo-btn-primary--default neo-dropdown__link-header"
      data-badge="">To the left of Toggle</button
    ><div
      class="neo-dropdown__content neo-dropdown__content--toggle-left neo-dropdown__content--aside-upwards"
      role="menu"
      tabindex="-1"
    >
      <div
        class="neo-dropdown__link neo-dropdown__link-active"
        id="6c215ac4-1cae-476c-9b8b-3eccdc76d825"
        role="menuitem"
        tabindex="0"
      >
        Menu Item 1
      </div><div
        class="neo-dropdown__link"
        id="d35bdceb-e0e7-4da3-ba45-a1034d0fdea1"
        role="menuitem"
        tabindex="-1"
      >
        Menu Item 2
      </div><div
        class="neo-dropdown__link"
        id="2b91b8c5-14cb-4ed8-b0b4-10bd7e703ded"
        role="menuitem"
        tabindex="-1"
      >
        Menu Item 3
      </div>
    </div>
  </div>
</section>
