---
import Layout from '../layouts/Layout.astro';

import Card from '../components/Card.astro';
import { Table } from '../components/Table';
---

<Layout title="Table Staging">
  <main>
    <ul role="list" class="link-card-grid">
      <Card href="/" title="Home" body="Return home" />
    </ul>

    <Table />
  </main>
</Layout>
