@mixin form--states {
  @each $state-color-name, $state-color-value in $input-state-color-map {
    &--#{$state-color-name} {
      > .neo-input-group ~ label,
      > .neo-input ~ label,
      > .neo-select ~ label,
      > .neo-radio ~ label,
      > .neo-check ~ label,
      > .neo-switch,
      .neo-input-hint {
        color: $state-color-value;
      }

      .neo-input,
      .neo-chips,
      .neo-select select {
        border-color: $state-color-value;
      }
    }
  }
}

@mixin form--required {
  &--required {
    > label {
      &::after {
        color: $input-asterix-required-color;
        content: '*';
        padding-left: 2px;
      }
    }
  }
}

.neo-form {
  &-control {
    margin-bottom: $form-control-margin-bottom;

    @include form--states;
    @include form--required;
  }

  &--inline {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

// th > &,
// td > & {
//   margin-bottom: 0;
// }

// new form classes

@mixin form--states-update {
  @each $state-color-name, $state-color-value in $input-state-color-map-update {
    &--#{$state-color-name} {
      > .neo-input-group-update ~ label,
      > .neo-input-update ~ label,
      > .neo-select-update ~ label,
      > .neo-radio-update ~ label,
      > .neo-check-update ~ label,
      > .neo-switch-update,
      .neo-input-hint-update {
        color: $state-color-value;
      }

      .neo-input-update,
      .neo-chips-update,
      .neo-select-update select {
        border-color: $state-color-value;
      }
    }
  }
}

@mixin form--required-update {
  &--required {
    > label {
      &::after {
        color: $input-asterix-required-color-update;
        content: '*';
        padding-left: 2px;
      }
    }
  }
}

.neo-form-update {
  &-control {
    margin-bottom: $form-control-margin-bottom;

    @include form--states-update;
    @include form--required-update;
  }

  &--inline {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
