@mixin input--editable {
  &--editable {
    display: flex;
    flex-wrap: wrap;
    min-height: $input-height - 2 * $input-padding-y;

    > * {
      margin-bottom: 0 !important;
    }

    .neo-chip {
      line-height: $input-line-height;
      padding-bottom: 0;
      padding-top: 0;
    }

    .neo-input {
      border: 0;
      box-shadow: none;
      flex-grow: 1;
      padding: 0;
      width: auto;
    }
  }
}

@mixin input--rounded {
  &--rounded {
    border: 1px solid $input-border-color;
    border-radius: $input-rounded-border-radius;
  }
}

@mixin input--states {
  @each $state-color-name, $state-color-value in $input-state-color-map {
    &--#{$state-color-name} {
      border-color: $state-color-value;

      &:focus {
        border-color: $state-color-value;
      }
    }
  }
}

.neo-input {
  background-color: $input-background-color;
  background-image: none;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  box-sizing: border-box;
  color: $input-font-color;
  display: block;
  font-family: inherit;
  font-size: $input-font-size;
  line-height: $input-line-height;
  min-height: $input-height;
  padding: $input-padding-y $input-padding-x;
  width: 100%;

  &[readonly] {
    background-color: $input-disabled-bg;
  }

  &[disabled] {
    background-color: $input-disabled-bg;
    color: $input-disabled-color;
    cursor: not-allowed;
  }

  label > &,
  label + & {
    margin-top: $input-in-label-margin-top;
  }

  &:focus {
    box-shadow: $input-focus-shadow;
    outline: none;
  }

  @include input--rounded;
  @include input--editable;
  @include input--states;
}

// updated input styles

@mixin input--editable-update {
  &--editable {
    display: flex;
    flex-wrap: wrap;
    min-height: $input-height-update - 2 * $input-padding-y;

    > * {
      margin-bottom: 0 !important;
    }

    .neo-chip-update {
      line-height: $input-line-height-update;
      padding-bottom: 0;
      padding-top: 0;
    }

    .neo-input-update {
      border: 0;
      box-shadow: none;
      flex-grow: 1;
      padding: 0;
      width: auto;
    }
  }
}

@mixin input--states-update {
  @each $state-color-name, $state-color-value in $input-state-color-map-update {
    &--#{$state-color-name} {
      border-color: $state-color-value;

      &:focus {
        border-color: $state-color-value;
      }
    }
  }
}

.neo-input-update {
  // background-color: $input-background-color-update;
  background-image: none;
  border: $input-border-width-update $input-border-style-update
    $input-border-color-update;
  border-radius: 4px;
  box-shadow: $input-box-shadow;
  box-sizing: border-box;
  color: $input-font-color-update;
  display: block;
  font-family: inherit;
  font-size: $input-font-size-update;
  line-height: $input-line-height-update;
  min-height: $input-height-update;
  padding: $input-padding-y $input-padding-x;
  min-width: $input-width-update;
  width: 100%;

  &[readonly] {
    background-color: transparent;
  }

  &[disabled] {
    background-color: $input-disabled-bg-update;
    color: $input-disabled-color-update;
    cursor: not-allowed;
  }

  label > &,
  label + & {
    margin-top: $input-in-label-margin-top;
  }

  &:focus {
    box-shadow: $input-focus-shadow;
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-style: $input-placeholder-font-style-update;
  }
  &::-moz-placeholder {
    font-style: $input-placeholder-font-style-update;
  }
  &:-ms-input-placeholder {
    font-style: $input-placeholder-font-style-update;
  }
  &::placeholder {
    font-style: $input-placeholder-font-style-update;
  }

  @include input--editable-update;
  @include input--states-update;
}

//  input error validation wrapper and input

.neo-input-error-wrapper-update {
  display: flex;
  flex-direction: row;
  border: $input-border-style-update $input-border-width-update
    $input-asterix-required-color-update;
  width: $input-width-update;
  min-height: $input-height-update;
  border-radius: 2px;
  & input,
  & textarea {
    border: none;
  }
  & .neo-input-error-icon-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $input-asterix-required-color-update;
    //hard-coded for now
    padding-right: 11px;
  }
}

.neo-input-hint-error-update {
  // hard-coded margin for now
  margin-top: 4px;
  color: $input-asterix-required-color-update;
}

// input placeholder wrapper

.neo-input-readonly-update {
  border: none;
  padding-left: $input-readonly-padding-update;
}

// editable input style

.neo-input-editable-wrapper-update {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: $input-border-style-update $input-border-width-update
    $input-border-color-update;
  min-height: $input-height-update;
  min-width: $input-width-update;
  & input,
  & textarea {
    flex-grow: 1;
    border: none;
    min-width: 0;
  }
  & .neo-input-edit-icon-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: $global-background-update;
    color: $input-clear-button-color;
    // hard-coded for now
    padding: 11px;
    &:hover {
      cursor: pointer;
    }
    &::before {
      font-size: 16px;
    }
    &-disabled {
      background-color: $input-disabled-bg-update;
    }
  }
}

// disabled input style

// .neo-input-disabled-update {
//   background-color: $input-disabled-bg-update;
//   color: $input-disabled-color-update;
// }
