@mixin input--editable {
  &--editable {
    display: flex;
    flex-wrap: wrap;
    min-height: $input-height - 2 * $input-padding-y;

    > * {
      margin-bottom: 0 !important;
    }

    .neo-chip {
      line-height: $input-line-height;
      padding-bottom: 0;
      padding-top: 0;
    }

    .neo-input {
      border: 0;
      box-shadow: none;
      flex-grow: 1;
      padding: 0;
      width: auto;
    }
  }
}

@mixin input--rounded {
  &--rounded {
    border: 1px solid $input-border-color;
    border-radius: $input-rounded-border-radius;
  }
}

@mixin input--states {
  @each $state-color-name, $state-color-value in $input-state-color-map {
    &--#{$state-color-name} {
      border-color: $state-color-value;

      &:focus {
        border-color: $state-color-value;
      }
    }
  }
}

.neo-input {
  background-color: $input-background-color;
  background-image: none;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  box-sizing: border-box;
  color: $input-font-color;
  display: block;
  font-family: inherit;
  font-size: $input-font-size;
  line-height: $input-line-height;
  min-height: $input-height;
  padding: $input-padding-y $input-padding-x;
  width: 100%;

  &[readonly] {
    background-color: $input-disabled-bg;
  }

  &[disabled] {
    background-color: $input-disabled-bg;
    color: $input-disabled-color;
    cursor: not-allowed;
  }

  label > &,
  label + & {
    margin-top: $input-in-label-margin-top;
  }

  &:focus {
    box-shadow: $input-focus-shadow;
    outline: none;
  }

  @include input--rounded;
  @include input--editable;
  @include input--states;
}

// updated input styles

@mixin input--editable-update {
  &--editable {
    display: flex;
    flex-wrap: wrap;
    min-height: $input-height-update - 2 * $input-padding-y;

    > * {
      margin-bottom: 0 !important;
    }

    .neo-chip-update {
      line-height: $input-line-height-update;
      padding-bottom: 0;
      padding-top: 0;
    }

    .neo-input-update {
      border: 0;
      box-shadow: none;
      flex-grow: 1;
      padding: 0;
      width: auto;
    }
  }
}

@mixin input--states-update {
  @each $state-color-name, $state-color-value in $input-state-color-map-update {
    &--#{$state-color-name} {
      border-color: $state-color-value;

      &:focus {
        border-color: $state-color-value;
      }
    }
  }
}

.neo-input-update {
  background-color: $input-background-color-update;
  background-image: none;
  border: $input-border-width-update $input-border-style-update
    $input-border-color-update;
  border-radius: $input-border-radius-update;
  box-shadow: $input-box-shadow;
  box-sizing: border-box;
  color: $input-font-color-update;
  display: block;
  font-family: inherit;
  font-size: $input-font-size-update;
  line-height: $input-line-height-update;
  min-height: $input-height-update;
  padding: $input-padding-y $input-padding-x;
  min-width: $input-width-update;

  &[readonly] {
    background-color: transparent;
  }

  &[disabled] {
    background-color: $input-disabled-bg-update;
    color: $input-disabled-color-update;
    cursor: not-allowed;
  }

  label > &,
  label + & {
    margin-top: $input-in-label-margin-top;
  }

  &:focus {
    box-shadow: $input-focus-shadow;
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-style: $input-placeholder-font-style-update;
  }
  &::-moz-placeholder {
    font-style: $input-placeholder-font-style-update;
  }
  &:-ms-input-placeholder {
    font-style: $input-placeholder-font-style-update;
  }
  &::placeholder {
    font-style: $input-placeholder-font-style-update;
  }

  @include input--editable-update;
  @include input--states-update;
}
