.neo-input-icon__wrapper {
  display: flex;
  position: relative;

  &:not(.neo-input-editable__wrapper):focus-within {
    border-color: $input-focus-border-color;
    border-width: 2px;
    margin: -1px -1px;
    & > *[class*="neo-icon"]:not(.neo-input-edit__icon) {
      margin: -1px 0 1px 1px;
    }
    & .neo-input + *[class*="neo-icon"]:not(.neo-input-edit__icon) {
      margin: -1px 1px 1px 0px;
    }
  }

  .neo-input {
    flex-grow: 1;

    &:focus {
      outline: none;
    }

    &:first-child {
      padding-right: $input-padding-x + $input-icon-size;
      @include rtl-selector {
        padding-right: $input-padding-x;
        padding-left: $input-padding-x + $input-icon-size;
      }
    }

    &:not(:first-child) {
      padding-left: $input-padding-x + $input-icon-size;
      @include rtl-selector {
        padding-left: $input-padding-x;
        padding-right: $input-padding-x + $input-icon-size;
      }
    }

    &:not(:last-child):not(:first-child) {
      padding-right: $input-padding-x + $input-icon-size;
      padding-left: $input-padding-x + $input-icon-size;
    }

    + [class*="aoc-"],
    + [class*="neo-icon"] {
      left: auto;
      right: 0;
    }
  }

  [class*="aoc-"]:not(.neo-input-edit__icon),
  [class*="neo-icon"]:not(.neo-input-edit__icon) {
    align-items: center;
    display: inline-flex;
    height: $input-height;
    justify-content: center;
    padding: $input-padding-x $input-padding-y;
    &:first-child {
      @include position(absolute, auto, auto, 0, 0);
      @include rtl-selector {
        @include position(absolute, auto, 0, 0, auto);
      }
    }
    &:last-child {
      @include position(absolute, auto, 0, 0, auto);
      @include rtl-selector {
        @include position(absolute, auto, auto, 0, 0);
      }
    }
  }
}
