// updated pagination styles

%pagination {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@mixin pagination-item {
  &__item {
    @extend %button;
    background-color: $pagination-btn-background;
    // border: $pagination-border;
    // border-radius: $pagination-border-radius;
    color: $pagination-color;
    margin: 0 $pagination-margin;
    min-width: $pagination-min-width-item;
    text-decoration: none;
    border-radius: 2px;

    @include pagination-item--hover;
    @include pagination-item--disabled;
    @include pagination-item--active;
    &--more {
      align-self: flex-end;
    }
  }
  &__item-arrow {
    @extend %button;
    background-color: $pagination-btn-background;
    // border: $pagination-border;
    // border-radius: $pagination-border-radius;
    color: $pagination-color;
    margin: 0 $pagination-margin;
    min-width: $pagination-min-width-item;
    text-decoration: none;
    @include rtl-selector {
      transform: rotate(180deg);
    }
    &:hover {
      background-color: $pagination-hover-background-color;
      color: $pagination-active-color;
    }

    // @include pagination-item--hover;
    @include pagination-item--disabled;
    @include pagination-item--active;
  }
}

// @mixin pagination-list-position {
//   &--is-right {
//     .neo-pagination__list {
//       margin-left: auto;

//       @include rtl-selector {
//         margin: {
//           left: initial;
//           right: auto;
//         }
//       }
//     }
//   }

//   &--is-left {
//     .neo-pagination__list {
//       margin-right: auto;

//       @include rtl-selector {
//         margin: {
//           left: auto;
//           right: initial;
//         }
//       }
//     }
//   }
// }

@mixin pagination-item--hover {
  &:hover {
    background-color: $pagination-hover-background-color;
    border-color: $pagination-border-color-hover;
    color: $pagination-active-color;
    transition: $pagination-transition;
  }
}

@mixin pagination-item--disabled {
  &--disabled,
  &--disabled:hover,
  &--disabled:active,
  &[disabled] {
    background-color: $pagination-disabled-bg;
    border: 0;
    box-shadow: none;
    color: $pagination-disabled-color;
    cursor: not-allowed;
  }
}

@mixin pagination-item--active {
  &--active {
    background-color: $pagination-hover-background-color;
    // border-color: $pagination-border-color-hover;
    color: $pagination-active-color;
    // font-weight: bold;

    &:hover {
      // background-color: lighten($pagination-item-color-current, 5%);
      // border-color: darken($pagination-item-color-current, 5%);
      // color: $neo-white;
      cursor: pointer;
    }
  }
}

@mixin pagination-list {
  &__list {
    @extend %pagination;
    list-style-type: none;
    margin: $pagination-margin;
    & li:not(:first-child):not(:last-child) {
      button {
        margin-right: 8px;
        @include rtl-selector {
          margin-left: 8px;
          margin-right: 0px;
        }
      }
    }
  }
}

@mixin pagination-dots {
  &__dots {
    padding: $button-padding;
    color: $pagination-dots-color;
    font-size: $pagination-dots-size;
    pointer-events: none;
  }
}

@mixin pagination-label {
  &__label {
    font-size: $pagination-label-font-size;
    margin-right: $pagination-spacer;

    @include rtl-selector {
      margin: {
        left: $pagination-spacer;
        right: initial;
      }
    }
  }
}

// Basic class
//
// Easily usable on <nav>.

.neo-pagination {
  @extend %pagination;
  // font-size: $pagination-font-size;

  > .neo-pagination__select {
    width: auto;
  }

  @include pagination-list;
  @include pagination-item;
  @include pagination-dots;
  // @include pagination-list-position;
  @include pagination-label;
}
// pagination styles

.neo-pagination__arrow-btn {
  // Figma
  color: #000000;
  // background-color: #ffffff;
  border: none;

  background-image: linear-gradient(
    50deg,
    $button-tertiary-hover-background-color 0%,
    $button-tertiary-hover-background-color 50%,
    $button-secondary-background-color 50%,
    $button-secondary-background-color 100%
  );
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 100% 0%;
  transition: background-position $global-transition-duration
    $global-transition-timing;
  transition-delay: 0s, 0.15s;

  &:hover {
    transition-property: background-position, background-color, color;
    transition-timing-function: $global-transition-timing;
    transition-duration: $global-transition-duration;
    transition-delay: 0s, 0.15s;
    color: #000000;
    background-color: $button-tertiary-hover-background-color;
    cursor: pointer;
    background-position: 0% 100%;
  }
  //   &--#{$name}:active,
  //   &--#{$name}:focus {
  //     color: map-get($value, pressed-color);
  //     background-color: $button-tertiary-hover-background-color;
  //     background-image: none;
  //   }
  &[disabled] {
    background-image: none;
    color: $token-color-base-400;
    // added to fix issue with disabled state
    background-color: transparent;
    &:hover {
      cursor: not-allowed;
      box-shadow: none;
    }
  }
  // }
  &:before {
    @include rtl-selector {
      transform: rotate(180deg);
    }
  }
}

.neo-pagination__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
