%pagination {
  align-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@mixin pagination-select {
  .neo-multiselect {
    margin-right: 8px;
    @include rtl-selector {
      margin-left: 8px;
    }
    &:focus-within .neo-multiselect__header {
      /* subtracting 1px from border width to avoid layout shifting on focus*/
      padding: 7px 23px 7px 11px;
      margin: 0;
    }
    .neo-multiselect__header {
      min-width: 70px;
      & ul li {
        padding: 8px 8px;
      }
    }
  }
}

@mixin pagination-input {
  .neo-input {
    max-width: 40px;
    &:not(last-child) {
      margin-right: 32px;
      @include rtl-selector {
        margin-left: 32px;
      }
    }
    &:focus {
       /* subtracting 1px from border width to avoid layout shifting on focus*/
      margin: -1px 32px -1px 0px;
    }
  }
}

@mixin pagination-item {
  &__item {
    @extend %button;
    background-color: $pagination-btn-background;
    color: $pagination-color;
    margin: 0 $pagination-margin;
    min-width: $pagination-min-width-item;
    text-decoration: none;
    border-radius: 2px;

    @include pagination-item--hover;
    @include pagination-item--disabled;
    @include pagination-item--active;
    &--more {
      align-self: flex-end;
    }
  }

  &__item-arrow {
    @extend %button;
    background-color: $pagination-btn-background;
    color: $pagination-color;
    margin: 0 $pagination-margin;
    min-width: $pagination-min-width-item;
    text-decoration: none;
    @include rtl-selector {
      transform: rotate(180deg);
    }
    &:hover {
      background-color: $pagination-hover-background-color;
      color: $pagination-active-color;
    }

    @include pagination-item--disabled;
    @include pagination-item--active;
  }
}

@mixin pagination-item--hover {
  &:hover {
    background-color: $pagination-hover-background-color;
    border-color: $pagination-border-color-hover;
    color: $pagination-active-color;
    transition: $pagination-transition;
  }
}

@mixin pagination-item--disabled {
  &--disabled,
  &--disabled:hover,
  &--disabled:active,
  &[disabled] {
    background-color: $pagination-disabled-bg;
    border: 0;
    box-shadow: none;
    color: $pagination-disabled-color;
    cursor: not-allowed;
  }
}

@mixin pagination-item--active {
  &--active {
    background-color: $pagination-hover-background-color;
    color: $pagination-active-color;

    &:hover {
      cursor: pointer;
    }
  }
}

@mixin pagination-list {
  &__list {
    @extend %pagination;
    list-style-type: none;
    margin: $pagination-margin;
    & li:not(:first-child):not(:last-child) {
      button {
        margin-right: 8px;
        @include rtl-selector {
          margin-left: 8px;
          margin-right: 0px;
        }
      }
    }
  }
}

@mixin pagination-dots {
  &__dots {
    padding: $button-padding;
    color: $pagination-dots-color;
    font-size: $pagination-dots-size;
    pointer-events: none;
  }
}

@mixin pagination-label {
  &__label {
    font-size: $pagination-label-font-size;
    margin-right: $pagination-spacer;

    @include rtl-selector {
      margin: {
        left: $pagination-spacer;
        right: initial;
      }
    }
  }
}

.neo-pagination {
  @extend %pagination;

  > .neo-pagination__select {
    width: auto;
  }

  @include pagination-list;
  @include pagination-item;
  @include pagination-dots;
  @include pagination-label;
  @include pagination-select;
  @include NeoLinkStyles;
}

.neo-pagination__arrow-btn {
  color: $global-text-color;
  border: none;
  &:focus {
    outline: $global-outline-color auto 2px;
  }
  background-image: linear-gradient(
    50deg,
    $button-tertiary-hover-background-color 0%,
    $button-tertiary-hover-background-color 50%,
    $button-secondary-background-color 50%,
    $button-secondary-background-color 100%
  );
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 100% 0%;
  transition: background-position $global-transition-duration
    $global-transition-timing;
  transition-delay: 0s, 0.15s;

  &:hover {
    transition-property: background-position, background-color, color;
    transition-timing-function: $global-transition-timing;
    transition-duration: $global-transition-duration;
    transition-delay: 0s, 0.15s;
    color: #000000;
    background-color: $button-tertiary-hover-background-color;
    cursor: pointer;
    background-position: 0% 100%;
  }

  &[disabled],
  &--disabled {
    background-image: none;
    color: $token-color-base-400;
    background-color: transparent;
    &:hover {
      cursor: not-allowed;
      box-shadow: none;
      background-image: none;
      color: $token-color-base-400;
      background-color: transparent;
    }
  }
  &:before {
    @include rtl-selector {
      transform: rotate(180deg);
    }
  }
}

.neo-pagination__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .neo-form-control {
    margin: 0px;
    .neo-input-group--inline {
      flex-direction: row;
      align-items: center;
      label {
        padding: 0px;
        margin-right: 8px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  @include pagination-select;
  @include pagination-input;
}
