// updated radio button styles

@mixin radio--disabled {
  &[disabled] + label {
    cursor: not-allowed;
    color: $global-disabled-color;

    &::before {
      border: $radio-disabled-border;
    }
  }
}

.neo-radio-group {
  display: flex;
  vertical-align: middle;
  width: 100%;
}

.neo-radio {
  display: none;

  + label {
    cursor: pointer;
    // margin-right: $radio-label-offset-x;
    padding: 0 !important;
    position: relative;
    text-indent: $radio-text-offset;

    @include rtl-selector {
      margin: {
        // left: $radio-label-offset-x;
        right: 0;
      }
    }

    &::before {
      background-color: $radio-background;
      border: $radio-border;
      border-radius: 50%; // hard-coded value associated with Ellipse Component type in Figma
      content: '';
      display: block;
      height: $radio-size;
      width: $radio-size;
      position: absolute;
      top: $radio-position-top;
    }
  }

  &:checked + label::after {
    background: $radio-background-active-color;
    border-radius: 50%; // hard-coded value associated with Ellipse Component type in Figma
    content: '';
    display: block;
    height: $radio-active-ellipse-size;
    width: $radio-active-ellipse-size;
    left: $radio-ellipse-position-left;
    top: $radio-ellipse-position-top;
    position: absolute;

    @include rtl-selector {
      left: auto;
      right: $radio-ellipse-position-left;
    }
  }

  @include radio--disabled;
}
