// updated radio button styles

@mixin radio--disabled {
  &[disabled] + label {
    cursor: not-allowed;
    color: $global-disabled-color;

    &::before {
      border: $radio-disabled-border;
    }
  }
}

.neo-radio {
  // display: none;
  // visibility: hidden;
  opacity: 0;
  position: absolute;

  &:focus {
    + label {
      &:before {
        box-shadow: 0 0px 8px $radio-background-active-color;
      }
    }
  }

  .neo-input-group--inline & + label {
    text-indent: $radio-text-offset;
    padding-left: 0px !important;
  }

  + label {
    color: $global-text-color;
    cursor: pointer;
    // margin-right: $radio-label-offset-x;
    // padding-left: $radio-text-offset;
    position: relative;
    text-indent: $radio-text-offset;
    margin-top: 8px;
    font-size: 14px !important;

    @include rtl-selector {
      margin: {
        // left: $radio-label-offset-x;
        right: 0;
      }
    }

    &::after {
      background-color: $radio-background;
      border-radius: 50%; // hard-coded value associated with Ellipse Component type in Figma
      content: '';
      display: block;
      height: $radio-active-ellipse-size;
      width: $radio-active-ellipse-size;
      left: $radio-ellipse-position-left;
      top: $radio-ellipse-position-top;
      position: absolute;
      // transition: $global-hover-transition;

      @include rtl-selector {
        left: auto;
        right: $radio-ellipse-position-left;
      }
      background-color: $radio-background;
    }

    &::before {
      background-color: $radio-background;
      border: 1px solid $radio-border;
      border-radius: 50%; // hard-coded value associated with Ellipse Component type in Figma
      content: '';
      display: block;
      height: $radio-size;
      width: $radio-size;
      position: absolute;
      top: $radio-position-top;
      // transition: $global-hover-transition;
    }
  }

  &:checked + label::after {
    background-color: $radio-background-active-color;
    border-radius: 50%; // hard-coded value associated with Ellipse Component type in Figma
    content: '';
    display: block;
    height: $radio-active-ellipse-size;
    width: $radio-active-ellipse-size;
    left: $radio-ellipse-position-left;
    top: $radio-ellipse-position-top;
    position: absolute;
    // transition: $global-hover-transition;

    @include rtl-selector {
      left: auto;
      right: $radio-ellipse-position-left;
    }
  }

  @include radio--disabled;
}
