// updated select styles

%neo-select {
  background-color: $select-background-color;
  display: inline-block;
  position: relative;
  width: 100%;
}

@mixin neo-select-element {
  > select {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -moz-appearance: none;
    background-color: $select-background-color;
    border: $select-border-width $select-border-style $select-border-color;
    // border-radius: $select-border-radius;
    box-shadow: $select-box-shadow;
    color: $select-font-color;
    cursor: pointer;
    display: block;
    font-size: $select-font-size;
    line-height: $select-line-height;
    letter-spacing: $select-letter-spacing;
    // min-height: $select-height;
    padding: $select-padding-y $select-offset-x $select-padding-y
      $select-padding-x;
    min-width: $select-width;
    width: 100%;

    @include rtl-selector {
      padding: {
        left: $select-offset-x;
        right: $select-padding-x;
      }
    }

    &:focus {
      outline: none;
    }

    @include neo-select--disabled;
    @include neo-select-focus;
  }
}

@mixin neo-select-multiple {
  [multiple] {
    padding: 0;

    @include rtl-selector {
      padding: 0;
    }

    option {
      padding: $select-padding-y $select-offset-x $select-padding-y
        $select-padding-x;

      &::before {
        font-family: "updated-neo-icons";
        // neo-close
        content: $select-multiple-unselected-icon;
        width: 1.3em;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
      }
      &:checked::before {
        font-family: "updated-neo-icons";
        // neo-check
        content: $select-multiple-selected-icon;
      }
      @include rtl-selector {
        padding: {
          left: $select-offset-x;
          right: $select-padding-x;
        }
      }
    }
  }
}

@mixin neo-select--disabled {
  &:disabled {
    background-color: $select-disabled-bg;
    color: $select-disabled-color;
    cursor: not-allowed;
  }
}

@mixin neo-select-focus {
  &:focus {
    // box-shadow: $input-focus-shadow;
    // outline: 0;
    border-color: $input-focus-border-color;
    // // hard-coded for now
    border-width: 2px;
    // border-color: transparent;
    // box-shadow: 0 0 0 2px $input-focus-border-color;
  }
}

@mixin neo-select-arrow {
  &--disabled:not(.neo-select--multiple)::after {
    color: $select-disabled-color;
  }
  &:not(.neo-select--multiple)::after {
    align-items: center;
    font-family: "updated-neo-icons";
    color: $select-font-color;
    // chevron-down
    content: $select-expand-icon;
    display: inline-flex;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: $select-padding-x;
    top: 50%;
    transform: translateY(-50%);
    // cursor: pointer;
    // transition: $select-transition;
    font-size: $select-icon-font-size;
    vertical-align: middle;
    @include rtl-selector {
      left: $select-padding-x;
      right: auto;
    }
  }
  &[disabled]:not(.neo-select--multiple)::after {
    color: $select-disabled-color;
  }
}

@mixin neo-select-spinner {
  &__spinner {
    & select {
      padding-left: $select-offset-x;
    }

    &::before {
      color: $spinner-ring-color;
      font-family: "updated-neo-icons";
      content: $spinner-icon;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: $select-padding-x;
      top: 25%;
      transform: translateY(-50%);
      // transition: $select-transition;
      font-size: $select-icon-font-size;

      @include spinner-animation;
    }
  }
}

@mixin neo-select-spinner-override {
  animation: none;
  height: auto;
  width: 100%;

  &:not(.neo-select--multiple)::after {
    // height: $select-icon-height;
    left: auto;
    margin: 0;
    top: $select-icon-font-size / 2;
    // width: $select-icon-width;
    font-size: $select-icon-font-size;
    content: "";
    @include spinner-animation;
  }
}

// @mixin neo-select-icon {
//   &__icon {
//     align-items: center;
//     display: inline-flex;
//     height: $select-height;
//     justify-content: center;
//     left: $select-padding-x;
//     position: absolute;

//     @include rtl-selector {
//       left: auto;
//       right: $select-padding-x;
//     }

//     + select {
//       padding-left: $select-offset-x;

//       @include rtl-selector {
//         padding: {
//           right: $select-offset-x;
//         }
//       }
//     }
//   }
// }

.neo-select {
  border-radius: $select-border-radius;
  // margin: $select-vertical-margin 0px;
  min-height: 38px;
  label > &,
  label + & {
    // margin: $select-vertical-margin 0px;
  }
  &:hover {
    // transition: $input-hover-transition;
    &:after {
      color: $input-border-hover-color;
    }
    select {
      // transition: $input-hover-transition;
      border-color: $input-border-hover-color;
    }
  }
  & select {
    border-radius: $select-border-radius;
    min-height: 38px;
  }
  @extend %neo-select;

  @include neo-select-element;
  @include neo-select-multiple;
  @include neo-select-arrow;
  @include neo-select-spinner;
  // @include neo-select-icon;
}

// new mmultiple select styles

@mixin neo-multiselect-arrow(
  // chevron-down
    $arrow-icon: $dropdown-expand-icon,
  $color: $global-text-color,
  $padding-left: $dropdown-padding-x
) {
  &::after {
    font-family: "updated-neo-icons";
    color: $color;
    content: $arrow-icon;
    padding: 0 0 0 $padding-left;
    vertical-align: middle;
    cursor: pointer;

    @include rtl-selector {
      padding: {
        left: initial;
        right: $padding-left;
      }
    }
  }
  @include rtl-selector {
    &::after {
      font-family: "updated-neo-icons";
      color: $color;
      content: $arrow-icon;
      padding: 0 $padding-left 0 0;
      vertical-align: middle;
    }
    &::before {
      display: none;
    }
  }
}

@mixin neo-multiselect-content {
  &__content {
    transition-timing-function: $global-transition-timing;
    left: 100%;
    top: -1px;
    // overrides box-shadow parameter in below mixin
    box-shadow: $dropdown-box-shadow;
    // padding: 8px 0 !important;
    max-width: 300px;
    overflow-wrap: break-word;
    white-space: normal;
    max-height: 200px;
    overflow-y: auto;
    & *:not(:last-child) {
      // margin-bottom: 8px;
    }
    @include rtl-selector {
      left: initial;
      right: 100%;
    }

    .neo-radio + label:not(last-child),
    .neo-switch:not(last-child),
    .neo-check + label:not(last-child) {
      margin-right: 0px;
    }

    // multiselect with checkbox styles

    & .neo-check ~ label {
      padding: 8px 16px !important;
    }

    & .neo-check:not(input:disabled) + label {
      &:hover {
        // need to replace with correct token from Figma
        background-color: $group-list-item-hover;
      }
      // hint styles for checkboxes
      & + .neo-input-hint {
        white-space: nowrap;
        margin: 0px;
        padding-left: 40px !important;
        padding-right: 8px !important;
        @include rtl-selector {
          padding-right: 8px !important;
          padding-left: 40px !important;
        }
      }
    }

    // styles for hover on groups
    & .neo-input-group {
      padding-bottom: 8px;
      &:hover {
        background-color: $group-list-item-hover;
      }
    }

    //  multiselect with list styles

    & ul {
      margin: 0;
    }

    & ul li {
      color: $global-text-color;
      padding: 8px 16px;
      list-style: none;
      &[disabled] {
        color: $checkbox-label-disabled-font-color;
        &:hover {
          cursor: not-allowed;
        }
      }
      &:not([disabled]):hover {
        cursor: pointer;
        // need to replace with correct token from Figma
        background-color: $navbar-background-color-hover;
      }
    }
  }

  //hard-coded border for now
  //animation is show-element, which toggles opacity
  @include neo-popover-content(
    none,
    $global-background,
    $modal-border,
    $dropdown-radius,
    none,
    0 0,
    $dropdown-content-z,
    $dropdown-min-width
  );
}

// @mixin neo-dropdown-input {
//   .neo-input {
//     border: $dropdown-input-border;
//     margin: $dropdown-input-offset;
//     width: calc(100% - #{$dropdown-input-offset} * 2);
//   }

//   .neo-input-icon {
//     margin: $dropdown-input-offset;

//     .neo-input {
//       margin: 0;
//       width: 100%;
//     }
//   }
// }

@mixin neo-multiselect-states {
  // &:active > &__content,
  &--active > &__content
  // &:focus > &__content {
  {
    display: block;
    position: absolute;
  }
}

.neo-multiselect {
  box-sizing: border-box;
  display: inline-block;
  position: relative;

  // margin-bottom: 1px;
  &:focus,
  &:focus-within {
    outline: 0;
    & .neo-multiselect__header {
      outline: 0;
      border-color: $input-focus-border-color;
      border-width: 2px;
      // border-color: transparent;
      // box-shadow: 0 0 0 2px $input-focus-border-color;
    }
    & .neo-multiselect-combo__header {
      border-color: $input-focus-border-color;
      border-width: 2px;
      // border-color: transparent;
      // box-shadow: 0 0 0 2px $input-focus-border-color;
      & .neo-input {
        box-shadow: none;
      }
    }
  }

  // styles for disabled multiselect

  &--disabled {
    &:focus {
      outline: none;
      & .neo-multiselect__header,
      & .neo-multiselect-combo__header {
        border-color: $input-disabled-color !important;
      }
    }
    & .neo-multiselect__header,
    & .neo-multiselect-combo__header {
      background-color: $select-disabled-bg !important;
      color: $select-disabled-color !important;
      cursor: not-allowed !important;
      &:focus {
        border-color: $input-disabled-color !important;
        outline: none;
      }
      &:after {
        color: $select-disabled-color !important;
        cursor: not-allowed !important;
      }
    }
  }

  & .neo-multiselect__header {
    border-radius: $select-border-radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $select-background-color;
    cursor: pointer;
    color: $select-font-color;
    border: $select-border-width $select-border-style $select-border-color;
    @include neo-multiselect-arrow();

    padding: 8px 12px 8px 12px;
    font-size: $select-font-size;
    line-height: $select-line-height;
    letter-spacing: $select-letter-spacing;
  }
  & .neo-multiselect-combo__header {
    border-radius: $select-border-radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $select-background-color;
    color: $select-font-color;
    border: $select-border-width $select-border-style $select-border-color;
    @include neo-multiselect-arrow();

    & .neo-input {
      border: none;
    }

    & .neo-chip {
      &:first-child {
        margin-left: 12px;
      }
      margin-left: 4px;
    }

    padding-right: 12px;
    font-size: $select-font-size;
    line-height: $select-line-height;
    letter-spacing: $select-letter-spacing;
  }

  @include neo-multiselect-states;
  @include neo-multiselect-content;
}
