// updated table styles

@mixin neo-table-children {
  // thead,
  // tbody,
  // tfoot {
  //   background-color: $table-background;
  //   // border: $table-border;
  // }

  // styles to center checkbox in head

  th label {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  td,
  th {
    padding: $table-padding;
    text-align: left;
    vertical-align: middle;
    text-align: center;
    @include rtl-selector {
      // text-align: right;
    }

    .neo-input,
    .neo-input-group,
    .neo-btn,
    .neo-button-group,
    .neo-label,
    .neo-chip,
    .neo-switch,
    .neo-group-list,
    .neo-form-control {
      margin-bottom: 0;
    }
  }

  .neo-table--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: $table-disabled-bg-color;
    color: $table-disabled-text-color;
    & a {
      // color: $table-disabled-clickable-color;
      color: #757474;
      cursor: not-allowed;
    }
  }

  th {
    background-color: $table-head-background;
    color: $table-head-font-color;
    font-weight: 400 !important;
  }

  td {
    border-top: $table-border;
    &.neo-icon-more:before {
      font-size: 24px;
    }
    & .neo-form-control .neo-check + label {
      // display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  thead th {
    vertical-align: bottom;
  }

  tfoot {
    background-color: $table-foot-background;
    color: $table-foot-font-color;
  }
}

// @mixin neo-table--bordered {
//   &--bordered {
//     th,
//     td {
//       border: $table-border;
//     }
//   }
// }

// @mixin neo-table--striped {
//   &--striped {
//     tbody tr:nth-of-type(#{$table-stripe}) {
//       background-color: $table-striped-background;

//       @if $table-stripe == even {
//         border-bottom: 0;
//       }
//     }

//     @if $table-stripe == odd {
//       thead th {
//         background: $table-background;
//       }
//     }
//   }
// }

@mixin neo-table--hover {
  &--hover {
    thead tr:hover {
      background-color: $table-head-hover;
    }

    tbody tr:hover {
      background-color: $table-row-hover;
      cursor: pointer;
    }

    tfoot tr:hover {
      background-color: $table-foot-row-hover;
    }
  }
}

@mixin neo-table--condensed {
  &--condensed {
    th,
    td {
      padding: $table-condensed-padding;
    }
  }
}

// @mixin neo-table--responsive {
//   &--responsive {
//     display: block;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
//     overflow-x: auto;
//     width: 100%;
//   }
// }

@mixin neo-table--sticky($axis, $position) {
  th {
    position: sticky;
    // Resolves issue with defined border-spacing
    #{$position}: -$table-border-width;
  }
  overflow-#{$axis}: auto;
  padding-#{$position}: 0;
}

@mixin table-sort-order($orderName, $orderIcon) {
  &.neo-table--#{$orderName} {
    background-color: $table-sortable-background-active;

    &::after {
      content: $orderIcon;
    }
  }
}

// @mixin neo-table--sortable {
//   /* stylelint-disable selector-no-qualifying-type */
//   &--sortable {
//     th {
//       cursor: pointer;
//       padding-right: $table-sortable-icon-margin-x * 2 +
//         $table-sortable-icon-size;
//       position: relative;

//       &:hover {
//         background-color: $table-sortable-background-hover;
//       }

//       &::after {
//         font-family: 'AOC-Icons';
//         font-size: $table-sortable-icon-size;
//         line-height: $table-sortable-icon-line-height;
//         position: absolute;
//         right: $table-sortable-icon-margin-x;
//       }

//       @include table-sort-order(ascending, '\e9a1');
//       @include table-sort-order(descending, '\e9a0');
//     }
//   }
//   /* stylelint-enable selector-no-qualifying-type */
// }

// @mixin neo-table--editable {
//   &--editable {
//     background-color: $token-color-base-0;

//     > td {
//       @include neo-table--editable-border;
//     }
//   }
// }

// @mixin neo-table--editable-border {
//   &:first-child {
//     position: relative;

//     &::before {
//       border-left: $token-color-base-0;
//       content: '';
//       height: 100%;

//       @include rtl-selector {
//         left: auto;
//         right: 0;
//       }
//       @include position(absolute, 0, null, null, 0);
//     }
//   }
// }

@mixin neo-table-buttons {
  :not(.neo-button-group) > .neo-btn {
    margin-right: $table-button-margin;

    @include rtl-selector {
      margin: {
        left: $table-button-margin;
        right: 0;
      }
    }

    &:last-child {
      margin-right: 0;

      @include rtl-selector {
        margin-left: 0;
      }
    }
  }
}

.neo-table__container--sticky {
  @include neo-table--sticky(x, top);
}

// .neo-table__container--vsticky {
//   @include neo-table--sticky(y, left);
// }

.neo-table {
  background-color: transparent;
  border-collapse: collapse;
  empty-cells: show;
  margin-bottom: $global-spacer;
  max-width: 100%;
  width: 100%;

  // new table select styles

  &-page-select {
    height: $table-page-select-height;
    width: $table-page-select-width;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > label {
      margin-right: 8px;
      margin-left: auto;
      @include rtl-selector {
        margin-left: 8px;
        margin-right: auto;
      }
    }
    & > .neo-select {
      & > select {
        min-width: auto;
        // this is hard-coded for now
        width: $select-table-page-show-width;
        padding-left: $select-padding-left;
      }
      &:not(.neo-select--multiple)::after {
        // right: $select-padding-right;
        right: 8px;
      }
    }
  }

  // new filter select styles

  & ~ .neo-form-control {
    & .neo-table-filter {
      width: 116px;
      padding-left: $select-padding-left;
      // padding-right: auto;
      @include rtl-selector {
        // padding-left: auto;
        padding-right: $select-padding-left;
      }
      & ~ button {
        color: $global-text-color;
        background-color: #c9c9c9;
        // hard-coded padding for now
        padding: 12px 0;
        &::before {
          font-size: 24px;
        }
        &:hover {
          box-shadow: none;
        }
      }

      // may not work on all browsers

      &::-webkit-input-placeholder {
        font-style: $input-placeholder-font-style;
      }
      &::-moz-placeholder {
        font-style: $input-placeholder-font-style;
      }
      &:-ms-input-placeholder {
        font-style: $input-placeholder-font-style;
      }
      &::placeholder {
        font-style: $input-placeholder-font-style;
      }
    }
  }

  @include neo-table-children;
  // @include neo-table--bordered;
  // @include neo-table--striped;
  @include neo-table--hover;
  @include neo-table--condensed;
  // @include neo-table--responsive;
  // @include neo-table--sortable;
  // @include neo-table--editable;
  @include neo-table-buttons;
}

// new date picker styles - only webkit version for now

// placeholder date picker styles - hard-coded for now

.neo-date-picker {
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 34px;
  font-size: 14px;
  font-style: italic;
  color: $table-date-picker-font-color;
  background-color: $table-date-picker-background-color;
  &::before {
    // hard-coded for now
    padding-right: 8px;
    content: 'MM DD YYYY';
  }
  &::after {
    // hard-coded for now
    padding-left: 8px;
    content: 'MM DD YYYY';
  }
}

// styles for sortable table heads -- WIP

.neo-table--sortable {
  & thead tr th.sort-asc {
    &::after {
      font-family: 'updated-neo-icons';
      content: '\f247';
      vertical-align: middle;
    }
    @include rtl-selector {
      &::after {
        content: '';
      }
      &::before {
        font-family: 'updated-neo-icons';
        content: '\f247';
        vertical-align: middle;
      }
    }
  }
  & thead tr th.sort-dsc {
    &::after {
      font-family: 'updated-neo-icons';
      content: '\f244';
      vertical-align: middle;
    }
    @include rtl-selector {
      &::after {
        content: '';
      }
      &::before {
        font-family: 'updated-neo-icons';
        content: '\f244';
        vertical-align: middle;
      }
    }
  }
}

.neo-table-filter__wrapper {
  display: flex;
  justify-content: flex-end;
  & .neo-form-control {
    & .neo-icon-filter {
      color: $global-text-color;
      background-color: #c9c9c9;
      // hard-coded padding for now
      // padding: 12px 0;
      &::before {
        font-size: 24px;
      }
      &:hover {
        box-shadow: none;
      }
    }
  }
}

// & ~ input[type='date' i] {
//   // background-color: red;
//   &::-webkit-datetime-edit-text {
//     display: none;
//   }
//   &::-webkit-datetime-edit-month-field {
//     color: blue;
//   }
//   &::-webkit-datetime-edit-day-field {
//     color: blue;
//   }
//   &::-webkit-datetime-edit-year-field {
//     color: blue;
//   }
// }
