@mixin neo-tooltip-content(
  $animation-duration: $popover-animation-duration,
  $content-background-color: $popover-content-background-color,
  $content-border: $popover-content-border,
  $radius: $popover-radius,
  $content-shadow: $popover-content-shadow,
  $content-padding: $popover-content-padding,
  $content-z: $popover-content-z,
  $content-min-width: $popover-min-width
) {
  &__content {
    animation: show-element $animation-duration;
    background-color: $tooltip-background;
    color: $tooltip-color;
    // border: $content-border;
    border-radius: 2px;
    box-shadow: $content-shadow;
    display: none;
    left: 0;
    margin: 0;
    min-width: 20px;
    padding: $tooltip-padding;
    position: absolute;
    top: 100%;
    z-index: $content-z;
    text-align: center;

    .neo-tooltip--right & .neo-arrow {
      left: -6.5px;
      bottom: 51%;
    }

    .neo-tooltip--right & .neo-arrow::before {
      border-right-color: $tooltip-background !important;
      border-width: $arrow-border-width;
    }

    .neo-tooltip--right & .neo-arrow::after {
      border-color: transparent !important;
    }

    .neo-tooltip--up & .neo-arrow {
      bottom: -6.5px;
      right: 42%;
      transform: rotate(180deg);
    }

    .neo-tooltip--up & .neo-arrow::before {
      border-bottom-color: $tooltip-background !important;
      border-width: $arrow-border-width;
    }

    .neo-tooltip--up & .neo-arrow::after {
      border-color: transparent !important;
    }

    .neo-tooltip--left & .neo-arrow {
      right: -6.5px;
      bottom: 51%;
    }

    .neo-tooltip--left & .neo-arrow::before {
      border-left-color: $tooltip-background !important;
      border-width: $arrow-border-width;
      transform: rotate(0deg);
    }

    .neo-tooltip--left & .neo-arrow::after {
      border-color: transparent !important;
    }

    .neo-tooltip--down & .neo-arrow {
      top: -6.5px;
      right: 42%;
    }

    .neo-tooltip--down & .neo-arrow::before {
      border-top-color: $tooltip-background !important;
      border-width: $arrow-border-width;
      // transform: rotate(180deg);
    }

    .neo-tooltip--down & .neo-arrow::after {
      border-color: transparent !important;
    }

    @include rtl-selector {
      left: initial;
      right: 0;
    }
  }
}

@mixin neo-tooltip-states {
  &--onhover:hover > &__content,
  &--active > &__content {
    display: block;
    position: absolute;
  }
}

// %neo-tooltip {
//   box-sizing: border-box;
//   display: inline-block;
//   position: relative;
//   background-color: red;
//   width: $tooltip-width;
//   font-size: $tooltip-font-size;
//   padding: $tooltip-padding;
// }

.neo-tooltip {
  @extend %neo-popover;

  @include neo-tooltip-content;
  @include neo-tooltip-states;
  @include neo-position(&);
}
