:root .neo-dark {
  --icon-color: #{$token-color-base-100};
  --global-font-color: #{$token-color-base-100};
  --global-background: #{$token-color-base-900};
  --global-text-inverse-color: #{$token-color-base-900};
  --global-disabled-color: #{$token-color-base-400};
  --global-disabled-background: #{$token-color-base-800};
  --global-outline-color: #{$token-color-blue-400};
}

:root .neo-dark {
  --link-color: #{$token-color-blue-400};
}

:root .neo-dark {
  --heading-color: #{$token-color-base-100};
}
:root .neo-dark {
  --input-asterix-color: #{$token-color-red-400};
  --input-background-color: #{$token-color-base-900};
  --input-border-color: #{$token-color-base-500};
  --input-focus-border-color: #{$token-color-blue-400};
  --input-font-color: #{$token-color-base-100};
  --input-placeholder-font-color: #{$token-color-base-400};
  --input-hint-color: #{$token-color-base-400};
  --input-disabled-bg: #{$token-color-base-800};
  --input-disabled-color: #{$token-color-base-500};
  --input-border-error-color: #{$token-color-red-400};
  --input-label-color: #{$token-color-base-100};
  --input-border-disabled-color: #{$token-color-base-500};
  --input-border-hover-color: #{$token-color-base-100};
  --input-addon-font-color: #{$token-color-base-200};
}
:root .neo-dark {
  --radio-background: #{$token-color-base-900};
  --radio-background-active-color: #{$token-color-blue-400};
  --radio-border: #{$token-color-blue-400};
  --radio-disabled-border: #{$token-color-blue-600};
}
:root .neo-dark {
  --table-header-cell-border-color: #{$token-color-base-600};
  --table-header-cell-hover-color: #{$token-color-blue-800};
  --table-background-color: #{$token-color-base-900};
  --table-row-disabled-color: #{$token-color-base-800};
  --table-row-border-color: #{$token-color-base-800};
  --table-row-hover-color: #{$token-color-blue-800};
  --table-row-font-active-color: #{$token-color-blue-200};
  --table-nested-row-background-color: #{$token-color-base-800};
  // --table-nested-row-border-color: #{$token-color-blue-600};
  --table-sheet-border-color: #{$token-color-base-600};
  --table-filter-row-background-color: #{$token-color-base-900};
}
$button-color-primary-rgb-light: 20, 115, 230;
$button-color-primary-rgb-dark: 76, 148, 237;
$button-color-success-rgb-light: 8, 138, 8;
$button-color-success-rgb-dark: 81, 166, 81;
$button-color-warning-rgb-light: 204, 77, 27;
$button-color-warning-rgb-dark: 247, 97, 37;
$button-color-alert-rgb-light: 217, 61, 50;
$button-color-alert-rgb-dark: 229, 105, 96;
:root .neo-dark {
  --button-shadow-color: #{$token-shadows-elevationdark-200-color};
  --button-text-color: #{$token-color-base-900};
  --button-color-primary: #{$token-color-blue-400};
  --button-color-primary-rgb: #{$button-color-primary-rgb-dark};
  --button-hover-color-default-info: #{$token-color-blue-200};
  --button-pressed-color-default-info: #{$token-color-blue-100};
  --button-disabled-color-default-info: #{$token-color-blue-600};
  --button-color-success: #{$token-color-green-400};
  --button-color-success-rgb: #{$button-color-success-rgb-dark};
  --button-hover-color-success: #{$token-color-green-200};
  --button-pressed-color-success: #{$token-color-green-100};
  --button-disabled-color-success: #{$token-color-green-600};
  --button-color-warning: #{$token-color-orange-400};
  --button-color-warning-rgb: #{$button-color-warning-rgb-dark};
  --button-hover-color-warning: #{$token-color-orange-200};
  --button-pressed-color-warning: #{$token-color-orange-100};
  --button-disabled-color-warning: #{$token-color-orange-600};
  --button-color-alert: #{$token-color-red-400};
  --button-color-alert-rgb: #{$button-color-alert-rgb-dark};
  --button-hover-color-alert: #{$token-color-red-200};
  --button-pressed-color-alert: #{$token-color-red-100};
  --button-disabled-color-alert: #{$token-color-red-600};
  --button-secondary-background-color: #{$token-color-base-900};
  --button-tertiary-hover-background-color: #{$token-color-base-800};
  --button-color-event: #{$token-color-base-100};
  --button-hover-color-event: #{$token-color-base-0};
  --button-pressed-color-event: #{$token-color-base-0};
  --button-disabled-color-event: #{$token-color-base-600};
  --button-color-event-rgb: #{$button-color-event-rgb-dark};
}
:root .neo-dark {
  --arrow-outer-color: #{$token-color-base-0};
  --arrow-color: #{$token-color-base-900};
}
:root .neo-dark {
  --checkbox-background-color: #{$token-color-base-900};
  --checkbox-checked-background-color: #{$token-color-blue-400};
  --checkbox-disabled-background-color: #{$token-color-blue-600};
  --checkbox-icon-color: #{$token-color-base-900};
  --checkbox-font-color: #{$token-color-base-100};
  --checkbox-disabled-font-color: #{$token-color-base-500};
  --checkbox-border-color: #{$token-color-blue-400};
  --checkbox-disabled-border-color: #{$token-color-blue-600};
}
:root .neo-dark {
  --channel-bg-color: #{$token-color-base-900};
  --channel-available-color: #{$token-color-data-viz-categorial-dark-green};
  --channel-busy-away-color: #{$token-color-data-viz-categorial-dark-orange};
  --channel-dnd-color: #{$token-color-data-viz-categorial-dark-red};
  --channel-offline-color: #{$token-color-base-500};
  --channel-icon-generic-color: #{$token-color-base-100};
}
:root .neo-dark {
  --notification-elevation-color: #{$token-shadows-elevationdark-300-color};
  --notification-success-color: #{$token-color-green-800};
  --notification-success-icon-color: #{$token-color-green-200};
  --notification-success-border-color: #{$token-color-green-600};
  --notification-warning-color: #{$token-color-orange-800};
  --notification-warning-icon-color: #{$token-color-orange-200};
  --notification-warning-border-color: #{$token-color-orange-600};
  --notification-alert-color: #{$token-color-red-800};
  --notification-alert-icon-color: #{$token-color-red-200};
  --notification-alert-border-color: #{$token-color-red-600};
  --notification-info-color: #{$token-color-blue-800};
  --notification-info-icon-color: #{$token-color-blue-200};
  --notification-info-border-color: #{$token-color-blue-600};
  --notification-event-color: #{$token-color-base-800};
  --notification-event-icon-color: #{$token-color-base-200};
  --notification-event-border-color: #{$token-color-base-600};
}

:root .neo-dark {
  --clear-close-color: #{$token-color-base-400};
  --clear-close-hover-color: #{$token-color-base-100};
}
:root .neo-dark {
  --navbar-border-bottom-color: #{$token-color-base-600};
  --navbar-status-pill-font-color: #{$token-color-base-900};
  --navbar-ready-color: #{$token-color-green-800};
  --navbar-not-ready-color: #{$token-color-orange-800};
  --navbar-connected-color: #{$token-color-base-800};
  --navbar-acw-color: #{$token-color-blue-800};
  --navbar-pill-acw-color: #{$token-color-blue-200};
  --navbar-pill-ready-color: #{$token-color-green-200};
  --navbar-pill-not-ready-color: #{$token-color-orange-200};
  --navbar-pill-connected-color: #{$token-color-base-200};
  --navbar-bg-color-hover: #{$token-color-base-800};
  --navbar-default-icon-color: #{$token-color-base-100};
  --navbar-icon-hover-color: #{$token-color-blue-200};
  --navbar-icon-selected-color: #{$token-color-blue-400};
  --navbar-icon-disabled-color: #{$token-color-base-500};
  --navbar-active-disabled-color: #{$token-color-blue-600};
  --navbar-status-avatar-border-color: #{$token-color-base-900};
}
:root .neo-dark {
  --list-hover: #{$token-color-blue-800};
  --list-white: #{$token-color-base-800};
  --list-disabled-bg-color: #{$token-color-base-800};
  --list-disabled-hover-color: #{$token-color-base-400};
  --list-section-background: #{$token-color-base-800};
  --list-section-hover: #{$token-color-base-600};
}
:root .neo-dark {
  --list-item-divider: #{$token-color-base-600};
  --list-item-subtext: #{$token-color-base-100};
}
:root .neo-dark {
  --accordion-border-color: #{$token-color-base-500};
  --accordion-body-color: #{$token-color-base-900};
}
:root .neo-dark {
  --sheet-background: #{$token-color-base-900};
  --sheet-shadow: #{$token-shadows-elevationdark-300-color};
}
:root .neo-dark {
  --pagination-color: #{$token-color-blue-400};
  --pagination-border-color-hover: #{$token-color-blue-400};
  --pagination-active-background-color: #{$token-color-blue-400};
  --pagination-item-color-current: #{$token-color-base-800};
}
:root .neo-dark {
  --tooltip-background-color: #{$token-color-base-0};
  --tooltip-color: #{$token-color-base-800};
}
:root .neo-dark {
  --avatar-background-color: #{$token-color-blue-100};
  --avatar-font-color: #{$token-color-base-900};
  --avatar-primary-color: #{$token-color-blue-400};
  --avatar-success-color: #{$token-color-green-400};
  --avatar-warning-color: #{$token-color-orange-400};
  --avatar-alert-color: #{$token-color-red-400};
  --avatar-status-available-color: #{$token-color-data-viz-categorial-dark-green};
  --avatar-status-away-color: #{$token-color-data-viz-categorial-dark-orange};
  --avatar-status-busy-color: #{$token-color-data-viz-categorial-dark-orange};
  --avatar-status-dnd-color: #{$token-color-data-viz-categorial-dark-red};
  --avatar-status-offline-color: #{$token-color-base-500};
}
:root .neo-dark {
  --switch-off-color: #{$token-color-base-500};
  --switch-on-color: #{$token-color-blue-400};
  --switch-disabled-on-color: #{$token-color-blue-600};
  --switch-disabled-off-color: #{$token-color-base-600};
  --switch-ellipse-color: #{$token-color-base-900};
  --switch-elevation-color: #{$token-shadows-elevationdark-100-color};
}
:root .neo-dark {
  --chip-font-color: #{$token-color-base-100};
  --chip-disabled-font-color: #{$token-color-base-500};
  --chip-default-color: #{$token-color-base-800};
  --chip-default-border-color: #{$token-color-base-500};
  --chip-default-hover-bg-color: #{$token-color-base-600};
  --chip-default-icon-color: #{$token-color-base-200};
  --chip-default-disabled-color: #{$token-color-base-800};
  --chip-default-disabled-icon-color: #{$token-color-base-500};
  --chip-success-color: #{$token-color-green-800};
  --chip-success-border-color: #{$token-color-green-500};
  --chip-success-hover-bg-color: #{$token-color-green-600};
  --chip-success-icon-color: #{$token-color-green-200};
  --chip-success-disabled-color: #{$token-color-green-800};
  --chip-success-disabled-icon-color: #{$token-color-green-500};
  --chip-info-color: #{$token-color-blue-800};
  --chip-info-border-color: #{$token-color-blue-500};
  --chip-info-hover-bg-color: #{$token-color-blue-600};
  --chip-info-icon-color: #{$token-color-blue-200};
  --chip-info-disabled-color: #{$token-color-blue-800};
  --chip-info-disabled-icon-color: #{$token-color-blue-500};
  --chip-warning-color: #{$token-color-orange-800};
  --chip-warning-border-color: #{$token-color-orange-500};
  --chip-warning-hover-bg-color: #{$token-color-orange-600};
  --chip-warning-icon-color: #{$token-color-orange-200};
  --chip-warning-disabled-color: #{$token-color-orange-800};
  --chip-warning-disabled-icon-color: #{$token-color-orange-500};
  --chip-alert-color: #{$token-color-red-800};
  --chip-alert-border-color: #{$token-color-red-500};
  --chip-alert-hover-bg-color: #{$token-color-red-600};
  --chip-alert-icon-color: #{$token-color-red-200};
  --chip-alert-disabled-color: #{$token-color-red-800};
  --chip-alert-disabled-icon-color: #{$token-color-red-500};
}
:root .neo-dark {
  --tab-default-color: #{$token-color-base-100};
  --tab-background-color: #{$token-color-base-900};
  --tab-background-hover-color: #{$token-color-base-800};
  --tab-disabled-color: #{$token-color-base-500};
  --tab-item-hover-color: #{$token-color-blue-200};
  --tab-action-color: #{$token-color-blue-400};
  --tab-action-disabled-color: #{$token-color-blue-600};
  --tab-carousel-button-color: #{$token-color-blue-400};
}
:root .neo-dark {
  --leftnav-default-color: #{$token-color-base-100};
  --leftnav-main-default-disabled-color: #{$token-color-base-500};
  --leftnav-background-color: #{$token-color-base-900};
  --leftnav-hover-background-color: #{$token-color-base-800};
  --leftnav-title-font-color: #{$token-color-base-400};
  --leftnav-main-active-color: #{$token-color-blue-400};
  --leftnav-main-active-disabled-color: #{$token-color-blue-600};
  --leftnav-main-hover-color: #{$token-color-blue-200};
  --leftnav-sub-default-color: #{$token-color-base-100};
  --leftnav-sub-active-color: #{$token-color-blue-400};
  --leftnav-sub-active-hover-color: #{$token-color-blue-200};
  --leftnav-sub-active-disabled-color: #{$token-color-blue-600};
  --leftnav-sub-default-disabled-color: #{$token-color-base-500};
}

:root .neo-dark {
  --dropdown-color: #{$token-color-base-800};
  --dropdown-content-border: rgba(241, 241, 241, 0.15);
  --dropdown-content-background-color: #{$token-color-blue-400};
  --dropdown-content-arrow-color: #{$token-color-base-200};
  --dropdown-item-color: #{$token-color-base-800};
  --dropdown-item-hover-color: #{$token-color-blue-200};
  --dropdown-item-hover-background-color: #{$token-color-blue-200};
  --dropdown-readonly-font-color: #{$token-color-base-200};
  --dropdown-shortcut-text-color: #{$token-color-base-400};
}

:root .neo-dark {
  --widget-background-color: #{$token-color-base-900};
  --widget-heading-font-color: #{$token-color-base-100};
  --widget-heading-icon-color: #{$token-color-base-100};
  --widget-shimmer-color: #{$token-color-base-800};
  --widget-border-color: rgba(255, 255, 255, 0.15);
}
:root .neo-dark {
  --empty-state-color: #{$token-color-base-400};
}
:root .neo-dark {
  --spinner-color: #{$token-color-base-400};
}
:root .neo-dark {
  --modal-background-color: #{$token-color-base-900};
  --modal-color: #{$token-color-base-100};
  --modal-border-color: rgba(241, 241, 241, 0.15);
  --modal-shadow-color: rgba(241, 241, 241, 0.25);
}
:root .neo-dark {
  --badge-background-color: #{$token-color-red-400};
  --badge-color: #{$token-color-base-800};
}

:root .neo-dark {
  --breadcrumbs-default-color: #{$token-color-base-100};
  --breadcrumbs-active-color: #{$token-color-blue-400};
  --breadcrumbs-hover-color: #{$token-color-blue-200};
}

:root .neo-dark {
  --skipNav-background-color: #{$token-color-blue-400};
  --skipNav-font-color: #{$token-color-base-900};
  --skipNav-hover-color: #{$token-color-blue-200};
}

:root .neo-dark {
  --toast-font-color: #{$token-color-base-900};
  --toast-background-color: #{$token-color-base-100};
  --toast-elevation-color: #{$token-shadows-elevationdark-300-color};
}

:root .neo-dark {
  --stepper-background-color: #{$token-color-green-400};
  --stepper-main-font-color: #{$token-color-base-100};
  --stepper-optional-font-color: #{$token-color-base-400};
  --stepper-disabled-dash-color: #{$token-color-base-600};
  --stepper-disabled-indicator-color: #{$token-color-base-500};
  --stepper-disabled-main-text-font-color: #{$token-color-base-400};
  --stepper-disabled-optional-text-font-color: #{$token-color-base-400};
}
