<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../../../neo.css" />
    <link rel="stylesheet" type="text/css" href="../../styles.css" />
    <title>Buttons</title>
  </head>
  <body>
    <h1>Buttons</h1>
    <h2>Primary Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          id="primarybutton"
          class="neo-btn neo-btn-primary neo-btn-primary--default"
        >
          Default
        </button>
        <button class="neo-btn neo-btn-primary neo-btn-primary--success">
          Success
        </button>
        <button class="neo-btn neo-btn-primary neo-btn-primary--alert">
          Alert
        </button>
        <button class="neo-btn neo-btn-primary neo-btn-primary--warning">
          Warning
        </button>
        <button class="neo-btn neo-btn-primary neo-btn-primary--info">
          Info
        </button>
      </div>
    </div>
    <h2>Secondary Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button class="neo-btn neo-btn-secondary neo-btn-secondary--default">
          Default
        </button>
        <button class="neo-btn neo-btn-secondary neo-btn-secondary--success">
          Success
        </button>
        <button class="neo-btn neo-btn-secondary neo-btn-secondary--alert">
          Alert
        </button>
        <button class="neo-btn neo-btn-secondary neo-btn-secondary--warning">
          Warning
        </button>
        <button class="neo-btn neo-btn-secondary neo-btn-secondary--info">
          Info
        </button>
      </div>
    </div>
    <h2>Tertiary Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button class="neo-btn neo-btn-tertiary neo-btn-tertiary--default">
          Default
        </button>
        <button class="neo-btn neo-btn-tertiary neo-btn-tertiary--success">
          Success
        </button>
        <button class="neo-btn neo-btn-tertiary neo-btn-tertiary--alert">
          Alert
        </button>
        <button class="neo-btn neo-btn-tertiary neo-btn-tertiary--warning">
          Warning
        </button>
        <button class="neo-btn neo-btn-tertiary neo-btn-tertiary--info">
          Info
        </button>
      </div>
    </div>
    <h2>Icon Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--default neo-icon-settings"
        >
          Primary icon left
        </button>
        <button
          dir="rtl"
          class="neo-btn neo-btn-primary neo-btn-primary--default neo-icon-settings"
        >
          Primary icon right
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--warning neo-icon-settings"
        >
          Secondary icon left
        </button>
        <button
          dir="rtl"
          class="neo-btn neo-btn-secondary neo-btn-secondary--warning neo-icon-settings"
        >
          Secondary icon right
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--success neo-icon-settings"
        >
          Tertiary icon left
        </button>
        <button
          dir="rtl"
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--success neo-icon-settings"
        >
          Tertiary icon right
        </button>
      </div>
    </div>
    <h2>Disabled Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--default"
          disabled
        >
          Default
        </button>
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--success"
          disabled
        >
          Success
        </button>
        <button class="neo-btn neo-btn-primary neo-btn-primary--alert" disabled>
          Alert
        </button>
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--warning"
          disabled
        >
          Warning
        </button>
        <button class="neo-btn neo-btn-primary neo-btn-primary--info" disabled>
          Info
        </button>
      </div>
      <div class="wrapper__component-group">
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--default"
          disabled
        >
          Default
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--success"
          disabled
        >
          Success
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--alert"
          disabled
        >
          Alert
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--warning"
          disabled
        >
          Warning
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--info"
          disabled
        >
          Info
        </button>
      </div>
      <div class="wrapper__component-group">
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--default"
          disabled
        >
          Default
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--success"
          disabled
        >
          Success
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--alert"
          disabled
        >
          Alert
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--warning"
          disabled
        >
          Warning
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--info"
          disabled
        >
          Info
        </button>
      </div>
    </div>
    <h2>Button With Spinner</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--primary"
          role="button"
        >
          <span class="neo-spinner"></span>
          Submit
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--success"
          role="button"
        >
          <span class="neo-spinner"></span>
          Submit
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--primary"
          role="button"
        >
          <span class="neo-spinner"></span>
          Submit
        </button>
      </div>
    </div>
    <h2>Button With Badge</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--primary neo-badge"
          data-badge="99"
        >
          Badge in Button
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--primary neo-badge"
          data-badge="99"
        >
          Badge in Button
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--primary neo-badge"
          data-badge="99"
        >
          Badge in Button
        </button>
      </div>
    </div>
    <h2>Circular Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          class="neo-btn-circle neo-btn-circle-primary neo-btn-circle-primary--success neo-icon-settings"
          aria-label="DESCRIPTION OF ICON/ACTION"
        ></button>
        <button
          class="neo-btn-circle neo-btn-circle-secondary neo-btn-circle-secondary--alert neo-icon-settings"
          aria-label="DESCRIPTION OF ICON/ACTION"
        ></button>
        <button
          class="neo-btn-circle neo-btn-circle-tertiary neo-btn-circle-tertiary--info neo-icon-settings"
          aria-label="DESCRIPTION OF ICON/ACTION"
        ></button>
      </div>
    </div>
    <h2>Square Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          class="neo-btn-square neo-btn-square-primary neo-btn-square-primary--alert neo-icon-settings"
          aria-label="DESCRIPTION OF ICON/ACTION"
        ></button>
        <button
          class="neo-btn-square neo-btn-square-secondary neo-btn-square-secondary--alert neo-icon-settings"
          aria-label="DESCRIPTION OF ICON/ACTION"
        ></button>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info neo-icon-settings"
          aria-label="DESCRIPTION OF ICON/ACTION"
        ></button>
      </div>
    </div>
    <h2>Wide Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group--column">
        <button
          class="neo-btn neo-btn--wide neo-btn-primary neo-btn-primary--default neo-icon-chat"
        >
          Button
        </button>
        <button
          class="neo-btn neo-btn--wide neo-btn-secondary neo-btn-secondary--default neo-icon-chat"
        >
          Button
        </button>
        <button
          class="neo-btn neo-btn--wide neo-btn-tertiary neo-btn-tertiary--default neo-icon-chat"
        >
          Button
        </button>
      </div>
    </div>
    <h2>Compact Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          class="neo-btn neo-btn--compact neo-btn--compact neo-btn-primary neo-btn-primary--primary"
        >
          Primary
        </button>
        <button
          class="neo-btn neo-btn--compact neo-btn-secondary neo-btn-secondary--primary"
        >
          Primary
        </button>
        <button
          class="neo-btn neo-btn--compact neo-btn-tertiary neo-btn-tertiary--primary"
        >
          Primary
        </button>
        <button
          class="neo-btn neo-btn--compact neo-btn-primary neo-btn-primary--primary neo-icon-error"
        >
          Primary icon left
        </button>
      </div>
      <div class="wrapper__component-group">
        <button
          aria-label="DESCRIPTION OF ICON/ACTION"
          class="neo-btn-circle neo-btn-circle--compact neo-btn-circle-primary neo-btn-circle-primary--success neo-icon-error"
        ></button>
        <button
          aria-label="DESCRIPTION OF ICON/ACTION"
          class="neo-btn-circle neo-btn-circle--compact neo-btn-circle-secondary neo-btn-circle-secondary--alert neo-icon-error"
        ></button>
        <button
          aria-label="DESCRIPTION OF ICON/ACTION"
          class="neo-btn-circle neo-btn-circle--compact neo-btn-circle-tertiary neo-btn-circle-tertiary--info neo-icon-error"
        ></button>
        <button
          aria-label="DESCRIPTION OF ICON/ACTION"
          class="neo-btn-square neo-btn-square--compact neo-btn-square-primary neo-btn-square-primary--alert neo-icon-error"
        ></button>
        <button
          aria-label="DESCRIPTION OF ICON/ACTION"
          class="neo-btn-square neo-btn-square--compact neo-btn-square-secondary neo-btn-square-secondary--alert neo-icon-error"
        ></button>
        <button
          aria-label="DESCRIPTION OF ICON/ACTION"
          class="neo-btn-square neo-btn-square--compact neo-btn-square-tertiary neo-btn-square-tertiary--info neo-icon-error"
        ></button>
      </div>
    </div>
    <h2>Pulsing Buttons</h2>
    <div class="wrapper">
      <div class="wrapper__component-group">
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--default neo-pulse"
        >
          Default
        </button>
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--success neo-pulse"
        >
          Success
        </button>
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--alert neo-pulse"
        >
          Alert
        </button>
        <button
          class="neo-btn neo-btn-primary neo-btn-primary--warning neo-pulse"
        >
          Warning
        </button>
        <button class="neo-btn neo-btn-primary neo-btn-primary--info neo-pulse">
          Info
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--default neo-pulse"
        >
          Default
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--success neo-pulse"
        >
          Success
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--alert neo-pulse"
        >
          Alert
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--warning neo-pulse"
        >
          Warning
        </button>
        <button
          class="neo-btn neo-btn-secondary neo-btn-secondary--info neo-pulse"
        >
          Info
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--default neo-pulse"
        >
          Default
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--success neo-pulse"
        >
          Success
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--alert neo-pulse"
        >
          Alert
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--warning neo-pulse"
        >
          Warning
        </button>
        <button
          class="neo-btn neo-btn-tertiary neo-btn-tertiary--info neo-pulse"
        >
          Info
        </button>
        <button
          class="neo-btn-circle neo-btn-circle-primary neo-btn-circle-primary--success neo-pulse neo-icon-error"
        ></button>
        <button
          class="neo-btn-circle neo-btn-circle-secondary neo-btn-circle-secondary--alert neo-pulse neo-icon-error"
        ></button>
        <button
          class="neo-btn-circle neo-btn-circle-tertiary neo-btn-circle-tertiary--info neo-pulse neo-icon-error"
        ></button>
        <button
          class="neo-btn-square neo-btn-square-primary neo-btn-square-primary--alert neo-pulse neo-icon-error"
        ></button>
        <button
          class="neo-btn-square neo-btn-square-secondary neo-btn-square-secondary--alert neo-pulse neo-icon-error"
        ></button>
        <button
          class="neo-btn-square neo-btn-square-tertiary neo-btn-square-tertiary--info neo-pulse neo-icon-error"
        ></button>
      </div>
    </div>
  </body>
</html>
