@mixin neo-shimmer {
  text-align: center;
  color: transparent;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f1f1f1),
    to(#f1f1f1),
    color-stop(0.5, #fff)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#f1f1f1),
    to(#f1f1f1),
    color-stop(0.5, #fff)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#f1f1f1),
    to(#f1f1f1),
    color-stop(0.5, #fff)
  );
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #f1f1f1;
  // height: 50px;

  .dark & {
    text-align: center;
    color: transparent;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#323232),
      to(#323232),
      color-stop(0.5, #242424)
    );
    background: -moz-gradient(
      linear,
      left top,
      right top,
      from(#323232),
      to(#323232),
      color-stop(0.5, #242424)
    );
    background: gradient(
      linear,
      left top,
      right top,
      from(#323232),
      to(#323232),
      color-stop(0.5, #242424)
    );
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #323232;
    // height: 50px;
  }
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
.neo-shimmer {
  &__rectangle {
    height: $shimmer-rectangle-height;
    width: auto;
  }

  &__circle--small {
    height: $shimmer-small-circle-size;
    width: $shimmer-small-circle-size;
    border-radius: 100%;
    animation-direction: reverse !important;
  }

  &__circle--medium {
    height: $shimmer-medium-circle-size;
    width: $shimmer-medium-circle-size;
    border-radius: 100%;
    animation-direction: reverse !important;
  }

  &__circle--large {
    height: $shimmer-large-circle-size;
    width: $shimmer-large-circle-size;
    border-radius: 100%;
    animation-direction: reverse !important;
  }
  @include neo-shimmer;
}
