.neo-table--sticky {
  overflow-x: auto;
  padding: 0;
  & .neo-table thead tr {
    border-bottom: none !important;
  }
  th {
    position: sticky;
    top: 0;
    z-index: map-get($indexes-map, "table");
    box-shadow: inset 0 1px 0 $table-header-cell-border-color,
      inset 0 -1px 0 $table-header-cell-border-color;
    border-bottom: none !important;
    border-top: none !important;
  }
}

.neo-table {
  @include NeoLinkStyles;
  background-color: transparent;
  border-collapse: collapse;
  empty-cells: show;
  max-width: 100%;
  width: 100%;

  &--compact {
    tr td .neo-input {
      min-height: initial;
      height: 32px;
    }
    tr:not(.neo-table__nested--wrapper) td,
    .neo-table__nested.show td,
    thead tr th {
      padding: 3px $table-condensed-row-cell-padding-x;
    }
    .neo-table__nested.show thead tr th {
      padding: 7px $table-condensed-row-cell-padding-x;
    }
    thead tr th {
      padding: 7px 16px;
    }
    thead tr th .neo-check + label {
      display: flex;
    }
  }

  th {
    color: var(--global-font-color);
    text-align: left;
    vertical-align: middle;

    background-color: $table-background-color;
    padding: $table-header-cell-padding-y $table-header-cell-padding-x;
    font-size: $table-header-cell-font-size;
    font-weight: $table-header-cell-font-weight;
    letter-spacing: $table-header-cell-letter-spacing;
    line-height: $table-header-cell-line-height;
    min-height: $table-header-cell-min-height;
    border-bottom: $table-header-cell-border-width
      $table-header-cell-border-style $table-header-cell-border-color;
    border-top: $table-header-cell-border-width $table-header-cell-border-style
      $table-header-cell-border-color;

    &.check {
      width: 5%;
      &:hover {
        background-color: $table-header-cell-hover-color;
        transition: $global-hover-transition;
        cursor: pointer;
      }
    }
    &.filters {
      padding: 0 8px !important;
      .neo-multiselect {
        padding: $table-header-cell-padding-y $table-header-cell-padding-x !important;
        &:focus,
        &:focus-within {
          outline: rgba(20, 115, 230, 1) auto 2px;
          outline-offset: -2px;
        }
      }
    }
    &.filters:hover,
    &.filters:focus-within {
      background-color: $table-header-cell-hover-color;
      transition: $tab-hover-transition;
      & > * {
        background-color: $table-header-cell-hover-color;
        transition: $tab-hover-transition;
        cursor: pointer;
      }
    }

    .neo-check + label {
      display: flex;
      line-height: 16px !important;
    }
    .neo-multiselect__content ul li {
      font-weight: 400;
      &:before {
        visibility: hidden;
        margin-right: $table-filter-icon-spacing;
        font-size: $table-filter-font-size;
        content: $token-icons-neo-icon-check;
        font-family: updated-neo-icons !important;
        -ms-font-feature-settings: "liga" 1;
        font-feature-settings: "liga";
        font-variant-ligatures: discretionary-ligatures;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        height: auto;
        width: auto;
        letter-spacing: 0;
        min-height: 0;
        speak: none;
        text-align: center;
        text-transform: none;
        vertical-align: middle;
        @include rtl-selector {
          margin-left: $table-filter-icon-spacing;
          margin-right: 0px;
        }
      }
      &.selected:before {
        visibility: initial;
      }
    }

    span {
      cursor: pointer;
      &:first-child {
        margin-left: $table-header-cell-filter-icon-spacing;
        @include rtl-selector {
          margin-left: 0px;
          margin-right: $table-header-cell-filter-icon-spacing;
        }
      }
      &:not(last-child) {
        margin-right: $table-header-cell-filter-icon-spacing;
        @include rtl-selector {
          margin-right: 0px;
        }
      }
      background-color: transparent;
      border: none;
      width: $table-header-cell-filter-icon-size;
      height: $table-header-cell-filter-icon-size;
    }
  }

  tr {
    border-bottom: $table-row-border-width $table-row-border-style
      $table-row-border-color;
    background-color: $table-background-color;
    &:hover {
      border-bottom: $table-row-border-width $table-row-border-style
        $table-row-border-hover-active-color;
    }
    &.disabled {
      background-color: $table-row-disabled-color;
      opacity: 0.5;
      cursor: not-allowed;
      &:hover {
        background-color: $table-row-disabled-color;
        * {
          cursor: not-allowed;
        }
      }
    }
    &:not(.disabled):hover,
    &:not(.disabled):focus-within {
      background-color: $table-row-hover-color;
      td .neo-check + label {
        display: flex;
      }
      td .neo-btn-square {
        display: block;
      }
    }
    & .neo-input {
      height: 36px;
      &:focus {
        margin-left: -1px;
        margin-right: -1px;
      }
    }
    &.active {
      background-color: $table-row-hover-color;
      border-bottom: $table-row-border-width $table-row-border-style
        $table-row-border-hover-active-color;
      &:hover {
        background-color: $table-row-hover-selected-color;
      }
      td {
        font-weight: $table-row-font-active-weight;
      }
      td .neo-check + label {
        display: flex;
        line-height: 16px !important;
      }
      td .neo-btn-square {
        display: block;
      }
    }
    &.expanded {
      border-bottom: none !important;
    }
  }

  td {
    color: $global-text-color;
    padding: $table-row-cell-padding-y $table-row-cell-padding-x;
    vertical-align: middle;
    &.disabled {
      background-color: $table-row-disabled-color;
      opacity: 0.5;
    }
    &.number {
      text-align: right;
    }

    span[class*="neo-icon-"]:before {
      font-size: $table-icon-size;
    }
    .neo-check + label {
      display: none;
    }
    & > a {
      color: $link-color;
      &.active {
        color: $table-row-font-active-color;
        font-weight: $table-row-font-active-weight;
      }
      &:hover {
        color: $table-row-font-active-color;
      }
    }
    .neo-btn-square {
      height: auto;
      &:not(.expand) {
        display: none;
      }
      background-color: transparent;
      background-image: none;
      &:hover {
        background-image: none;
      }
    }
    .expand {
      transition: transform 0.15s ease;
    }
    .expand--active {
      transition: transform 0.15s ease;
      transform: rotate(90deg);
    }
  }
}

.neo-table__nested--wrapper {
  border-bottom: none !important;
  &--active {
    & > td {
      padding: $table-nested-row-wrapper-padding-y
        $token-table-nested-row-wrapper-padding-x
        $token-table-nested-row-wrapper-padding-x
        $token-table-nested-row-wrapper-padding-x !important;
    }
    .neo-table {
      visibility: initial !important;
    }
    div.neo-table__nested {
      max-height: 500px;
    }
  }
  & > td {
    background-color: $table-nested-row-background-color;
    padding: 0;
  }
  .neo-table__nested {
    max-height: 0px;
    .neo-table {
      visibility: collapse;
    }
    th {
      max-height: $table-nested-row-max-height;
      .neo-multiselect span:before {
        font-size: $table-header-cell-filter-icon-size;
      }
    }
    tr {
      max-height: $table-nested-row-max-height;
    }
    td {
      padding: $table-nested-row-padding-y $table-nested-row-padding-x;
    }
  }
}

.neo-table__filters--sheet {
  position: absolute;
  right: 0;
  top: 38px;

  .neo-sheet__header--left h4 {
    margin-right: 12px;
    @include rtl-selector {
      margin-left: 12px;
      margin-right: 0px;
    }
  }
  .neo-form {
    flex-grow: 1;
    margin-top: 8px;
    background-color: $sheet-background;
    .neo-form-control {
      width: 100%;
      padding-bottom: 12px;
      border-bottom: $table-sheet-border-width $table-sheet-border-style
        $table-sheet-border-color;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
  }
}

.neo-table__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $table-background-color;
  padding-top: $table-actions-row-padding;
  padding-bottom: $table-actions-row-padding;
  &--left,
  &--right {
    display: flex;
  }
  &--left {
    & > *:first-child {
      margin-right: $table-actions-bar-spacing;
      @include rtl-selector {
        margin-left: $table-actions-bar-spacing;
        margin-right: 0px;
      }
    }
  }
  &--right {
    align-items: center;
    .neo-form {
      margin-right: $table-actions-bar-spacing;
      @include rtl-selector {
        margin-left: $table-actions-bar-spacing;
        margin-right: 0px;
      }
    }
    .neo-form .neo-form-control {
      margin-bottom: 0px;
    }
    .neo-btn-square {
      &:focus,
      &:focus-visible {
        outline-offset: -1px;
      }
    }
  }
  &--links {
    display: flex;
    flex-direction: row;
    align-items: center;

    *:not(last-child) {
      margin-right: $table-actions-bar-spacing;
      @include rtl-selector {
        margin-left: $table-actions-bar-spacing;
        margin-right: 0px;
      }
    }
  }
}

.neo-table__filters {
  display: flex;
  flex-direction: row;
  background-color: $table-filters-background-color;
  & > .neo-form--inline {
    padding: $table-filters-row-padding-y $table-filters-row-padding-x;
    width: 100%;
    justify-content: space-between;
    .neo-form-control {
      flex-grow: 1;
    }
  }
}
