// updated image classes

@mixin img-fluid {
  &--fluid {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

%neo-img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 4px;

  @include img-fluid;
}

.neo-img {
  @extend %neo-img;
}

.neo-thumbnail {
  @extend %neo-img;
  background-color: $token-color-base-0;
  border: $image-thumbnail-border;
  border-radius: 4px;
  line-height: 0;
  margin-bottom: $global-spacer;
  max-width: 100%;
  padding: $image-thumbnail-padding;
}
