// updated leftnav styles

@mixin leftnav-main {
  &__main {
    background-color: $leftnav-background-color;
    position: relative;
    min-height: $leftnav-main-max-height;
    max-width: $leftnav-main-max-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > a, & > .neo-leftnav__category {
      &:not(.neo-icon-page-first):focus,
      &:not(.neo-icon-page-first):focus-visible {
        outline-offset: -4px;
      }
      width: 100%;
      min-height: $leftnav-main-max-height;
      display: flex;
      align-items: center;
      align-self: flex-start;
      flex-grow: 1;
      color: $leftnav-main-default-color;
      margin: 0;
      padding: $leftnav-main-padding-horizontal
        ($leftnav-main-padding-horizontal * 2) $leftnav-main-padding-horizontal
        $leftnav-main-padding-horizontal;
      border-left: $leftnav-main-active-border-width
        $leftnav-main-active-border-style transparent;
      font-size: $leftnav-main-default-font-size;
      font-weight: $leftnav-main-default-font-weight;
      line-height: $leftnav-main-default-font-line-height;
      letter-spacing: $leftnav-main-default-font-letter-spacing;
      word-break: break-word;
      // transition: $tab-hover-transition;
      @include rtl-selector {
        border-left: none;
        border-right: $leftnav-main-active-border-width
          $leftnav-main-active-border-style transparent;
        padding: 0 $leftnav-main-padding-horizontal 0
          ($leftnav-main-padding-horizontal * 2);
      }
      &:before {
        margin-right: $leftnav-icon-spacing;
        color: $leftnav-main-default-color;
        font-size: $leftnav-main-icon-font-size;
        @include rtl-selector {
          margin-left: $leftnav-icon-spacing;
          margin-right: 0;
        }
      }
      &.expandable:after {
        color: $leftnav-main-default-color;
        font-family: "updated-neo-icons";
        content: $leftnav-main-chevron-icon;
        position: absolute;
        transition: $accordion-icon-transition;
        // hard-coded for now
        right: 16px;
        font-size: $leftnav-collapse-icon-font-size;
        @include rtl-selector {
          content: $leftnav-main-chevron-icon-reverse;
          // hard-coded for now
          left: 16px;
          right: auto;
        }
      }
      &:hover,
      &:focus,
      &:focus-visible {
        cursor: pointer;
        color: $leftnav-main-hover-color;
        background-color: $leftnav-hover-background-color;
        // transition: $tab-hover-transition;
        transition: background-color $global-transition-duration
          $global-transition-timing;
        &:before {
          color: $leftnav-main-hover-color;
        }
      }
    }
    &--active {
      & > a, & > .neo-leftnav__category {
        border-color: $leftnav-main-active-color;
        color: $leftnav-main-active-color;
        font-size: $leftnav-main-active-font-size;
        font-weight: $leftnav-main-active-font-weight;
        line-height: $leftnav-main-active-font-line-height;
        letter-spacing: $leftnav-main-active-font-letter-spacing;
        &:before {
          color: $leftnav-main-active-color;
        }
        @include rtl-selector {
          border-color: $leftnav-main-active-color;
        }
        &:hover {
          // background-color: $leftnav-hover-background-color;
          & > a {
            cursor: pointer;
            color: $leftnav-main-hover-color;
            border-color: $leftnav-main-hover-color;
            background-color: $leftnav-hover-background-color;
            transition: $tab-hover-transition;
            &:before {
              color: $leftnav-main-hover-color;
            }
          }
        }
      }
    }
    &--active[disabled] {
      cursor: not-allowed;
      // background-color: $leftnav-background-color;
      & > a,  & > .neo-leftnav__category {
        cursor: not-allowed;
        background-color: $leftnav-background-color;
        color: $leftnav-main-active-disabled-color !important;
        border-color: $leftnav-main-active-disabled-color;
        font-size: $leftnav-main-active-font-size;
        font-weight: $leftnav-main-active-font-weight;
        line-height: $leftnav-main-active-font-line-height;
        letter-spacing: $leftnav-main-active-font-letter-spacing;
        &:before {
          color: $leftnav-main-active-disabled-color !important;
        }
      }
    }
    &[disabled],
    &[disabled]:focus-within,
    &.neo-leftnav__disabled, &.neo-leftnav__disabled:hover {
      cursor: not-allowed;

      // background-color: $leftnav-background-color;
      & > a,  & > .neo-leftnav__category {
        cursor: not-allowed;
        background-color: $leftnav-background-color;
        color: $leftnav-main-default-disabled-color;
        &:before {
          color: $leftnav-main-default-disabled-color;
        }
        &.expandable:after {
          color: $leftnav-main-default-disabled-color;
        }
        &:focus-visible {
          outline: #1473e6 auto 2px;
        }
      }
    }
    & > .neo-leftnav__nav {
      max-height: 0px;
      transition: max-height $global-transition-duration
        cubic-bezier(0, 1, 0, 1);
    }
    &--expand > .neo-leftnav__nav {
      max-height: 100vh;
      transition: max-height $global-transition-duration
        $global-transition-timing;
    }
    &--expand > a,  & > .neo-leftnav__category {
      &.expandable:after {
        transition: $accordion-icon-transition;
        transform: rotate(90deg) $accordion-active-icon-animation;
        @include rtl-selector {
          transform: rotate(90deg);
        }
      }
    }
  }
}

@mixin leftnav-sub {
  &__sub {
    min-height: $leftnav-sub-max-height;
    max-width: $leftnav-main-max-width;
    background-color: $leftnav-background-color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // transition: max-height, min-height $global-transition-duration ease-in-out;
    & > a {
      word-break: break-word;
      // animation properties
      overflow: hidden;
      width: 100%;
      color: $leftnav-sub-default-color;
      display: flex;
      align-items: center;
      margin: 0;
      // hard-coded for now
      padding: 8px 28px 8px $leftnav-sub-padding-horizontal;
      text-decoration: none;
      @include rtl-selector {
        padding: 8px $leftnav-sub-padding-horizontal 8px 0px;
      }
      font-size: $leftnav-sub-default-font-size;
      font-weight: $leftnav-sub-default-font-weight;
      line-height: $leftnav-sub-default-font-line-height;
      letter-spacing: $leftnav-sub-default-font-letter-spacing;
      // transition: $tab-hover-transition;
      &:focus,
      &:focus-visible {
        color: $leftnav-sub-active-hover-color;
        background-color: $leftnav-hover-background-color;
        transition: $tab-hover-transition;
      }
      &::before {
        content: "";
        height: $leftnav-active-dot-size;
        width: $leftnav-active-dot-size;
        background-color: transparent;
        border-radius: 50%;
        // hard-coded for now
        margin-right: 12px;
        @include rtl-selector {
          margin-right: 0px;
          margin-left: 12px;
        }
      }
    }
    &--no-icon {
      & > a {
        padding: 8px 28px 8px $leftnav-sub-padding-no-icon-horizontal;
        @include rtl-selector {
          padding: 8px $leftnav-sub-padding-no-icon-horizontal 8px 0px;
        }
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $leftnav-hover-background-color;
      transition: $tab-hover-transition;
      & > a {
        color: $leftnav-sub-active-hover-color;
        background-color: $leftnav-hover-background-color;
        transition: $tab-hover-transition;
      }
    }
    &--active {
      & > a {
        color: $leftnav-sub-active-color;
        font-size: $leftnav-sub-active-font-size;
        font-weight: $leftnav-sub-active-font-weight;
        letter-spacing: $leftnav-sub-active-font-letter-spacing;
        &::before {
          content: "";
          background-color: $leftnav-sub-active-color;
        }
      }

      &:hover {
        transition: $tab-hover-transition;
        background-color: $leftnav-hover-background-color;
        & > a {
          color: $leftnav-sub-active-hover-color;
          background-color: $leftnav-hover-background-color;
          transition: $tab-hover-transition;
        }
      }
    }
    &--active[disabled] {
      background-color: $leftnav-background-color;
      cursor: not-allowed;
      & > a {
        cursor: not-allowed;
        background-color: $leftnav-background-color;
        color: $leftnav-sub-active-disabled-color !important;
        font-size: $leftnav-sub-active-font-size;
        font-weight: $leftnav-sub-active-font-weight;
        letter-spacing: $leftnav-sub-active-font-letter-spacing;
        &::before {
          content: "";
          background-color: $leftnav-sub-active-disabled-color;
        }
      }
    }
    &[disabled],
    &[disabled]:focus {
      background-color: $leftnav-background-color;
      cursor: not-allowed;
      & > a {
        cursor: not-allowed;
        background-color: $leftnav-background-color;
        color: $leftnav-sub-default-disabled-color;
      }
    }
  }
}

@mixin leftnav-title {
  &__title {
    background-color: $leftnav-background-color;
    min-height: $leftnav-title-height;
    padding: $leftnav-title-padding-vertical 0 0
      $leftnav-title-padding-horizontal;
    font-size: $leftnav-title-font-size;
    font-weight: $leftnav-title-font-weight;
    line-height: $leftnav-title-font-line-height;
    letter-spacing: $leftnav-title-font-letter-spacing;
    color: $leftnav-title-font-color;
    @include rtl-selector {
      padding: $leftnav-title-padding-vertical $leftnav-title-padding-horizontal
        0 0;
    }
  }
}

@mixin leftnav-links {
  &__links {
    background-color: $leftnav-background-color;
    & > a {
      color: $leftnav-sub-default-color;
      font-size: $leftnav-link-font-size;
      font-weight: $leftnav-link-font-weight;
      line-height: $leftnav-link-font-line-height;
      letter-spacing: $leftnav-link-font-letter-spacing;
    }
    &:hover {
      cursor: pointer;
      & > a {
        color: $link-hover-color;
        transition: $tab-hover-transition;
      }
    }
    min-height: $leftnav-link-height;
    max-width: $leftnav-main-max-width;
    padding: 0 0 0 $leftnav-link-padding-horizontal;
    @include rtl-selector {
      padding: 0 $leftnav-link-padding-horizontal 0 0;
    }
  }
}

@mixin leftnav-condensed {
  &.neo-leftnav--condensed {
    position: relative;
    & .neo-leftnav {
      //hard-coded space between last list item and toggle
      margin-bottom: 56px;
    }
    & .neo-leftnav__main {
      min-width: 240px;
      &:focus-visible {
        outline: 0;
      }
      & > a {
        padding: 16px !important;
        text-decoration: none;
        & span {
          flex-grow: 1;
          display: flex;
          justify-content: flex-end;
          flex-direction: row;
          font-size: 16px;
          color: var(--leftnav-default-color);
          &:before {
            transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
          }
        }
      }
      &--expand {
        & > a > span {
          &:before {
            transition: $accordion-icon-transition;
            transform: rotate(90deg) $accordion-active-icon-animation;
            @include rtl-selector {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    & .neo-leftnav--condensed__toggle {
      left: 0;
      padding: 16px !important;
      max-width: 55px !important;

      &:hover {
        text-decoration: none;
        color: $leftnav-sub-active-hover-color;
        background-color: $leftnav-hover-background-color;
        transition: $tab-hover-transition;
      }
      .neo-leftnav__main {
        min-width: 55px !important;
        max-width: 55px !important;
      }
      max-width: 55px !important;
      position: absolute;
      bottom: 0;
      & > a {
        padding: 16px !important;
        text-decoration: none;
        &:before {
          margin: 0px !important;
        }
      }
    }

    &.hide-nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 55px !important;
      & .neo-leftnav__main {
        max-width: 55px !important;
        & > a {
          font-size: 0px;
          padding: 16px !important;
          max-width: 55px !important;
          & span {
            visibility: hidden;
          }
          &:before {
            margin: 0px !important;
          }
        }
      }
      .neo-leftnav--condensed__toggle {
        left: 0;
        padding: 16px !important;
        max-width: 55px !important;

        &:hover {
          text-decoration: none;
          color: $leftnav-sub-active-hover-color;
          background-color: $leftnav-hover-background-color;
          transition: $tab-hover-transition;
        }
        &::before {
          transform: rotate(180deg);
        }
      }
    }
    &--scrollable {
      .neo-leftnav {
        overflow: auto;
      }
      &.neo-leftnav--condensed--scrollable.hide-nav {
        max-width: 70px !important;
      }
      & .neo-leftnav__main {
        min-width: initial;
      }
    }
  }
}

.neo-leftnav {
  @include NeoLinkStyles;
  &--wrapper {
    height: inherit;
    max-width: 240px;
    overflow: auto;
    transition: max-width 0.2s ease !important;
    @include leftnav-condensed;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__nav {
    margin: 0;
    overflow: hidden;
  }
  &__category, &__disabled {
    height: inherit;
    justify-content: left;
  }

  @include leftnav-main;
  @include leftnav-sub;
  @include leftnav-title;
  @include leftnav-links;
}

.neo-leftnav--collapsible {
  @extend %sheet;

  height: inherit;
  padding: 0 0 17px 0 !important;
}
