%sheet {
  // width: $sheet-width;
  width: auto;
  // min-height: $sheet-min-height;
  padding: $sheet-padding;
  // need to confirm this is correct transition property
  transition-property: position;
  transition-duration: $sheet-transition-duration;
  transition-timing-function: $sheet-transition-timing-function;
  display: flex;
  flex-direction: column;
  // z-index: 9999;
  z-index: map-get($indexes-map, "sheet");
  box-shadow: $sheet-shadow;
  background-color: $sheet-background;
}

@mixin sheet-header {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--left {
      & h4 {
        margin-bottom: 0;
        &::before {
          margin-right: 16px;
          margin-left: auto;
          @include rtl-selector {
            margin-left: 16px;
            margin-right: auto;
          }
        }
      }
    }

    &--right {
      & button:not(:last-child) {
        margin-right: 8px;
        margin-left: auto;
        @include rtl-selector {
          margin-left: 8px;
          margin-right: auto;
        }
      }
    }

    &--left,
    &--right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__action {
      border: 0;
      color: $global-icon-color;
      //   border-radius: 100%;
      cursor: pointer;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      //   font-size: 0;
      background: transparent;
      outline: none;
      padding: 0;
      pointer-events: auto;
      position: relative;
      text-align: center;
      margin-right: 16px;
      margin-left: auto;
      @include rtl-selector {
        margin-left: 16px;
        margin-right: auto;
      }
      &:focus {
        // box-shadow: $input-focus-shadow;
        outline: $global-outline-color auto 2px;
      }
    }
  }
}

.neo-sheet {
  @include NeoLinkStyles;
  @extend %sheet;

  @include sheet-header;
}
