.neo-skipnav {
  @include NeoLinkStyles;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: $skipNav-background-color;
  border-radius: $skipNav-border-radius;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  margin: $skipNav-margin;
  position: absolute;
  /* TODO z-index value needs to revisted */
  z-index: 32;
  padding: $skipNav-padding;
  line-height: $skipNav-line-height;
  font-weight: $skipNav-font-weight;
  color: $skipNav-font-color;
  font-size: $skipNav-font-size;
  overflow: hidden;
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      width: auto;
      height: auto;
    }
  }

  &:focus {
    outline: $global-outline-color auto 2px;
    width: auto;
    height: auto;
    left: 30px;
    top: 37px;
  }
  &:active {
    outline: $global-outline-color auto 2px;
  }
  &:hover {
    color: $skipNav-font-color !important;
  }
}
