<% _.each(allProperties, function(prop) {

var attributes = prop.attributes;

const classAttributesArray = Object.entries(prop.value)

var classAttributes = '';

classAttributesArray.forEach(attribute => {


    classAttributes += `${JSON.stringify(attribute[1]).replace(/\"|\{|\}/g, "")}; `


})

console.log(classAttributes)


%>.<%= attributes["type"] %> { <%= classAttributes %> };<% if (prop.comment) { %> // <%= prop.comment %><% } %>
<% }); %>