<% _.each(allProperties, function(prop) {

var attributes = prop.attributes;

var readableAttributes = JSON.stringify(attributes)

console.log(`****${readableAttributes}`)

console.log(attributes["type"])

console.log(prop.value.value1);

console.log(prop.value.value2);

console.log(prop.value.value3);

%>.<%= attributes["type"] %> <%= JSON.stringify(prop.value.value1) %> ;<% if (prop.comment) { %> // <%= prop.comment %><% } %>
<% }); %>