@mixin pulse($element, $name, $color: $token-color-base-500) {
  // @debug $color;

  &.neo-pulse {
    animation: pulse--#{$element}-#{$name} 2s $global-transition-timing infinite;
    // animation: pulse--#{$element}-#{$name} $global-transition-duration
    //   $global-transition-timing infinite;
    @media (prefers-reduced-motion) {
      animation-name: none;
    }
  }

  @keyframes pulse--#{$element}-#{$name} {
    0% {
      box-shadow: 0 0 0 0 rgba($color, 0.7);
    }

    70% {
      box-shadow: 0 0 0 10px rgba($color, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba($color, 0);
    }
  }
}
