// updated notification styles

@mixin notification-close-btn {
  /* stylelint-disable-next-line selector-class-pattern */
  > .neo-icon-end {
    &:hover {
      cursor: pointer;
    }
    background: none;
    border: none;
    &:before {
      font-size: $notification-close-icon-size;
    }
    align-self: center;
    right: $notification-padding-x;
    @include rtl-selector {
      left: $notification-padding-x;
      right: initial;
    }
  }
}

@mixin notification-message {
  &__message {
    color: $global-text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-right: 16px;
    @include rtl-selector {
      margin-left: 16px;
    }
  }
}

@mixin notification-title {
  &__title {
    letter-spacing: $notification-header-letter-spacing;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: var(--notification-font-color);
    word-break: break-all;

    &--truncated {
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

@mixin notification-description {
  &__description {
    font-size: $notification-description-font-size;
    line-height: $notification-description-line-height;
    letter-spacing: $notification-description-letter-spacing;
    font-weight: $notification-description-font-weight;
    word-break: break-word;
    color: var(--notification-font-color);
    &:not(:first-child) {
      margin-top: $notification-text-spacing;
    }
    &--truncated {
      white-space: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}

@mixin notification-icon {
  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: $notification-large-icon-size;
    line-height: 1;
    margin-right: 1rem;
    @include rtl-selector {
      margin-right: initial;
      margin-left: 1rem;
    }
  }
}

@mixin notification-counter {
  &__counter {
    color: var(--notification-counter-color);
    line-height: $notification-counter-line-height;
    letter-spacing: $notification-counter-letter-spacing;
    font-weight: $notification-counter-font-weight;
    right: $notification-padding-x;
    white-space: pre-wrap;
    margin-right: 0.5rem;
    margin-top: 2px;
    font-size: 0.875rem;
    align-self: flex-start;
  }
  & p {
    margin: 0px;
  }
  @include rtl-selector {
    left: $notification-padding-x;
    right: initial;
    margin-right: initial;
    margin-left: 0.5rem;
  }
}

@mixin notification-elevated {
  &__elevated {
    box-shadow: $notification-elevation-x-offset
      $notification-elevation-y-offset $notification-elevation-radius
      $notification-elevation-color;
  }
}

@mixin notification-options {
  &__options {
    display: flex;
    align-self: flex-start;
    margin-right: 1rem;
    @include rtl-selector {
      left: $notification-padding-x;
      right: initial;
      margin-right: initial;
      margin-left: 1rem;

      & > button:first-child {
        margin-left: $notification-option-spacing;
      }
    }
    & > button:first-child {
      margin-right: $notification-option-spacing;
    }
  }
}

.neo-notification {
  border-width: 1px;
  border-top-width: 0.375rem;
  border-style: solid;
  border-radius: $notification-border-radius;
  color: $notification-font-color;
  display: flex;
  min-height: $notification-min-height;
  margin-bottom: $notification-margin-bottom;
  padding: 1rem;
  border-top-width: 0.375rem;
  position: relative;

  @each $name, $color in $neo-notification-colors {
    &--#{$name} {
      background-color: $color;
      & .neo-notification__button {
        background-image: linear-gradient(
          50deg,
          var(--button-tertiary-hover-background-color) 0%,
          var(--button-tertiary-hover-background-color) 50%,
          $color 50%,
          $color 100%
        );
      }
    }
  }

  @each $name, $color in $neo-icon-colors {
    &--#{$name} .neo-notification__icon {
      color: $color;
    }
  }
  @each $name, $icon in $neo-notification-icons {
    &--#{$name} .neo-notification__icon:before {
      font-family: "updated-neo-icons";
      content: $icon;
    }
  }
  @each $name, $color in $neo-notification-border-colors {
    &--#{$name} {
      border-color: $color;
    }
  }

  &__close {
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 0.5rem;
    @include rtl-selector {
      margin-left: 0.5rem;
    }
    font-size: 2rem;
    line-height: 1;
    display: flex;
    padding: 0px 0px 1rem 0px;

    & > button {
      background: 0 0;
      border: none;
      &:hover {
        cursor: pointer;
      }
      &::before {
        font-size: 1.5rem;
      }
    }
  }

  &__actions {
    display: flex;
    &--multiline {
      & > :first-child {
        margin-top: 1rem;
      }

      & > :first-child:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__button {
    color: var(--notification-button-color);
    border-color: var(--notification-button-color);
    padding: 0px 16px;

    &:hover,
    &:active,
    &:focus {
      color: var(--notification-button-color);
      border-color: var(--notification-button-color);
    }

    &--pressed {
      transform: rotate(180deg);
    }
  }

  &__message {
    container-type: inline-size;

    & .neo-tooltip {
      margin-left: 0.25rem;
      @include rtl-selector {

        margin-left: initial;
        margin-right: 0.25rem;
      }
    }

    & .neo-badge {
      margin-left: 0.25rem;
      margin-right: 1rem;
      top: 12px;
      left: 4px;
      @include rtl-selector {
        left: initial;
        right: 4px;
        margin-left: 1rem;
        margin-right: 0.25rem;
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      color: var(--global-font-color);
    }
  }

  &__timestamp {
    color: var(--global-font-color);
  }

  &__text--truncated {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  a:not(.neo-close) {
    color: $link-color;
  }

  button.neo-icon-end {
    color: $global-text-color;
    padding: 0;
  }

  @include notification-message;
  @include notification-title;
  @include notification-description;
  @include notification-icon;
  @include notification-close-btn;
  @include notification-counter;
  @include notification-elevated;
  @include notification-options;
  @include NeoLinkStyles;
}
