@mixin radio--disabled {
  &[disabled] + label,
  &.neo-radio--disabled + .neo-tooltip > label {
    cursor: not-allowed;
    color: $global-disabled-color;

    &::before {
      border: $radio-disabled-border;
    }
  }
  &.neo-radio--disabled:checked + .neo-tooltip > label {
    &::after {
      background-color: $radio-background;
      border-radius: 50%;
      content: "";
      display: block;
      height: $radio-active-ellipse-size;
      width: $radio-active-ellipse-size;
      left: $radio-ellipse-position-left;
      top: $radio-ellipse-position-top;
      position: absolute;

      @include rtl-selector {
        left: auto;
        right: $radio-ellipse-position-left;
      }
      background-color: $radio-background;
    }

    &::before {
      background-color: $radio-background;
      border: $radio-disabled-border;
      border-radius: 50%;
      content: "";
      display: block;
      height: $radio-size;
      width: $radio-size;
      position: absolute;
      top: $radio-position-top;
    }
  }
}

.neo-radio {
  opacity: 0;
  position: absolute;
  z-index: map-get($indexes-map, "radio");
  &-readonly {
    + label {
      &:before {
        border: 1px solid var(--neo-color-base-400);
      }
    }
    &:checked + label::after {
      background-color: var(--neo-color-base-400);
    }
  }

  &.neo-radio--multiline {
    + label {
      text-indent: 0px;
      padding-left: 24px;
      @include rtl-selector {
        text-indent: 0px;
        padding-right: 24px;
        padding-left: 0px;
      }
      &:before {
        left: 0;
        @include rtl-selector {
          right: 0;
        }
      }
    }

  }

  &:not(&-readonly) {
    + label {
      &:before {
        border: 1px solid $radio-border;
      }
    }
    &:checked + label::after {
      background-color: $radio-background-active-color;
    }
  }
  &:focus {
    + label,
    &:focus:not(.neo-radio--disabled) + .neo-tooltip > label {
      &:before {
        outline: 1px auto $radio-background-active-color;
        outline-offset: 2px;
      }
    }
  }

  .neo-input-group--inline & + label {
    text-indent: $radio-text-offset;
    padding-left: 0px !important;
  }

  + .neo-tooltip {
    margin-top: 8px;
    width: fit-content;
  }

  + .neo-tooltip > label {
    padding-left: 24px;
    pointer-events: initial !important;
  }

  + .neo-tooltip > label,
  + label {
    color: $global-text-color;
    cursor: pointer;
    position: relative;
    text-indent: $radio-text-offset;
    margin-top: 8px;
    font-size: 14px !important;

    @include rtl-selector {
      margin: {
        right: 0;
      }
    }

    &::after {
      border-radius: 50%;
      background-color: $radio-background;
      content: "";
      display: block;
      height: $radio-active-ellipse-size;
      width: $radio-active-ellipse-size;
      left: $radio-ellipse-position-left;
      top: $radio-ellipse-position-top;
      position: absolute;

      @include rtl-selector {
        left: auto;
        right: $radio-ellipse-position-left;
      }
      background-color: $radio-background;
    }

    &::before {
      background-color: $radio-background;
      border-radius: 50%;
      content: "";
      display: block;
      height: $radio-size;
      width: $radio-size;
      position: absolute;
      top: $radio-position-top;
    }
  }

  &:checked + label::after,
  &:checked + .neo-tooltip > label::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: $radio-active-ellipse-size;
    width: $radio-active-ellipse-size;
    left: $radio-ellipse-position-left;
    top: $radio-ellipse-position-top;
    position: absolute;

    @include rtl-selector {
      left: auto;
      right: $radio-ellipse-position-left;
    }
  }

  @include radio--disabled;
}
