// updated styles

@mixin spinner-animation {
  animation: spinner-animation $spinner-animation-duration infinite;
}

@mixin spinner-size($config) {
  @if map_has_key($config, size) {
    height: map_get($config, size);
    width: map_get($config, size);
  }

  @if map_has_key($config, border-width) {
    &::after {
      border-width: map_get($config, border-width);
    }
  }
}

@mixin spinner-size-icon($config) {
  @if map_has_key($config, size) {
    &::after {
      font-size: map_get($config, size);
    }
  }
}

@mixin spin-ring-sizes {
  @each $name, $config in $spinner-ring-sizes {
    @if $name == "default" {
      @include spinner-size($config);
    } @else {
      &--#{$name} {
        @include spinner-size($config);
      }
    }
  }
}

@mixin spin-inside-button {
  .neo-btn > & {
    color: inherit;
    margin-right: $global-spacer-small;

    @include rtl-selector {
      margin: {
        left: $global-spacer-small;
        right: initial;
      }
    }

    @include spinner-size(
      (
        size: 18px,
      )
    );
  }
}

@mixin different-sizes {
  @each $name, $config in $spinner-ring-sizes {
    @if $name == "default" {
      @include spinner-size($config);
    } @else {
      &--#{$name} {
        @include spinner-size($config);
      }
    }
  }
}

@mixin different-icon-sizes {
  @each $name, $config in $spinner-ring-sizes {
    @if $name == "default" {
      @include spinner-size-icon($config);
    } @else {
      &--#{$name} {
        @include spinner-size-icon($config);
      }
    }
  }
}

// Spinner
@mixin neo-spinner {
  color: $spinner-ring-color;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  align-self: center;

  &::after {
    font-family: "updated-neo-icons";
    content: $spinner-icon;
    display: inline-block;
    vertical-align: middle;
    @include spinner-animation;
  }

  .neo-btn > &,
  .neo-multiselect__header > & {
    color: inherit;
    margin-right: $global-spacer;

    @include rtl-selector {
      margin: {
        left: $global-spacer;
        right: initial;
      }
    }
  }

  @include different-icon-sizes;
}

.neo-spinner {
  @include neo-spinner;
}
