@mixin neo-avatar-img {
  .neo-img {
    border-radius: $token-border-radius-100;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 100;
  }
}

@mixin neo-avatar-initials {
  &[#{$avatar-initials-selector}]::before {
    content: attr(#{$avatar-initials-selector});
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

@mixin neo-avatar-sizes {
  &--x-small {
    font-size: $token-web-typography-web-tiny-body-font-size;
    height: $token-avatar-x-small-height;
    width: $token-avatar-x-small-width;
  }

  &--small {
    font-size: $token-web-typography-web-body-regular-font-size;
    height: $token-avatar-small-height;
    width: $token-avatar-small-width;
  }

  &--large {
    font-size: $token-web-typography-web-heading-2-regular-font-size;
    height: $token-avatar-large-height;
    width: $token-avatar-large-width;
  }
}

@mixin avatar-border-color() {
  @each $name, $color in $neo-state-colors {
    &--#{$name} {
      border-color: $token-avatar-avatar-border-color;
      border-style: $token-avatar-avatar-border-style;
      border-width: $token-avatar-avatar-border-width;
    }
  }
}

@mixin neo-avatar-as-thumbnail {
  &.neo-thumbnail {
    background: $global-background;
  }
}

.neo-avatar {
  background: $avatar-background;
  border-radius: $token-border-radius-100;
  color: $avatar-font-color;
  display: inline-block;
  font-size: $avatar-font-size;
  font-weight: $avatar-font-weight;
  height: $avatar-size;
  line-height: $token-avatar-initials-regular-line-height;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: $avatar-size;

  @include neo-avatar-as-thumbnail;
  @include neo-avatar-img;
  @include neo-avatar-sizes;
  @include neo-avatar-initials;
  @include avatar-border-color();
}
