@include neo-icon-context {
  &.neo-dropdown__link {
    $color: $dropdown-color;
    &::before {
      font-size: $global-font-size;
      margin-right: $dropdown-icon-margin-x;

      @include rtl-selector {
        margin: {
          left: $dropdown-icon-margin-x;
          right: initial;
        }
      }
    }
  }
}

@mixin neo-dropdown-arrow(
  $arrow-icon: $dropdown-expand-icon,
  $color: $dropdown-color,
  $padding-left: $dropdown-padding-x
) {
  &::after {
    font-family: "updated-neo-icons";
    content: $arrow-icon;
    padding: 0 0 0 $padding-left;
    vertical-align: middle;
  }
  @include rtl-selector {
    &::after {
      padding: 0 $padding-left 0 0;
    }
  }
  &:not(.neo-dropdown__link-header)::after {
    color: $color;
    position: absolute;
    right: 0px;
    padding: 0 8px 0 0;
    vertical-align: middle;
  }
  @include rtl-selector {
    &:not(.neo-dropdown__link-header)::before {
      color: $color;
      position: absolute;
      left: 0px;
      padding: 0 8px 0 8px;
      vertical-align: middle;
    }
  }
}

@mixin neo-dropdown-item {
  $self: &;

  &__item {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;

    > #{$self}__link {
      color: $global-text-color;

      @include neo-dropdown-arrow(
        $arrow-icon: $dropdown-expand-right-icon,
        $color: $global-text-color
      );
      &::after {
        font-size: 16px;
        vertical-align: middle;
      }
      &.neo-dropdown--disabled {
        cursor: not-allowed;
        color: $dropdown-disabled-font-color;
        
        @include neo-dropdown-arrow(
          $arrow-icon: $dropdown-expand-right-icon,
          $color: $global-disabled-color
        );
      }
    }
  }
}

@mixin neo-dropdown-link {
  $self: &;

  & > &__link {
    display: inline-block;
    @include neo-dropdown-arrow();
  }

  &__link {
    overflow-wrap: break-word;
    white-space: normal;
    color: $global-text-color;
    max-width: 300px;
    cursor: pointer;
    display: block;
    font-size: $dropdown-font-size;
    line-height: $dropdown-line-height;
    padding: $dropdown-padding-y $dropdown-padding-x;
    background-color: var(--global-background);
    border: none;

    &[class*="neo-icon"] {
      text-indent: -11px;
      padding: 8px 25px 8px 30px !important;
    }

    &:not(.neo-dropdown__link-header) {
      padding: $dropdown-padding-y 30px $dropdown-padding-y $dropdown-padding-x;
      @include rtl-selector {
        padding: $dropdown-padding-y $dropdown-padding-x $dropdown-padding-y
          30px;
      }
    }

    text-decoration: none;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $dropdown-item-hover-color;
      color: $global-text-color !important;
      transition: $button-transition;
      transition-property: background-color;
    }
    &-header {
      @include neo-dropdown-arrow();

      &.neo-btn:empty {
        padding: 8px 6px;
        &:before {
          font-size: $button-circle-icon-size;
        }
      }
    }
    &--active {
      &:after {
        color: $global-text-color;
        position: absolute;
        right: 0px;
        padding: 0 8px 0 0;
        vertical-align: middle;
        font-family: "updated-neo-icons";
        content: $dropdown-active-icon;
      }
    }
  }
}

@mixin neo-dropdown-content {
  &__content,
  &__content &__content {
    transition-timing-function: $global-transition-timing;
    left: 100%;
    top: -1px;
    box-shadow: $dropdown-box-shadow;

    @include rtl-selector {
      left: initial;
      right: 100%;
    }
  }

  &__content--left {
    left: auto !important;
    right: 0 !important;
    @include rtl-selector {
      left: 0 !important;
      right: auto !important;
    }
  }

  &__content--right {
    left: 0 !important;
    right: auto !important;
    @include rtl-selector {
      left: auto !important;
      right: 0 !important;
    }
  }

  &__content--left-nested {
    left: auto !important;
    right: 100% !important;
    @include rtl-selector {
      left: 100% !important;
      right: auto !important;
    }
  }

  &__content--right-nested {
    left: 100% !important;
    right: auto !important;
    @include rtl-selector {
      left: auto !important;
      right: 100% !important;
    }
  }

  @include neo-popover-content(
    $dropdown-animation-duration,
    $global-background,
    $modal-border,
    $dropdown-radius,
    none,
    0px,
    map-get($indexes-map, "dropdown-content-z"),
    200px
  );
}

@mixin neo-dropdown-separator {
  & &__separator {
    border-bottom: $dropdown-content-border;
    margin: 0;
    padding: 0;
  }
}

@mixin neo-dropdown-disabled {
  $self: &;
  &--disabled {
    cursor: not-allowed;
    color: $dropdown-disabled-font-color;

    &:hover,
    &:focus {
      background-color: transparent;
      color: $dropdown-disabled-font-color !important;
    }

    #{$self}__link {
      background-color: transparent;
    }
  }
}

@mixin neo-dropdown-avatar {
  .neo-avatar {
    margin: 0 $dropdown-avatar-sm-margin-x 0 0;
    display: inline-flex;

    @include rtl-selector {
      margin: {
        left: $dropdown-avatar-sm-margin-x;
        right: 0;
      }
    }
  }
}

@mixin neo-dropdown-shortcut {
  .neo-dropdown__shortcut--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $dropdown-padding-y $dropdown-padding-x;
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $dropdown-item-hover-color;
      color: $global-text-color !important;
      cursor: pointer;
      & .neo-dropdown__link {
        background-color: $dropdown-item-hover-color;
      }
    }
    .neo-dropdown__link {
      padding: 0;
    }
    .neo-dropdown__shortcut {
      color: $dropdown-shortcut-text-color;
      font-size: $dropdown-shortcut-font-size;
      line-height: $dropdown-shortcut-line-height;
      letter-spacing: $dropdown-shortcut-letter-spacing;
    }
  }
}

@mixin neo-dropdown-position {
  &--left &__content {
    left: auto;
    right: 100%;

    @include rtl-selector {
      left: 100%;
      right: auto;
    }
  }

  &--left > &__content {
    right: 0;

    @include rtl-selector {
      left: 0;
      right: auto;
    }
  }
  &--right &__content {
    left: 100%;
    right: auto;
  }

  &--right > &__content {
    left: 0;

    @include rtl-selector {
      left: auto;
      right: 0;
    }
  }
}

@mixin neo-dropdown-input {
  &--input {
    display: flex;
    align-items: center;
    padding: $dropdown-padding-y $dropdown-padding-x $dropdown-padding-y
      $dropdown-padding-x;
    width: 100%;
    &:hover {
      background-color: $dropdown-item-hover-color;
    }
    .neo-btn-square {
      margin-left: 8px;
      @include rtl-selector {
        margin-left: 0px;
        margin-right: 8px;
      }
    }
    .neo-form-control {
      margin: 0;
      flex-grow: 1;
    }
  }
}

@mixin neo-dropdown-readonly-text {
  .neo-dropdown__readonly-separator {
    border-top: $dropdown-content-border;
  }
  .neo-dropdown__readonly-text {
    font-size: $dropdown-readonly-font-size;
    line-height: $dropdown-readonly-line-height;
    letter-spacing: $dropdown-readonly-letter-spacing;
    font-weight: $dropdown-readonly-font-weight;
    padding: $dropdown-padding-y $dropdown-padding-x;
    color: $dropdown-readonly-font-color;
    margin-block-end: 0px;
  }
}

.neo-dropdown {
  @include NeoLinkStyles;
  box-sizing: border-box;
  display: inline-block;
  position: relative;

  @include neo-dropdown-item;
  @include neo-dropdown-link;
  @include neo-dropdown-content;
  @include neo-dropdown-separator;
  @include neo-dropdown-disabled;
  @include neo-dropdown-avatar;
  @include neo-dropdown-position;
  @include neo-dropdown-input;
  @include neo-dropdown-readonly-text;
  @include neo-popover-states;
  @include neo-dropdown-shortcut;
}
