/* TODO: items

- .neo-sidenav.collapsable (for entire sidenav)

- tooltip ish

- all the transitions (need to check in with Matt on what those should be)

- (React) need an example of using tooltips when line is truncated (after two lines)
*/

:root nav.neo-sidenav,
:root .neo-light nav.neo-sidenav {
  --disabled-font-color: var(--neo-color-base-500);
  --trail-font-color: var(--neo-color-blue-600);
  --chevron-color: var(--neo-color-base-900);

  --active-font-color: var(--neo-color-blue-600);
  --active-border-color: var(--neo-color-blue-600);
  --active-background-color: var(--neo-color-blue-100);
}

:root .neo-dark nav.neo-sidenav {
  --disabled-font-color: var(--neo-color-base-400);
  --trail-font-color: var(--neo-color-blue-300);
  --chevron-color: var(--neo-color-base-0);

  --active-font-color: var(--neo-color-blue-300);
  --active-border-color: var(--neo-color-blue-300);
  --active-background-color: var(--neo-color-blue-800);
}

@media (prefers-color-scheme: light) {
  :root .neo-dynamic nav.neo-sidenav {
    --disabled-font-color: var(--neo-color-base-500);
    --trail-font-color: var(--neo-color-blue-600);
    --chevron-color: var(--neo-color-base-900);

    --active-font-color: var(--neo-color-blue-600);
    --active-border-color: var(--neo-color-blue-600);
    --active-background-color: var(--neo-color-blue-100);
  }
}

@media (prefers-color-scheme: dark) {
  :root .neo-dynamic nav.neo-sidenav {
    --disabled-font-color: var(--neo-color-base-400);
    --trail-font-color: var(--neo-color-blue-300);
    --chevron-color: var(--neo-color-base-0);

    --active-font-color: var(--neo-color-blue-300);
    --active-border-color: var(--neo-color-blue-300);
    --active-background-color: var(--neo-color-blue-800);
  }
}

nav.neo-sidenav {
  width: 240px;

  // shared styles, includes icon sizing and placement, and includes text truncation
  a,
  button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    & span[class^='neo-icon-'] {
      /* HACK: icons are adding fractional pixels (can't figure out why).
      Adjusting the line-height of the containing span fixes it. */
      line-height: 20px;

      &::before {
        font-size: 24px;
        margin-right: 8px;

        @include rtl-selector {
          margin-left: 8px;
          margin-right: unset;
        }
      }
    }

    .neo-sidenav-text-truncation {
      display: -webkit-box;
      overflow: hidden;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      text-align: left;
      word-break: break-all;

      @include rtl-selector {
        text-align: right;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--leftnav-default-color);

    &:hover {
      text-decoration: none;
      color: var(--leftnav-default-color);
      background-color: var(--leftnav-hover-background-color);
    }

    &.active {
      font-weight: 600;
      color: var(--active-font-color);
      background-color: var(--active-background-color);

      &::before {
        content: '';
        position: absolute;
        background-color: var(--active-border-color);

        left: 2px;
        top: 2px;
        bottom: 2px;
        width: 2px;

        @include rtl-selector {
          left: unset;
          right: 2px;
        }
      }
    }
  }

  // disabled link and open/close (chevron) functionality
  button {
    // BUG: we shouldn't have to bet setting `font-family`, unsure why it's not inheriting
    font-family: $token-web-typography-font-family;

    background: none;
    border: none;
    cursor: pointer;

    color: var(--leftnav-default-color);
    width: 100%;

    &:hover:not(:disabled) {
      background-color: var(--leftnav-hover-background-color);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--disabled-font-color);

      &::before {
        color: var(--disabled-font-color);
      }
    }

    // hide invisible children
    &:disabled+ul,
    &:not(.expanded)+ul {
      display: none;
    }

    // button chevron functionality
    &.neo-sidenav-parent:not(:disabled),
    &.neo-sidenav-child:not(:disabled) {
      --chevron-spacing: 12px;
      --chevron-plus-ellipsis-spacing: 24px;

      .neo-sidenav-text-truncation {
        padding-right: var(--chevron-plus-ellipsis-spacing);

        @include rtl-selector {
          padding-right: unset;
          padding-left: var(--chevron-plus-ellipsis-spacing);
        }
      }

      &::after {
        color: var(--chevron-color);
        font-family: "updated-neo-icons";
        content: $token-icons-neo-icon-chevron-down;

        position: absolute;
        right: var(--chevron-spacing);

        @include rtl-selector {
          left: var(--chevron-spacing);
          right: unset;
        }
      }

      &.expanded::after {
        content: $token-icons-neo-icon-chevron-up;
        transition: transform $global-transition-duration;
      }
    }
  }

  // remove default list styles
  ul {
    list-style-type: none;
    margin: 0;
  }

  // "trail" logic
  li {
    position: relative;

    // highlight the child button (`>button`) of the list element that has an active element as a descendant (`li:has(a.active)`)
    &:has(a.active)>button {
      color: var(--trail-font-color);
      font-weight: 600;
    }
  }

  .neo-sidenav-parent {
    padding: 8px 12px;
  }

  .neo-sidenav-category,
  .neo-sidenav-child,
  .neo-sidenav-grandchild {
    padding: 4px 12px;
  }

  --category-left-padding: 48px;
  --child-left-padding: 56px;
  --grandchild-left-padding: 68px;

  &.no-icons {
    --category-left-padding: 16px;
    --child-left-padding: 24px;
    --grandchild-left-padding: 36px;
  }

  .neo-sidenav-category {
    line-height: 24px;
    padding-left: var(--category-left-padding);
    font-size: 12px;
    color: var(--disabled-font-color);

    @include rtl-selector {
      padding-left: inherit;
      padding-right: var(--category-left-padding);
    }
  }

  .neo-sidenav-child {
    padding-left: var(--child-left-padding);

    @include rtl-selector {
      padding-left: inherit;
      padding-right: var(--child-left-padding);
    }
  }

  .neo-sidenav-grandchild {
    padding-left: var(--grandchild-left-padding);

    @include rtl-selector {
      padding-left: inherit;
      padding-right: var(--grandchild-left-padding);
    }
  }
}
