@mixin neo-stepper-text {
  p:first-child {
    color: $stepper-main-font-color;
    font-size: $stepper-main-text-font-size;
    font-weight: $stepper-main-text-font-weight;
    letter-spacing: $stepper-main-text-letter-spacing;
    line-height: $stepper-main-text-line-height;
  }

  p:last-child:not(:only-child) {
    color: $stepper-optional-font-color;
    font-size: $stepper-optional-text-font-size;
    font-weight: $stepper-optional-text-font-weight;
    letter-spacing: $stepper-optional-text-letter-spacing;
    line-height: $stepper-optional-text-line-height;
  }

  &.neo-stepper__item--disabled,
  &.neo-stepper--vertical__item--disabled {
    p:first-child {
      color: $stepper-disabled-main-text-font-color;
      font-weight: $stepper-optional-text-font-weight;
    }
    p:last-child:not(:only-child) {
      color: $stepper-optional-font-color;
    }
  }
}

@mixin neo-stepper-button-cursor {
  &[role="button"] {
    &::before {
      cursor: pointer;
    }
  }
}

.neo-stepper {
  display: flex;
  list-style: none;

  &__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include neo-stepper-button-cursor();
    @include neo-stepper-text();

    p:first-child {
      margin-top: $stepper-text-spacing;
    }

    &::before {
      content: "";
      display: block;
      width: $stepper-indicator-size;
      height: $stepper-indicator-size;
      border: 5px solid $stepper-background-color;
      border-radius: $stepper-indicator-border-radius;
      position: relative;
      margin: 0 auto 0;
      z-index: map-get($indexes-map, "stepper");
    }

    &.neo-stepper__item--active::after {
      background-color: $stepper-disabled-dash-color;
      height: $stepper-disabled-dash-border-width;
    }

    &.neo-stepper__item--complete {
      &::after {
        height: $stepper-dash-border-width;
        background-color: $stepper-background-color;
      }

      &::before {
        font-family: "updated-neo-icons";
        content: $token-icons-neo-icon-check;
        color: white;
        background-color: $stepper-background-color;
        border: unset;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      p:first-child {
        font-weight: $stepper-main-text-complete-font-weight;
      }
    }

    &.neo-stepper__item--editable:before {
      content: "\f19b"; // edit icon
    }

    &.neo-stepper__item--disabled {
      &::before {
        background-color: transparent;
        border: $stepper-disabled-indicator-border-width
          $stepper-dash-border-style $stepper-disabled-indicator-color;
        cursor: not-allowed;
      }
    }

    &:not(:last-child)::after {
      content: "";
      position: relative;
      top: 12px;
      order: -1;

      // add half the width of the circle and add desired spacing
      left: calc(50% + 12px + 8px);
      [dir="rtl"] & {
        right: calc(50% + 12px + 8px);
        left: unset;
      }

      // subtract full width of circle and twice the desired spacing
      width: calc(100% - 24px - 16px);
    }

    &.neo-stepper__item--disabled-next:not(:last-child)::after {
      height: $stepper-disabled-dash-border-width;
      background-color: $stepper-disabled-dash-color;
    }
  }
}

.neo-stepper--vertical {
  display: flex;
  list-style: none;
  flex-direction: column;

  &__item {
    display: flex;
    position: relative;
    padding-bottom: $stepper-dash-width;
    @include neo-stepper-button-cursor();
    @include neo-stepper-text();

    &::before {
      content: "";
      display: block;
      width: $stepper-indicator-size;
      height: $stepper-indicator-size;
      border: 5px solid $stepper-background-color;
      border-radius: $stepper-indicator-border-radius;
      position: relative;
      z-index: map-get($indexes-map, "stepper-vertical");
      flex: 0 0 $stepper-indicator-size;
      top: $stepper-dash-spacing;
    }

    p:only-child {
      position: relative;
      top: 10px;
    }

    &.neo-stepper--vertical__item--active::after {
      width: $stepper-disabled-dash-border-width;
      background-color: $stepper-disabled-dash-color;
    }

    &.neo-stepper--vertical__item--complete {
      &::after {
        width: $stepper-dash-border-width;
        background-color: $stepper-background-color;
      }

      &::before {
        font-family: "updated-neo-icons";
        content: $token-icons-neo-icon-check;
        color: white;
        background-color: $stepper-background-color;
        border: unset;
        border-radius: $stepper-indicator-border-radius;
        align-items: center;
        justify-content: center;
        display: flex;
      }

      p:first-child {
        font-weight: $stepper-main-text-complete-font-weight;
      }
    }

    &.neo-stepper__item--editable:before {
      content: "\f19b"; // edit icon
    }

    &.neo-stepper--vertical__item--disabled {
      &::before {
        background-color: transparent;
        border: $stepper-disabled-indicator-border-width
          $stepper-dash-border-style $stepper-disabled-indicator-color;
        cursor: not-allowed;
      }
    }

    &:not(:last-child)::after {
      content: "";
      position: absolute;
      left: 0;
      top: calc(#{$stepper-indicator-size} + 16px);
      bottom: 0;
      transform: translateX(11px);
      [dir="rtl"] & {
        right: 0;
        left: unset;
        transform: translateX(-11px);
      }
    }

    &.neo-stepper--vertical__item--disabled-next:not(:last-child)::after {
      width: $stepper-disabled-dash-border-width;
      background-color: $stepper-disabled-dash-color;
    }
  }

  &__content {
    margin-left: $stepper-text-spacing;
    [dir="rtl"] & {
      margin-left: unset;
      margin-right: $stepper-text-spacing;
    }
  }
}
