.neo-switch--multiline {
  height: auto !important;

  @include rtl-selector {
    right: 0 !important;
    padding-right: 27px !important;
    padding-left: 0px !important;
  }

  .neo-switch__icon {
    &::after {
      left: 1px !important;
    }
  }

  &.neo-switch input {
    position: absolute;
  }
}
.neo-switch-children {
  height: auto !important;
  white-space: pre-line;
  float: left;
  margin-left: 13px;
  @include rtl-selector {
    float: right !important;
    margin-left: 0 !important;
    margin-right: 13px !important;
  }
}

@mixin switch-input {
  input {
    opacity: 0;
  }
}

@mixin switch-icon {
  /* stylelint-disable-next-line selector-class-pattern */

  input:focus-visible {
    + .neo-switch__icon:before {
      outline: 1px auto $radio-background-active-color;
      outline-offset: 2px;
    }
  }

  input + .neo-switch__icon {
    cursor: pointer;
    display: block;
    left: 0;
    top: 2px;
    position: absolute;
    font-style: normal;

    @include rtl-selector {
      left: auto;
      right: 0;
    }

    &::before,
    &::after {
      border-radius: $switch-border-radius;
      position: absolute;
      transition: $switch-transition;
      font-family: "updated-neo-icons";
    }

    &::before {
      background-color: $switch-off-color;
      height: $switch-height;
      width: $switch-width;
      content: "";
    }

    &::after {
      color: $switch-off-color;
      background-color: $switch-ellipse-color;
      box-shadow: $switch-ellipse-box-shadow;
      height: $switch-knob-size;
      left: $switch-knob-indent-left;
      top: $switch-knob-indent-top;
      transform: translate(0, 0);
      width: $switch-knob-size;
      display: flex;
      align-items: center;
      text-shadow: 0.5px 0px 0px $switch-off-color;;


      @include rtl-selector {
        left: auto;
        right: $switch-knob-indent-left;
      }
    }
  }

  input:not(:checked) + .neo-switch__icon {
    &::after {
      content: "\f16e";
    }
  }
}

@mixin neo-switch--checked {
  /* stylelint-disable-next-line selector-class-pattern */
  input:checked + .neo-switch__icon {
    &::before {
      background-color: $switch-active-color;
    }

    &::after {
      transform: translate($switch-translate-distance, 0);
      content: "\f165";
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $switch-active-color;
      text-shadow: 0.5px 0px 0px $switch-active-color;


      @include rtl-selector {
        transform: translate(-$switch-translate-distance, 0);
      }
    }
  }
}

@mixin neo-switch--disabled {
  &--disabled,
  &--disabled input + &__icon {
    cursor: not-allowed;
  }

  &--disabled {
    color: $global-disabled-color;
  }



  &--disabled input:disabled + &__icon::before {

    background-color: $switch-disabled-off-background-color;
  }

  &--disabled input:checked:disabled + &__icon::before {
    background-color: $switch-disabled-on-background-color;
  }

  &--disabled input:disabled + &__icon::after {
    color: $switch-disabled-off-background-color;
    text-shadow: 0.5px 0px 0px $switch-disabled-off-background-color;
  }

  &--disabled input:checked:disabled + &__icon::after {
    color: $switch-disabled-on-background-color;
    text-shadow: 0.5px 0px 0px $switch-disabled-on-background-color;
  }

  &:focus input:disabled + &__icon,
  &:focus input:checked + &__icon {
    &::before {
      box-shadow: none;
    }
  }
}

.neo-switch {
  @include NeoLinkStyles;
  display: flex;
  height: $switch-label-height;
  line-height: $body-line-height;
  min-width: $switch-width;
  padding-left: 27px;
  position: relative;
  color: $input-label-color;

  @include rtl-selector {
    padding-left: 0;
    padding-right: 27px;
  }

  &:focus-visible .neo-switch__icon {
    &::before {
      box-shadow: $token-shadows-elevation-100-x-offset
        $token-shadows-elevation-100-y-offset
        $token-shadows-elevation-100-radius $switch-elevation-color;
    }
  }

  @include switch-input;
  @include switch-icon;
  @include neo-switch--checked;
  @include neo-switch--disabled;
}

.neo-switch.neo-switch--multiline input + .neo-switch__icon:after {
  @include rtl-selector {
    right: 1px !important;
  }
}
