.neo-ws-layout {
  display: grid;
}

.neo-ws-layout--sidebar {
  grid-template-areas:
    "header header header"
    "leftnav context context"
    "leftnav context context"
    "leftnav context context";
}

.neo-ws-layout--no-sidebar {
  grid-template-areas:
    "header header"
    "context context"
    "context context"
    "context context";
  grid-template-rows: 58px 1fr;
}

.neo-ws-layout--context {
  grid-area: context;
  display: grid;
  padding: 8px;
  gap: 8px;
}

.neo-ws-layout--context-1 {
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

.neo-ws-layout--context-1 .neo-panel {
  grid-row: 1;
}

.neo-ws-layout--context-2 {
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr;
}

.neo-ws-layout--context-2 .neo-panel {
  grid-row: 1;
}

.neo-ws-layout--context-3 {
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
}

.neo-ws-layout--context-3 .neo-panel {
  grid-row: 1;
}

.neo-ws-layout--context-4 {
  grid-template-areas:
    "1"
    "2";
}

.neo-ws-layout--context-5 {
  grid-template-areas:
    "1 3"
    "2 3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.neo-ws-layout--context-5 .neo-panel.neo-ws-layout--context-grid-area-2 {
  grid-column: 1;
}

.neo-ws-layout--context-5 .neo-panel.neo-ws-layout--context-grid-area-3 {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.neo-ws-layout--context-6 {
  grid-template-areas:
    "1 2"
    "1 3";
}

.neo-ws-layout--context-6 .neo-panel.neo-ws-layout--context-grid-area-1 {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.neo-ws-layout--context-7 {
  grid-template-areas:
    "1 2"
    "3 3";
}

.neo-ws-layout--context-7 .neo-ws-layout--context-grid-area-3 {
  grid-row: 2;
  grid-column: span 2;
}

.neo-ws-layout--context-8 {
  grid-template-areas:
    "1 1"
    "2 3";
}

.neo-ws-layout--context-8 .neo-ws-layout--context-grid-area-1 {
  grid-row: 1;
  grid-column: span 2;
}

.neo-ws-layout--context-9 {
  grid-template-areas:
    "1 2"
    "3 4";
}

.neo-ws-layout--context-10 {
  grid-template-areas:
    "1 1 1"
    "2 3 4";
}

.neo-ws-layout--context-10 .neo-ws-layout--context-grid-area-1 {
  grid-row: 1;
  grid-column: span 3;
}

.neo-ws-layout--context-11 {
  grid-template-areas:
    "1 2 3"
    "4 4 4";
}

.neo-ws-layout--context-11 .neo-ws-layout--context-grid-area-4 {
  grid-row: 2;
  grid-column: span 3;
}

.neo-ws-layout--context-12 {
  grid-template-areas:
    "1 2 4"
    "1 3 5";
}

.neo-ws-layout--context-12 .neo-ws-layout--context-grid-area-1 {
  grid-row: span 2;
}

.neo-ws-layout--context-13 {
  grid-template-areas:
    "1 3 4"
    "2 3 5";
  grid-template-rows: 1fr 1fr;
}

.neo-ws-layout--context-13 .neo-ws-layout--context-grid-area-1,
.neo-ws-layout--context-13 .neo-ws-layout--context-grid-area-2 {
  grid-column: 1;
}

.neo-ws-layout--context-13 .neo-ws-layout--context-grid-area-3 {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.neo-ws-layout--context-13 .neo-ws-layout--context-grid-area-4 {
  grid-column: 3;
  grid-row-start: 1;
}
.neo-ws-layout--context-13 .neo-ws-layout--context-grid-area-5 {
  grid-column: 3;
}

.neo-ws-layout--context-14 {
  grid-template-areas:
    "1 3 5"
    "2 4 5";
}

.neo-ws-layout--context-14 .neo-ws-layout--context-grid-area-5 {
  grid-column: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.neo-ws-layout--context-15 {
  grid-template-areas:
    "1 1 1 2 2 2"
    "3 3 4 4 5 5";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}

.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-1,
.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-2 {
  grid-row-start: 1;
}

.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-2 {
  grid-column-start: 4;
  grid-column-end: 7;
}

.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-3,
.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-4,
.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-5 {
  grid-row-start: 2;
}

.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-4 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.neo-ws-layout--context-15 .neo-ws-layout--context-grid-area-5 {
  grid-column-start: 5;
  grid-column-end: 7;
}

.neo-ws-layout--context-16 {
  grid-template-areas:
    "1 1 2 2 3 3"
    "4 4 4 5 5 5";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}

.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-1,
.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-2,
.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-3 {
  grid-row-start: 1;
}

.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-4,
.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-5 {
  grid-row-start: 2;
}

.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-2 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-3 {
  grid-column-start: 5;
  grid-column-end: 7;
}

.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.neo-ws-layout--context-16 .neo-ws-layout--context-grid-area-5 {
  grid-column-start: 4;
  grid-column-end: 7;
}

.neo-ws-layout--context-17 {
  grid-template-areas:
    "1 2 3"
    "4 5 6";
}
