@import "../tokens-import.scss";

:root {
  --neo-color-base-150: #{$token-color-base-150};
  --neo-color-base-850: #{$token-color-base-850};
  --neo-color-data-viz-categorial-green: #{$token-color-data-viz-categorial-green};
  --neo-color-data-viz-categorial-purple-light: #{$token-color-data-viz-categorial-purple-light};
  --neo-color-data-viz-categorial-red: #{$token-color-data-viz-categorial-red};
  --neo-color-data-viz-categorial-pink: #{$token-color-data-viz-categorial-pink};
  --neo-color-data-viz-categorial-teal: #{$token-color-data-viz-categorial-teal};
  --neo-color-data-viz-categorial-orange: #{$token-color-data-viz-categorial-orange};
  --neo-color-data-viz-categorial-blue-mid: #{$token-color-data-viz-categorial-blue-mid};
  --neo-color-blue-100: #{$token-color-blue-100};
  --neo-color-purple-500: #{$token-color-purple-500};
  --neo-color-orange-600: #{$token-color-orange-600};
  --neo-color-base-0: #{$token-color-base-0};
  --neo-color-green-600: #{$token-color-green-600};
  --neo-color-red-900: #{$token-color-red-900};
  --neo-color-red-100: #{$token-color-red-100};
  --neo-color-red-600: #{$token-color-red-600};
  --neo-color-orange-500: #{$token-color-orange-500};
  --neo-color-blue-600: #{$token-color-blue-600};
  --neo-color-green-200: #{$token-color-green-200};
  --neo-color-green-100: #{$token-color-green-100};
  --neo-color-red-400: #{$token-color-red-400};
  --neo-color-orange-900: #{$token-color-orange-900};
  --neo-color-green-800: #{$token-color-green-800};
  --neo-color-green-900: #{$token-color-green-900};
  --neo-color-base-1000: #{$token-color-base-1000};
  --neo-color-orange-400: #{$token-color-orange-400};
  --neo-color-blue-800: #{$token-color-blue-800};
  --neo-color-purple-100: #{$token-color-purple-100};
  --neo-color-red-200: #{$token-color-red-200};
  --neo-color-purple-200: #{$token-color-purple-200};
  --neo-color-orange-800: #{$token-color-orange-800};
  --neo-color-blue-500: #{$token-color-blue-500};
  --neo-color-purple-900: #{$token-color-purple-900};
  --neo-color-purple-800: #{$token-color-purple-800};
  --neo-color-purple-400: #{$token-color-purple-400};
  --neo-color-purple-600: #{$token-color-purple-600};
  --neo-color-blue-900: #{$token-color-blue-900};
  --neo-color-blue-200: #{$token-color-blue-200};
  --neo-color-red-500: #{$token-color-red-500};
  --neo-color-red-800: #{$token-color-red-800};
  --neo-color-green-400: #{$token-color-green-400};
  --neo-color-blue-400: #{$token-color-blue-400};
  --neo-color-orange-100: #{$token-color-orange-100};
  --neo-color-orange-200: #{$token-color-orange-200};
  --neo-color-green-500: #{$token-color-green-500};
  --neo-color-data-viz-categorial-blue-dark: #{$token-color-data-viz-categorial-blue-dark};
  --neo-color-data-viz-categorial-purple: #{$token-color-data-viz-categorial-purple};
  --neo-color-base-100: #{$token-color-base-100};
  --neo-color-base-500: #{$token-color-base-500};
  --neo-color-base-900: #{$token-color-base-900};
  --neo-color-base-200: #{$token-color-base-200};
  --neo-color-base-600: #{$token-color-base-600};
  --neo-color-base-400: #{$token-color-base-400};
  --neo-color-base-800: #{$token-color-base-800};
  --neo-color-data-viz-categorial-dark-blue-mid: #{$token-color-data-viz-categorial-dark-blue-mid};
  --neo-color-data-viz-categorial-dark-purple: #{$token-color-data-viz-categorial-dark-purple};
  --neo-color-data-viz-categorial-dark-purple-light: #{$token-color-data-viz-categorial-dark-purple-light};
  --neo-color-data-viz-categorial-dark-blue-dark: #{$token-color-data-viz-categorial-dark-blue-dark};
  --neo-color-data-viz-categorial-dark-red: #{$token-color-data-viz-categorial-dark-red};
  --neo-color-data-viz-categorial-dark-orange: #{$token-color-data-viz-categorial-dark-orange};
  --neo-color-data-viz-categorial-dark-pink: #{$token-color-data-viz-categorial-dark-pink};
  --neo-color-data-viz-categorial-dark-teal: #{$token-color-data-viz-categorial-dark-teal};
  --neo-color-data-viz-categorial-dark-green: #{$token-color-data-viz-categorial-dark-green};
}
