@mixin rtl-icons($custom-margin-right: $global-icon-offset) {
  @include rtl-selector {
    margin-left: $custom-margin-right;
    margin-right: 0;
  }
}

@mixin neo-icons($custom-margin-right: $global-icon-offset) {
  @include neo-icon-context(true) {
    &:not(:empty) {
      &::before {
        margin-right: $custom-margin-right;

        @include rtl-icons($custom-margin-right);
      }
      &::after {
        margin-left: $custom-margin-right;

        @include rtl-icons($custom-margin-right);
      }
    }
  }
}

.neo-icon--small:before {
  font-size: 16px;
}

.neo-icon--medium:before {
  font-size: 24px;
}

.neo-icon--large:before {
  font-size: 32px;
}
